<% #  (c) 2008-2011 byllgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<script type="text/javascript">
function onEnter( evt, frm ) {

    var keyCode = null;

    if( evt.which ) {
        keyCode = evt.which;
    } else if( evt.keyCode ) {
        keyCode = evt.keyCode;
    }
    if( 13 == keyCode ) {
        frm.submit();
        return false;
    }
    return true;
}
</script>
<%= render_flash %>

<h2><%=t(:view_sessions_new_0)%></h2>

<% form_tag session_path do %>

<p><label for="login"><%=t(:username)%></label><br/>
<%= text_field_tag 'login', @login %></p>
 
<p><label for="password"><%=t(:passwd)%></label><br />
<%= password_field_tag 'password', '', :onkeypress => "return onEnter(event,this.form);" %></p>
 
<p><label for="remember_me"><%=t(:view_sessions_new_3)%></label>
<%= check_box_tag 'remember_me' %></p>
 
<div class="buttons"><%= link_to_function(t(:anmelden), "$(this).up('form').submit()" ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to(t(:register), new_user_path)%></div>

<% end %>
