<script type="text/javascript">
function onEnter( evt, frm ) {

    var keyCode = null;

    if( evt.which ) {
        keyCode = evt.which;
    } else if( evt.keyCode ) {
        keyCode = evt.keyCode;
    }
    if( 13 == keyCode ) {
        frm.submit();
        return false;
    }
    return true;
}
</script>
<%= render_flash %>

<h2><%=t(:view_sessions_new_0)%></h2>

<% form_tag session_path do %>

<p><label for="login"><%=t(:username)%></label><br/>
<%= text_field_tag 'login', @login %></p>
 
<p><label for="password"><%=t(:passwd)%></label><br />
<%= password_field_tag 'password', '', :onkeypress => "return onEnter(event,this.form);" %></p>
 
<p><label for="remember_me"><%=t(:view_sessions_new_3)%></label>
<%= check_box_tag 'remember_me' %></p>
 
<p><%= link_to_function(t(:anmelden), "$(this).up('form').submit()") %>&nbsp;&nbsp;&nbsp;<%= link_to(t(:register), new_user_path)%></p>
<% end %>
