<h1>Listing architectures</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for architecture in @architectures %>
  <tr>
    <td><%=h architecture.name %></td>
    <td><%= link_to 'Show', architecture %></td>
    <td><%= link_to 'Edit', edit_architecture_path(architecture) %></td>
    <td><%= link_to 'Destroy', architecture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New architecture', new_architecture_path %>
