<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<% if editing_metapackage? %>
    <% cart = Cart.find(session[:cart]) %>
	<% name = cart.name %>
	<% if cart.name == "Neues Bündel" %>
<% else %>
	<div class="new_bundle_top"><%= name %></div>
<% end %>
<table width="100%" cellspacing="0">
<tr><td colspan="4" class="jump_list"><%= t(:metacart_choose)%></td></tr>
  <!--  <ul class="cartlist">-->
	<% cart.base_packages.each do |package|%>
<% if editing_metapackage? %>
<% css=cycle("packageList0", "packageList1") %>
  <tr> 
  	<td class="<%= css %>">
         <% if (icon=package.icon(20))!="" 
%>
            <%= icon 
%>
          <%  else 
%>
            <div class="no_package_icon"> &nbsp;</div>
          <% end 
%>
  		<%= link_to(package.name, base_package_path(package), :title => t(:detailed_view)) %></td>
	<td class="<%= css %>" align="middle" valign="middle">
     <% #if !package.stars.nil? 
%>
      <div><!-- style='width:--><%# = (package.stars * 25).to_i 
%><!--px; '>--> </div>
     <% #end 
%>
	</td>
    <td class="<%= css %>" width="30" align="right">
		    
			 <%= link_to_remote((tag "img", { \
		                :src => "/images/delete.png",\
                        :class => "link_img",\
			            :width => 12, :height => 12}),\
			            :url => "/cart/rem_from_cart/" + package.id.to_s,\
			            :update => :meta_cart) %>
		
	</td>
  </tr>

	<% end %>
<% end %>
</table>
<div class="jump_list">
<%= link_to(image_tag("icon_save.png", :size => "17x17", :border => "0")+" "+t(:save), "/cart/save", :class => 'save_button') %>
    <%= link_to_remote(image_tag("icon_delete.png", :size => "11x17", :border => "0")+" "+t(:delete), \
            {:update => 'meta_cart', \
            :url => "/cart/clear"}, \
	    {:class => 'delete_button'}) %>
<%= link_to(t(:view_cart_new_from_list_0), "/cart/new_from_list") %></div>
<% else %>
    <div style="valign:bottom;">
<br /><br /><br /><br /><br /><br />
            <%= link_to(t(:new_bundle), "/metapackages/new") %> <br /><br />
<%= link_to(t(:view_cart_new_from_list_0), "/cart/new_from_list") %>
    </div>
<% end %>
