<% if editing_metapackage? %>
    <% cart = Cart.find(session[:cart]) %>
	<% name = cart.name %>
	<% if cart.name == "Neues Bündel" %>
<% else %>
	<p><%=t(:name_with_colon)%><b><%= name %></b></p>
<% end %>
    <ul class="cartlist">
	<% cart.base_packages.each do |package|%>
	    <li class="cartlist">
           
            <%= package.name %>
            <div class="cartlist">
		        <%= link_to_remote((tag "img", { \
		                :src => "/images/delete.png",\
                        :class => "link_img",\
			            :width => 12, :height => 12}),\
			            :url => user_path(current_user) + "/cart/rem_from_cart/" + package.id.to_s,\
			            :update => :meta_cart) %>
			 </div>
		
	    </li>
	<% end %>
	</ul>

	<%= link_to(image_tag("save.png", :size => "16x16", :border => "0"), user_path(current_user) + "/cart/save") %>
    <%= link_to_remote(image_tag("edit-delete.png", :size => "16x16", :border => "0"), \
            :update => 'meta_cart', \
            :url => user_path(current_user) + "/cart/clear") %>
<br /><br />
<%= t(:metacart_choose)%>
<% else %>
    <div style="valign:bottom;">
            <%= link_to(t(:new_bundle), user_path(current_user) + "/cart/create") %> <br />
    </div>
<% end %>