<h3><%=t(:view_cart_new_from_list_0)%></h3>

<%=t(:view_cart_new_from_list_1)%><br>

<%=t(:view_cart_new_from_list_2)%>
<pre>
debfoster -sn | tail -n +2 | tr ' ' '\n' > packages.list
</pre>
<%=t(:view_cart_new_from_list_3)%>

<%= form_tag({:controller => :cart, :id => :current_user.id, :action => :create_from_list}, :multipart => true)%>
<p><%=t(:view_cart_new_from_list_4)%></p>
<p><%= file_field(:datei, :attachment) %></p>
<p><%= submit_tag(t(:view_cart_new_from_list_5)) %></p>
</form>
