<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<h3><%=t(:view_cart_new_from_list_0)%></h3>

<%=t(:view_cart_new_from_list_1)%><br />

<%=t(:view_cart_new_from_list_2)%>
<pre>
debfoster -sn | tail -n +2 | tr ' ' '\n' | sort -u > packages.list
</pre>
<%=t(:view_cart_new_from_list_3,{:debfoster=>package_link("debfoster")}).html_safe%>

<%= form_tag({:controller => :cart, :id => :current_user.id, :action => :create_from_list}, :multipart => true)%>
<table>
	<tr>
		<td>
			<p><%=t(:view_cart_new_from_list_4)%></p><br />
			<p><%= file_field(:file, :attachment) %></p>
		</td>
		<td>
			<%= t(:or)%>
		</td>
		<td>
			<p><%= t(:paste_package_list)%><br />
			<%=  text_area_tag 'package_list', nil, :size => "50x3"%>
		</td>
	</tr>
</table>



</p>
<p><%= submit_tag(t(:view_cart_new_from_list_5)) %></p>
</form>

<%=t(:view_cart_new_from_list_tip)%>
