<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<% info.each do |arch,inf| %>

  <h3><%= arch.name %></h3>
  <% if !inf[:error].nil? then%>
    <div class="inner0">
	  <span class="headline"><%=t(:view_admins_sync_package_1)%></span><br />
	  <%= inf[:error]%>
    </div>

  <% elsif !inf[:notice].nil? then%>
    <div class="inner0">
      <%= inf[:notice]%>
    </div>

  <% else %>
    <div class="inner0">
      <ul>
	    <li><%=t(:view_admins_sync_package_3)%><%= @repository.name %></li>
	    <li><%=t(:repository_url)%><%= auto_link(inf["url"]) %></li>
	    <li><%=t(:total_packages)%><%= inf["package_count"] %></li>
	    <li><%=t(:new_packages)%><%= inf["new_count"] %></li>
	    <li><%=t(:updatedPackages)%><%= inf["update_count"] %></li>
      </ul>
      <% if inf["failed"].size > 0%>
        <div class="inner1">
          <span class="headline"><%=t(:no_save_database)%></span>
          <ul>
       	    <% inf["failed"].each do |name|%>
    		  <li><%= name %></li>
    	    <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>

