<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<% info.each do |arch,inf| %>

  <h3><%= arch.name %></h3>
  <% if !inf[:error].nil? then%>
    <div class="inner0">
	  <span class="headline"><%=t(:view_admins_sync_package_1)%></span><br />
	  <%= inf[:error]%>
    </div>

  <% elsif !inf[:notice].nil? then%>
    <div class="inner0">
      <%= inf[:notice]%>
    </div>

  <% else %>
    <div class="inner0">
      <ul>
	    <li><%=t(:view_admins_sync_package_3)%><%= @repository.name %></li>
	    <li><%=t(:repository_url)%><%= auto_link(inf["url"]) %></li>
	    <li><%=t(:total_packages)%><%= inf["package_count"] %></li>
	    <li><%=t(:new_packages)%><%= inf["new_count"] %></li>
	    <li><%=t(:updatedPackages)%><%= inf["update_count"] %></li>
      </ul>
      <% if inf["failed"].size > 0%>
        <div class="inner1">
          <span class="headline"><%=t(:no_save_database)%></span>
          <ul>
       	    <% inf["failed"].each do |name|%>
    		  <li><%= name %></li>
    	    <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>

