<span class="headline"><%=t(:view_repositories_edit_0)%></span>
<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
<% form_for(:repository, @repository, {:url => { :id => @repository.id,\
		:action => :update, :distribution_id => params[:distribution_id], \
		}, :html => { :method => :put } }) do |f| %>
	<tr>
	<td><%=t(:view_repositories_edit_1)%></td>
	<td><%= select_distribution @repository, @distributions %></td>
	</tr>
	<tr>
	<td><%=t(:view_repositories_edit_2)%></td>
	<td><%= select_license_type @repository %></td>
	</tr>
	<tr>
	<td><%=t(:view_repositories_edit_3)%></td>
	<td><%= select_security_type @repository %></td>
	</tr>
	<tr>
		<td><%=t(:view_repositories_edit_4)%></td>
		<td><%= f.text_field :url %></td>
	</tr>
	<tr>
        <td><%=t(:view_repositories_edit_5)%></td>
        <td><%= f.text_field :gpgkey %><td>
    </tr>
	<tr>
		<td><%=t(:view_repositories_edit_6)%></td>
		<td><%= f.text_field :subtype %></td>
	</tr>
	<tr>
	<td>
 	<td>
    	<%= f.submit t(:view_repositories_edit_7) %>
  	</td>
	</tr>
<% end %>
</table>
</div>
<%= link_to t(:view_repositories_edit_8), { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>
