<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<span class="headline"><%=t(:view_repositories_edit_0)%></span>
<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
<% form_for(:repository, @repository, {:url => { :id => @repository.id,\
		:action => :update, :distribution_id => params[:distribution_id], \
		}, :html => { :method => :put } }) do |f| %>
	<tr>
	<td><%=t(:view_repositories_edit_1)%></td>
	<td><%= select_distribution @repository, @distributions %></td>
	</tr>
	<tr>
	<td><%=t(:licence)%></td>
	<td><%= select_license_type @repository %></td>
	</tr>
	<tr>
	<td><%=t(:security_type)%></td>
	<td><%= select_security_type @repository %></td>
	</tr>
	<tr>
		<td><%=t(:path)%></td>
		<td><%= f.text_field :url %></td>
	</tr>
	<tr>
        <td><%=t(:gpg_key)%></td>
        <td><%= f.text_field :gpgkey %><td>
    </tr>
	<tr>
		<td><%=t(:subtype)%></td>
		<td><%= f.text_field :subtype %></td>
	</tr>
	<tr>
	<td />
	</tr>
</table>
</div>

<h3><%=t(:dependent_on_repositories)%></h3>
    <table>
        <tr>
      <% i=0 %>
      <% for r in @repository.distribution.repositories %>
        <% checked = @repository.repositories.include?(r) %>
        <td><%=check_box_tag("repo[#{r.id.to_s}]",1,checked) %> <%= h r.name %></td>
        <% i+=1 %>
        <% if i==2 then %>
          <% i=0 %>
          </tr>
        <% end %>
      <% end %>
        </tr>
    </table>
 	<div>
    	<%= f.submit t(:save) %>
  	</div>
<% end %>

<%= link_to t(:back), { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>
