<span class="headline">Repository bearbeiten</span>
<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
<% form_for(:repository, @repository, {:url => { :id => @repository.id,\
		:action => :update, :distribution_id => params[:distribution_id], \
		}, :html => { :method => :put } }) do |f| %>
	<tr>
	<td>Distribution:</td>
	<td><%= select_distribution @repository, @distributions %></td>
	</tr>
	<tr>
	<td>Lizenztyp:</td>
	<td><%= select_license_type @repository %></td>
	</tr>
	<tr>
	<td>Sicherheitstyp</td>
	<td><%= select_security_type @repository %></td>
	</tr>
	<tr>
		<td>Pfad:</td>
		<td><%= f.text_field :url %></td>
	</tr>
	<tr>
		<td>Subtyp</td>
		<td><%= f.text_field :subtype %></td>
	</tr>
	<tr>
 	<td colspan="2" align="center">
    	<%= f.submit "Speichern" %>
  	</td>
	</tr>
<% end %>
</table>
</div>
<%= link_to 'Zurück', { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>
