<span class="headline">Editing repository</span>
<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
<% form_for(:repository, @repository, {:url => { :id => @repository.id,\
		:action => :update, :distribution_id => params[:distribution_id], \
		}, :html => { :method => :put } }) do |f| %>
	<tr>
	<td>Distribution:</td>
	<td><%= select_distribution @repository, @distributions %></td>
	</tr>
	<tr>
	<td>License type:</td>
	<td><%= select_license_type @repository %></td>
	</tr>
	<tr>
	<td>Security type</td>
	<td><%= select_security_type @repository %></td>
	</tr>
	<tr>
		<td>Path:</td>
		<td><%= f.text_field :url %></td>
	</tr>
	<tr>
		<td>Subtype</td>
		<td><%= f.text_field :subtype %></td>
	</tr>
	<tr>
 	<td colspan="2" align="center">
    	<%= f.submit "Update" %>
  	</td>
	</tr>
<% end %>
</table>
</div>
<%= link_to 'Back', { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>
