<span class="headline"><%=_('Repository bearbeiten')%></span>
<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
<% form_for(:repository, @repository, {:url => { :id => @repository.id,\
		:action => :update, :distribution_id => params[:distribution_id], \
		}, :html => { :method => :put } }) do |f| %>
	<tr>
	<td><%=_('Distribution:')%></td>
	<td><%= select_distribution @repository, @distributions %></td>
	</tr>
	<tr>
	<td><%=_('Lizenztyp:')%></td>
	<td><%= select_license_type @repository %></td>
	</tr>
	<tr>
	<td><%=_('Sicherheitstyp:')%></td>
	<td><%= select_security_type @repository %></td>
	</tr>
	<tr>
		<td><%=_('Pfad:')%></td>
		<td><%= f.text_field :url %></td>
	</tr>
	<tr>
        <td><%=_('GPG Schlüssel (Optional):')%></td>
        <td><%= f.text_field :gpgkey %><td>
    </tr>
	<tr>
		<td><%=_('Subtyp:')%></td>
		<td><%= f.text_field :subtype %></td>
	</tr>
	<tr>
	<td>
 	<td>
    	<%= f.submit _("Speichern") %>
  	</td>
	</tr>
<% end %>
</table>
</div>
<%= link_to _('Zurück'), { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>
