<h1><%=t(:view_repositories_index_0)%></h1>

<table>
  <tr>
  </tr>

<% for repository in @repositories %>
  <tr>
    <td><%= link_to t(:view_repositories_index_1), repository %></td>
    <td><%= link_to t(:view_repositories_index_2), edit_repository_path(repository) %></td>
    <td><%= link_to t(:view_repositories_index_3), repository, :confirm => t(:view_repositories_index_4), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:view_repositories_index_5), new_repository_path %>
