<div class="inner0">
<span class="headline">Neu Repository</span>

<%= error_messages_for :repository %>
<table>
<% form_for(@repository, :url => { :action => :create }) do |f| %>
<tr>
	<td>Lizenztyp:</td>
	<td><%= select_license_type %></td>
</tr>
<tr>
	<td>Sicherheitstyp:</td>
	<td><%= select_security_type %></td>
</tr>
<tr>
	<td>Pfad:</td>
	<td><%= tag 'input', { :type => :text, :name => 'url'} %></td>
</tr>
<tr><td colspan="2" align="center">
    <%= f.submit "Anlegen" %>
</td></tr>
<% end %>
</table>
</div>
<%= link_to 'Zurück', distribution_repositories_path(@distribution) %>
