<div class="inner0">
<span class="headline">Neues Repository</span>

<%= error_messages_for :repository %>
<table>
<% form_for(:repository,@repository, :url => { :action => :create }) do |f| %>
<tr>
	<td>Lizenztyp:</td>
	<td><%= select_license_type %></td>
</tr>
<tr>
	<td>Sicherheitstyp:</td>
	<td><%= select_security_type %></td>
</tr>
<tr>
	<td>Pfad:</td>
	<td><%= f.text_field :url %></td>
	<td> (z.B. <i>deb http://de.archive.ubuntu.com/ubuntu/ gutsy</i>)</td>
</tr>
<tr>
    <td>GPG Schlüssel (Optional)</td>
    <td><%= f.text_field :gpgkey %><td>
</tr>
<tr>
	<td>Subtyp:</td>
	<td><%= f.text_field :subtype %></td>
	<td> (z.B. <i>main</i>)</td>
	 <%= hidden_field_tag 'distribution_id',@repository.distribution.id %>

</tr>
<tr><td colspan="2" align="center">
    <%= f.submit "Anlegen" %>
</td></tr>
<% end %>
</table>
</div>
<%= link_to 'Zurück', distribution_repositories_path(@repository.distribution) %>
