<span class="headline"><%=_('Repository anzeigen')%></span>
<p>
<% if is_admin? %>
<%= link_to _('Bearbeiten'), { :action => :edit, :id => @repository.id } %>
&nbsp;&nbsp;
<% end %>
<%= link_to _('Zurück'), { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>

<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
	<tr>
	<td><%=_('Pfad:')%></td>
	<td><%= @repository.name %></td>
	</tr>
	<tr>
	<td><%=_('Paketliste für i386:')%></td>
	<td><%= auto_link(Package.get_url_from_source(@repository.name)[:url]) %></td>
	</tr>
	<tr>
	<td><%=_('Lizenztyp:')%></td>
	<td><% if @repository.license_type == 0 %>
<%=_('        OpenSource')%>
<%  else %>
<%=_('        kommerziell ')%>
<% end %>
</td>
	</tr>
	<tr>
	<td><%=_('Sicherheitstyp:')%></td>
	<td><% if @repository.security_type == 0 %>
<%=_('Nativ')%>
<% elsif @repository.security_type == 1 %>
<%=_('Trusted')%>
<%  else %>
<%=_('Third-Party ')%>
<% end %>
</td>
	</tr>
	<tr>
        <td><%=_('GPG Schlüssel (optional): ')%></td>
        <td><%= @repository.gpgkey %><td>
    </tr>
	<tr>
		<td><%=_('Subtyp:')%></td>
		<td><%= @repository.subtype %></td>
	</tr>
	<tr>
	<td>
 	<td>
  	</td>
	</tr>
</table>
</div>

<h2><%=_('Pakete')%></h2>
<% @repository.packages.each do |p| %>
   <%= p.icon(35)%>
   <%= link_to p.name, package_path(p) %>
   <br />
<% end %>
