<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<span class="headline"><%=t(:repository)%> <%=@repository.name%></span>
<p>
<% if is_admin? %>
<%= link_to t(:edit), { :action => :edit, :id => @repository.id } %>
&nbsp;&nbsp;
<%= sync_link(@repository) %>
&nbsp;&nbsp;
<%= force_sync_link(@repository) %>
&nbsp;&nbsp;
<%= mig_link(@repository) %>
&nbsp;&nbsp;
<%= del_link(@repository) %>
&nbsp;&nbsp;
<% end %>
<%= link_to t(:back), { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>

<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
    <% Architecture.all.each do |arch| %>
  	  <tr>
	  <td><%=t(:view_repositories_show_4, :arch => arch.name)%></td>
      <td><%= auto_link(@repository.get_url(arch)) %>
	  </tr>
    <% end %>
	<tr>
	<td><%=t(:licence)%></td>
	<td><% if @repository.license_type == 0 %>
<%=t(:view_repositories_show_6)%>
<%  else %>
<%=t(:view_repositories_show_7)%>
<% end %>
</td>
	</tr>
	<tr>
	<td><%=t(:security_type)%></td>
	<td><% if @repository.security_type == 0 %>
<%=t(:native)%>
<% elsif @repository.security_type == 1 %>
<%=t(:trusted)%>
<%  else %>
<%=t(:third_party)%>
<% end %>
</td>
	</tr>
	<tr>
        <td><%=t(:gpg_key)%></td>
        <td><%= @repository.gpgkey %><td>
    </tr>
	<tr>
		<td><%=t(:subtype)%></td>
		<td><%= @repository.subtype %></td>
	</tr>
	<tr>
	<td>
 	<td>
  	</td>
	</tr>
</table>
</div>

<% if !@repository.repositories.nil? %>
  <h2><%=t(:dependent_on_repositories)%></h2>
  <ul>
    <% for r in @repository.repositories %>
      <li><%=link_to r.name,repository_url(r)%> </li>
    <% end %>
  </ul>
<% end %>
<h2><%=t(:packages)%></h2>
<% @repository.packages.each do |p| %>
   <%= p.icon(35)%>
   <%= link_to p.name, package_path(p) %>
   <br />
<% end %>
