<span class="headline">Repository anzeigen</span>
<p>
<% if is_admin? %>
<%= link_to 'Bearbeiten', { :action => :edit, :id => @repository.id } %>
&nbsp;&nbsp;
<% end %>
<%= link_to 'Zurück', { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>

<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
	<tr>
	<td>Pfad:</td>
	<td><%= @repository.url %></td>
	</tr>
	<tr>
	<td>Lizenztyp:</td>
	<td><% if @repository.license_type == 0 %>
        OpenSource
        <%  else %>
        kommerziell 
        <% end %>
</td>
	</tr>
	<tr>
	<td>Sicherheitstyp:</td>
	<td><% if @repository.security_type == 0 %>
        Nativ
        <% elsif @repository.security_type == 1 %>
        Trusted
        <%  else %>
        Third-Party 
        <% end %>
</td>
	</tr>
	<tr>
        <td>GPG Schlüssel (optional): </td>
        <td><%= @repository.gpgkey %><td>
    </tr>
	<tr>
		<td>Subtyp:</td>
		<td><%= @repository.subtype %></td>
	</tr>
	<tr>
	<td>
 	<td>
  	</td>
	</tr>
</table>
</div>

<h2>Pakete</h2>
<% @repository.packages.each do |p| %>
   <%= p.icon(35)%>
   <%= link_to p.name, package_path(p) %>
   <br />
<% end %>
