<span class="headline"><%=t(:view_repositories_show_0)%></span>
<p>
<% if is_admin? %>
<%= link_to t(:view_repositories_show_1), { :action => :edit, :id => @repository.id } %>
&nbsp;&nbsp;
<% end %>
<%= link_to t(:view_repositories_show_2), { :controller => :distributions, :action => :show,\
	:id => @repository.distribution.id } %>

<div class="inner0">
<%= error_messages_for :repository %>
<table class="form_table">
	<tr>
	<td><%=t(:view_repositories_show_3)%></td>
	<td><%= @repository.name %></td>
	</tr>
	<tr>
	<td><%=t(:view_repositories_show_4)%></td>
	<td><%= auto_link(Package.get_url_from_source(@repository.name)[:url]) %></td>
	</tr>
	<tr>
	<td><%=t(:view_repositories_show_5)%></td>
	<td><% if @repository.license_type == 0 %>
<%=t(:view_repositories_show_6)%>
<%  else %>
<%=t(:view_repositories_show_7)%>
<% end %>
</td>
	</tr>
	<tr>
	<td><%=t(:view_repositories_show_8)%></td>
	<td><% if @repository.security_type == 0 %>
<%=t(:view_repositories_show_9)%>
<% elsif @repository.security_type == 1 %>
<%=t(:view_repositories_show_10)%>
<%  else %>
<%=t(:view_repositories_show_11)%>
<% end %>
</td>
	</tr>
	<tr>
        <td><%=t(:view_repositories_show_12)%></td>
        <td><%= @repository.gpgkey %><td>
    </tr>
	<tr>
		<td><%=t(:view_repositories_show_13)%></td>
		<td><%= @repository.subtype %></td>
	</tr>
	<tr>
	<td>
 	<td>
  	</td>
	</tr>
</table>
</div>

<h2><%=t(:view_repositories_show_14)%></h2>
<% @repository.packages.each do |p| %>
   <%= p.icon(35)%>
   <%= link_to p.name, package_path(p) %>
   <br />
<% end %>
