<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<%= render_flash %>
<%= link_to t(:back), { :controller => :distributions, :action => :show,\
	:id => @distribution.id }%>
<% if @distribution.nil? | @infos.nil? then%>
<div class="inner0">
	<span class="headline"><%=t(:view_admins_sync_all_1)%></span>
</div>

<% else %>
<div class="inner0">
<span class="headline"><%=t(:view_admins_sync_all_2)%></span>
<% for @info in @infos do%>
  <%= render(:partial => :info, :object => @info) %>
<% end %> 

<% end %> 

</div>
