<%= render_flash %>
<%= link_to t(:back), { :controller => :distributions, :action => :show,\
	:id => @distribution.id }%>
<% if @distribution.nil? | @infos.nil? then%>
<div class="inner0">
	<span class="headline"><%=t(:view_admins_sync_all_1)%></span>
</div>

<% else %>
<div class="inner0">
<span class="headline"><%=t(:view_admins_sync_all_2)%></span>
<% for @info in @infos do%>
<% if !@info.nil?%>
<ul>
	<li><%=t(:repository_url)%><%= @info["url"].nil? ? "" : @info["url"] %></li>
	<li><%=t(:total_packages)%><%= @info["package_count"].nil? ? "" : @info["package_count"]  %></li>
	<li><%=t(:new_packages)%><%= @info["new_count"].nil? ? "" : @info["new_count"] %></li>
	<li><%=t(:updatedPackages)%><%= @info["update_count"].nil? ? "" : @info["update_count"] %></li>	
</ul>
<% if (!@info["failed"].nil?) && (@info["failed"].size > 0)%>
<div class="inner1">
<span class="headline"><%=t(:no_save_database)%></span>
<ul>	
	<% @info["failed"].each do |name|%>
		<li><%= name %></li>
	<% end %>
</ul>	
</div>
<% end %> 
<% end %> 
<% end %> 

<% end %> 

</div>
