<%= render_flash %>
<%= link_to "Zurück", { :controller => :distributions, :action => :show,\
	:id => @distribution.id }%>
<% if @distribution.nil? | @infos.nil? then%>
<div class="inner0">
	<span class="headline">Fehler: Repositories konnten nicht synchronisiert werden</span>
</div>

<% else %>
<div class="inner0">
<span class="headline">Repositories synchronisiert</span>
<% for @info in @infos do%>
<ul>
	<li>Repository-URL: <%= @info["url"] %></li>
	<li>Pakete insgesamt: <%= @info["package_count"] %></li>
	<li>Neu hinzugefügte Pakete: <%= @info["new_count"] %></li>
	<li>Aktualisierte Pakete: <%= @info["update_count"] %></li>	
</ul>
<% if @info["failed"].size > 0%>
<div class="inner1">
<span class="headline">Die folgenden Pakete konnten nicht in der Datenbank gespeichert werden:</span>
<ul>	
	<% @info["failed"].each do |name|%>
		<li><%= name %></li>
	<% end %>
</ul>	
</div>
<% end %> 
<% end %> 

<% end %> 

</div>
