<%= render_flash %>
<%= link_to "Zurück", { :controller => :distributions, :action => :show,\
	:id => @repository.distribution_id }%>
<div class="inner0">
<span class="headline">Repository synchronisiert</span>
<ul>
	<li>Repository: <%= @repository.url %></li>
	<li>Repository-URL: <%= @info["url"] %></li>
	<li>Pakete insgesamt: <%= @info["package_count"] %></li>
	<li>Neu hinzugefügte Pakete: <%= @info["new_count"] %></li>
	<li>Aktualisierte Pakete: <%= @info["update_count"] %></li>	
</ul>
<% if @info["failed"].size > 0%>
<div class="inner1">
<span class="headline">The following Packages couldn't be saved to the database:</span>
<ul>	
	<% @info["failed"].each do |name|%>
		<li><%= name %></li>
	<% end %>
</ul>	
</div>
<% end %> 


</div>
