<%= render_flash %>
<%= link_to _("Zurück"), { :controller => :distributions, :action => :show,\
	:id => @repository.distribution_id }%>
<% if !@info[:error].nil? then%>
<div class="inner0">
	<span class="headline"><%=_("Fehler: Repository konnte nicht synchronisiert werden")%></span><br>
	<%= @info[:error]%>
</div>

<% else %>
<div class="inner0">
<span class="headline"><%=_("Repository synchronisiert")%></span>
<ul>
	<li><%=_("Repository: ")%><%= @repository.name %></li>
	<li><%=_("Repository-URL: ")%><%= auto_link(@info["url"]) %></li>
	<li><%=_("Pakete insgesamt: ")%><%= @info["package_count"] %></li>
	<li><%=_("Neu hinzugefügte Pakete: ")%><%= @info["new_count"] %></li>
	<li><%=_("Aktualisierte Pakete: ")%><%= @info["update_count"] %></li>	
</ul>
<% if @info["failed"].size > 0%>
<div class="inner1">
<span class="headline"><%=_("Die folgenden Pakete konnten nicht in der Datenbank gespeichert werden:")%></span>
<ul>	
	<% @info["failed"].each do |name|%>
		<li><%= name %></li>
	<% end %>
</ul>	
</div>
<% end %> 

<% end %> 

</div>
