<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<span class="headline"><%=t(:press_archiv)%></span>
<div class="inner1">
<p><%=t(:press_archiv_editorial)%></p>
<table cellpadding="3">
  <tr>
    <th align="left"><%=t(:press_date)%></th>
    <th align="left"><%=t(:press_title)%></th>
   <!-- <th align="left"><%=t(:view_users_index_5)%></th>
    <th align="left"><%=t(:view_users_index_6)%></th>-->
  </tr>
  <tr><td colspan="2"><hr></td></tr>
    <%= render :partial => 'article', :collection => @articles %>
</table>
<% if is_admin? %>
<%=link_to(t(:new_article), '/articles/new')%>
<% end %>
</div>


