<div id="container">
  <% form_for(@account, :html => { :class => "niceform" }) do |f| %>

    <fieldset>
    	<legend>Account Info</legend>
        <dl>
        	<dt><label for="login">Login:</label></dt>
          <dd><%= f.text_field :login %></dd>
        </dl>
        <dl>
        	<dt><label for="Permission">Permission:</label></dt>
          <dd>
          	<%= f.radio_button :permission, "1" %><label for="account_permission_1" class="opt">User&nbsp;</label><br />
            <%= f.radio_button :permission, "3" %><label for="account_permission_3" class="opt">Admin&nbsp;</label>
          </dd>
        </dl>
    </fieldset>
    <fieldset>
    	<legend>Personal Info</legend>
        <dl>
        	<dt><label for="firstname">Firstname:</label></dt>
          <dd><%= f.text_field :firstname %></dd>
        </dl>
        <dl>
        	<dt><label for="lastname">Lastname:</label></dt>
          <dd><%= f.text_field :lastname %></dd>
        </dl>
        <dl>
        	<dt><label for="email">Email:</label></dt>
          <dd><%= f.text_field :email %></dd>
        </dl>
        <dl>
        	<dt><label for="gender">Gender:</label></dt>
          <dd>
          	<%= f.radio_button :gender, "2" %><label for="account_gender_2" class="opt">female&nbsp;</label>
            <%= f.radio_button :gender, "1" %><label for="account_gender_1" class="opt">male&nbsp;</label>
            <%= f.radio_button :gender, "0" %><label for="account_gender_0" class="opt">don't ask&nbsp;</label>
          </dd>
        </dl>
        <dl>
        	<dt><label for="newsletter">Newsletter:</label></dt>
          <dd>
          	<%= f.radio_button :newsletter, "1" %><label for="account_newsletter_1" class="opt">yes&nbsp;</label>
            <%= f.radio_button :newsletter, "0" %><label for="account_newsletter_1" class="opt">no&nbsp;</label>
          </dd>
        </dl>
    </fieldset>
    <fieldset class="action">
      <%= f.submit "Update account settings" %>
    </fieldset>
  <% end %>
</div>
