<%= error_messages_for :account %>

<div id="container">
  <% form_for (:account, :url => accounts_path, :html => { :class => "niceform" }) do |f| %>
    <fieldset>
    	<legend>SignUp</legend>
        <dl>
        	<dt><label for="login">Login:</label></dt>
          <dd><%= f.text_field :login %></dd>  
        </dl>
        <dl>
        	<dt><label for="email">E-Mail:</label></dt>
          <dd><%= f.text_field :email %></dd>  
        </dl>
        <dl>
        	<dt><label for="password">Password:</label></dt>
          <dd><%= f.password_field :password %></dd>  
        </dl>
        <dl>
        	<dt><label for="password_confirmation">Confirm Password</label></dt>
          <dd><%= f.password_field :password_confirmation %></dd>
        </dl>
    </fieldset>
    <fieldset class="action">
      <%= submit_tag 'Sign up' %>
    </fieldset>
  <% end -%>
</div>