<div id="column_left">
  <h1>Your currently installed packages:</h1>

  <div>
    <ul class="package_list">
      <% @packages.each do |p| %>
      <li class="package_item">
        <p class="package_name"><%= link_to p.name, p  %> <%= link_to image_tag("comment_edit.png"), p  %></p>
        <div class="star-ratings-block" id="star-ratings-block-<%=h p.id %>">
            <%= render :partial => "rating/rating", :locals => { :package => p } %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="column_right">
  
  <h1>Account Information:</h1>

  <ul id="account_data">
    <li>
      <strong>Firstname:</strong><span><%=h @account.firstname %>&nbsp;</span>
    </li>
    <li>
      <strong>Lastname:</strong><span><%=h @account.lastname %>&nbsp;</span>
    </li>
    <li>
      <strong>Newsletter:</strong><span><% case @account.newsletter when 1 %>yes<% when 0 %>no<% when nil %>no<% end %></span>
    </li>
    <li>
      <strong>Gender:</strong><span><% case @account.gender when 1 %>male<% when 2 %>female<% when 0 %>not specified<% when nil %>not specified<% end %></span>
    </li>
    <li>
      <%= link_to 'Edit', edit_account_path(@account.id) %>
    </li>
  </ul>

</div>