<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<h2><%=t(:view_sent_index_0)%></h2>
	<%= render_flash %>

<% if sent_messages? %>
	<table>
      <tr>
        <th><%=t(:an)%></th>
        <th><%=t(:subject_without_colon)%></th>
        <th><%=t(:view_sent_index_3)%></th>
      </tr>

      <% for message in @messages %>
        <tr>
          <td><%=h message.recipients.map(&:login).to_sentence %></td>
          <td><%= link_to h(message.subject), sent_path(message) %></td>
          <td><%= change_date_time(message.created_at) %></td>
        </tr>
      <% end %>
    </table>
<% else %>
	<p><%=t(:view_sent_index_5)%></p>
<% end %>
	
<%= link_to t(:back), user_path(current_user.id)%>
