<h2><%=_('Betreff: ')%><%=h(@message.subject) %></h2>
<p><strong><%=_('An:')%></strong> <%= @message.recipients.map(&:login).to_sentence %></p>
<p><strong><%=_('Zeitpunkt:')%></strong> <%= change_date_time(@message.created_at) %></p>

<pre><%=h @message.body %></pre>

<%= link_to _("zurück"), user_path(current_user.id)%>