<div id="column_left">
  <h1>This might interest you:</h1>

  <div>
    <ul class="package_list">
      <% @suggested_packages.each_index do |i| %>
      <li class="package_item">
        <p class="package_name"><%= link_to @suggested_packages[i].name, @suggested_packages[i]  %> <%= link_to image_tag("download.png"), "apt://#{@suggested_packages[i].name}"  %> <%  h @fp_measure[i] %></p>
        <div class="star-ratings-block" id="star-ratings-block-<%=h @suggested_packages[i].id %>">
            <%= render :partial => "rating/show", :locals => { :package => @suggested_packages[i] } %>
        </div>
      </li>
      <% end %>
      <% if @suggested_packages.length == 0 %>
        <li>Unfortunately there are no suggestions for you at this moment. Please check out again this section at a later point.</li>
      <% i = 1 %>
      <% end %>

    </ul>
  </div>
</div>
<div id="column_right">
  <h1>highest-rated packages:</h1>

  <div>
    <ul class="package_list">
      <% @userrated_packages.each_index do |i| %>
      <li class="package_item">
        <p class="package_name"><%= link_to @userrated_packages[i].name, @userrated_packages[i]  %> <%= link_to image_tag("download.png"), "apt://#{@userrated_packages[i].name}"  %> <%  h @fp_measure[i] %></p>
        <div class="star-ratings-block" id="star-ratings-block-<%=h @userrated_packages[i].id %>">
            <%= render :partial => "rating/show", :locals => { :package => @userrated_packages[i] } %>
        </div>
      </li>
      <% end %>
      <% if @userrated_packages.length == 0 %>
        <li>Unfortunately there are no suggestions for you at this moment. Please check out again this section at a later point.</li>
      <% i = 1 %>
      <% end %>

    </ul>
  </div>
</div>