<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<h2><%=t(:bundle_to_livecd, :name => @bundle.name)%></h2>
<%= render_flash %>
<%= render :partial => 'box', :locals => {:grey => false} %>

<%= render :partial => 'livecd_form',
           :locals => {:cd => @cd, :bundle => true} %>

<hr />
<%= render :partial => 'livecds' %>
