<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>


<%= render :partial => "path" %>

<% usb = session[:path]=="usb" %>
<br>
<% if is_anonymous? and session[:path]!="install" %>
<%=t(:livecd_please_register, :register => link_to(t(:register_small), edit_user_path(current_user)), :login => link_to(t(:login_small), '/logout_login'))%>
<% elsif @cd.nil?%>
  <%= t(:please_create_cd) %>
<% else %>
  <%= render :partial => 'livecd_form', 
               :locals => {:cd => @cd, :default_name => @default_name, :bundle => false} %>

   <% if @cd.generated %>
     <% if usb %>
	   <%= t(:usb_howto) %>
	 <% else %>
       <%= t(:iso_howto, :brasero => package_link("brasero"), :k3b => package_link("k3b"))%>
	 <% end%> 
    <% end %>
	</p>
			   
<% end %>

