<form action="">
	<div id="checkboxes">
		<input id="blaucheck" class="cdcheck" type="checkbox" onchange="toggle('blau')" checked /> Eins <br />
		<input id="gelbcheck" class="cdcheck" type="checkbox" onchange="toggle('gelb')" checked /> Zwei <br />
		<input id="gruencheck" class="cdcheck" type="checkbox" onchange="toggle('gruen')" checked /> Drei <br />
		<input id="lilacheck" class="cdcheck" type="checkbox" onchange="toggleCd('lila')" checked /> Vier <br />
		<input id="rosacheck" class="cdcheck" type="checkbox" onchange="toggleCd('rosa')" checked /> Fünf <br />
		<input id="rotcheck" class="cdcheck" type="checkbox" onchange="toggleCd('rot')" checked /> Sechs <br />
	</div>
	
	<div id="cdimage">
		<%= image_tag "create/cd.png", :class => "cd" %>
		<%= image_tag "create/blau.png", :class => "cd", :id => "blau" %>
		<%= image_tag "create/gelb.png", :class => "cd", :id => "gelb" %>
		<%= image_tag "create/gruen.png", :class => "cd", :id => "gruen" %>
		<%= image_tag "create/lila.png", :class => "cd", :id => "lila" %>
		<%= image_tag "create/rosa.png", :class => "cd", :id => "rosa" %>
		<%= image_tag "create/rot.png", :class => "cd", :id => "rot" %>
		<%= image_tag "create/transparent.png", :class => "cd", :usemap => "#cdmap" %>
	
		<map name="cdmap" class="cd">
			<area id="blauarea" href="#" shape="poly" coords="<%= coords 0, 45 %>" onclick="toggleCd('blau')" />	
			<area id="gelbarea" href="#" shape="poly" coords="<%= coords 90, 135 %>" onclick="toggleCd('gelb')" />
			<area id="gruenarea" href="#" shape="poly" coords="<%= coords 180, 225 %>" onclick="toggleCd('gruen')" />
			<area id="lilaarea" href="#" shape="poly" coords="<%= coords 45, 90 %>" onclick="toggleCd('lila')" />	
			<area id="rosaarea" href="#" shape="poly" coords="<%= coords 135, 180 %>" onclick="toggleCd('rosa')" />
			<area id="rotarea" href="#" shape="poly" coords="<%= coords 225, 360 %>" onclick="toggleCd('rot')" />
		</map>
	</div>
	<div id="rightarea">		
		<%= link_to raw("<div id='profibutton'></div>"), :action => "livecd_pro" %>
		<div id="furtherbutton" onclick="submit()"></div>
	</div>
</form>