<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<%= render :partial => "path" %>

<h2><%=t(:add_sources)%></h2>
<%= render_flash %>

<% if !["install_bundle","install_package"].include?(session[:path]) and current_user.selected_packages.empty? %>
<%=t(:view_user_profiles__installation_1)%>

<% else %>

 <% url1 = case session[:path]
    when "install_bundle" then "/suggestion/install_bundle_sources/#{session[:bundle]}" 
    when "install_package" then "/suggestion/install_package_sources/#{session[:package]}"
    else '/suggestion/install_sources'
	end
  %>	
        <%= link_to image_tag("/images/sources.jpg", :size => "22x22", :border => "0", :title => t(:add_sources), :alt => t(:add_sources)), url1 %>
		<%= link_to t(:view_user_profiles__installation_16) , url1  %> 
        <br /><%=t(:view_user_profiles__installation_17)%> 
		<br /><%= link_to t(:more_about_sources), '/home/faq/#a19', :target => '_blank'%>
        <br /><%=t(:view_user_profiles__installation_30)%><br />

<%=t(:view_user_profiles__installation_34, :sources => link_to (t(:sources), "/download/sources"))%>
<% end %>
</div>
