<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>


<%= error_messages_for :user_profile %>
<%= render :partial => "path" %>

<% if current_user.anonymous? and session[:path]!="install" %>
<%=t(:livecd_please_register, :register => link_to(t(:register_small), edit_user_path(current_user)), :login => link_to(t(:login_small), '/logout_login'))%>
<% else %>

<h2><%=t(:view_user_profiles__profile_rating_0)%></h2>

<%= form_remote_tag(:url => "/user_profile/update_ratings", :name => "ratings", :html => {:id => "ajax"})  %>
<%=t(:which_programs_do_you_need)%> <%=t(:view_user_profiles__profile_rating_1)%>

<div class="user_profile_box">
<div id="category_list">

<%first_c=@categories[0][:category]%>
<%@categories.each do |c| %>
<% if c[:category].main == true %>
<div id="category_<%=c[:category].id%>" 
  style="margin-left: <%=(c[:depth]-1)*15%>px;"
  class="user_profile_edit_cat <%=if (c[:category]==first_c) then "category_active" end%>"
  onclick="user_profile_edit_show_category(<%=c[:category].id.to_s%>);">
<%= "<a class='tt'>"+c[:category].name+
        "<span class='tooltip'><span class='top'></span><span class='middle'>"+
        c[:category].description+
        "</span><span class='bottom'></span></span></a>" %>
</div>
<% end %>
<% end %>
</div>

<div>
<%first_c=@categories[0][:category]%>
<%  @categories.each do |c| %>
<% @var1 = t(:tested_bundle) %>
<% @var2 = t(:untested_bundle) %>
  <div id="category_bundle_<%=c[:category].id%>" 
       <%=if (c[:category]!=first_c) then 'style="display: none"' else 'class="bundle_category_active"' end%>>
<%=check_box_tag("categories[" + c[:category].id.to_s + "]", 1, @ratings[c[:category].id], 
               :onclick => "user_profile_edit_show_category("+c[:category].id.to_s+"); "+check_bundles(c[:category]),
               :onchange => "user_profile_edit_save_categories();")%>
 <%=t(:select_default_bundles,:category=>c[:category].name)%><br />

<div id="bundle_list">

<%    c[:bundles].each do |b| %>
<% if b.tested %>
<%      selected = @selection.include? b %>
<% @var1 += "<div id=\"metapackages_{b.id}>\" class=\"user_profile_edit_bundle\" >" %>
         <% @var1 += check_box_tag("post[" + b.id.to_s + "]", 1, selected,
               :onchange => "user_profile_edit_save_categories();")%>
             <% @var1 += "  "+link_to(b.name+"<span class='tooltip'><span class='top'></span><span class='middle'>"+(render :partial => 'bundle_description', :locals => {:bundle => b})+"</span><span class='bottom'></span></span>",metapackage_url(:id => b.id), :target => '_blank', :class => "tt")%> 
 <% @var1 += "<br /></div>" %>
<% else %>
<%      selected = @selection.include? b %>
<% @var2 += "<div id=\"metapackages_{b.id}>\" class=\"user_profile_edit_bundle\" >" %>
         <% @var2 += check_box_tag("post[" + b.id.to_s + "]", 1, selected,
               :onchange => "user_profile_edit_save_categories();")%>
             <% @var2 += "  "+link_to(b.name+"<span class='tooltip'><span class='top'></span><span class='middle'>"+(render :partial => 'bundle_description', :locals => {:bundle => b})+"</span><span class='bottom'></span></span>",metapackage_url(:id => b.id), :target => '_blank', :class => "tt")%> 
 <% @var2 += "<br /></div>" %>
<% end %>
<%    end %>
<% if @var1 != t(:tested_bundle) %>
<%= @var1 %>
<hr>
<% end %>
<% if @var2 != t(:untested_bundle) %>
<% if @var1 == t(:tested_bundle) %>
<% @var2 = @var2.gsub(t(:untested_bundle),'') %>
<% end %>
<%= @var2 %>
<% end %> 
 </div>
 </div>
<% end %>
</div>
<div class="clear_all"></div>
</div>  

</form>
<p><%=link_to t(:offer_new_category), "/home/contact_us/cat"%></p>

<p><br /><%=t(:want_to_add_package)%>
   <%=link_to t(:want_to_add_package2), "/metapackages/bundle_from_selection"%></p>

</div>  
<% end %>
