<% #  (c) 2008-2011 byllgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>


<%= render_flash %>
<%= error_messages_for :user_profile %>
<%= render :partial => "path" %>

<h2><%=t(:view_user_profiles__profile_data_0)%></h2>

<%= form_remote_tag(:url => "/user_profile/update_data", :name => "data", :html => {:id => "ajax"})  %>

<p><%=t(:view_user_profiles__profile_data_1)%></p>

    <ol>	
     <li><p><%=t(:view_user_profiles__profile_data_6)%><%= link_to(t(:view_user_profiles__profile_data_7),'/download/help')%><br />
		<% if !@dist_string.nil? %>
<%=t(:view_user_profiles__profile_data_8)%><%= @dist_string %>
		<% end %>
</p>

<%= render :partial => 'distribution' %>
        |

        <% Derivative.all.each do |der|%>
	      <% selected = der == current_user.derivative %>
		  <%= radio_button_tag('user[derivative_id]',der.id, selected, :onchange => "download_save_settings();")%> <%=h der.name%>
        <% end %>
        |
        <% Architecture.all.each do |arch|%>
	  	  <% selected = arch == current_user.architecture %>
		  <%= radio_button_tag('user[architecture_id]',arch.id, selected, :onchange => "download_save_settings();")%> <%=h arch.name%>
        <% end %>
		
	</li>
    	<% options = Array.new(Package.security_types.length, false) %>
		<% options[current_user.security] = true %>
		
     <li><p><%=t(:view_user_profiles__profile_data_9)%></p>
        
        <%= radio_button_tag "user[security]", "0", options[0], :onchange => "download_save_settings();" %><%=t(:view_user_profiles__profile_data_10)%><br />
        <%= radio_button_tag "user[security]", "1", options[1], :onchange => "download_save_settings();" %><%=t(:view_user_profiles__profile_data_11)%>
        <%= package_link "gdmap"%>, <%= package_link "pdfedit"%>, <%= package_link "Acroread"%>, ... )<br />
        <%= radio_button_tag "user[security]", "2", options[2], :onchange => "download_save_settings();" %><%=t(:view_user_profiles__profile_data_12)%>
        <%= package_link "Skype"%>, <%= package_link "Virtualbox"%>, DVDs ... )<br />
         </li>
    <li><div style="margin-bottom:30px">
    	<% options = Array.new(Package.license_types.length, false) %>
    	<% if logged_in? %>
    		<% options[current_user.license] = true %>
        <% elsif not session[:license].nil? %>
            <% options[session[:license]] = true %>
        <% else %>
            <% options[1] = true %>
        <% end %>
        <p><%=t(:view_user_profiles__profile_data_13)%></p>
        <%= radio_button_tag "user[license]", "0", options[0], :onchange => "download_save_settings();" %><%=t(:view_user_profiles__profile_data_14)%><br />
        <%= radio_button_tag "user[license]", "1", options[1], :onchange => "download_save_settings();" %><%=t(:view_user_profiles__profile_data_15)%>
         <%= package_link "Skype"%>, <%= package_link "Acroread"%>, ... )<br />
        </div></li>
    <li><%= check_box_tag "user[advanced]", 1, @user.advanced, 
          {:onclick => remote_function(:url=>{:action=>:settings_ajax},
                                       :checked => @user.advanced,
                                       :update => "distributions",
                                       :with=>'Form.Element.serialize(this)')}  %>
         <%=t(:advanced_user)%><br /></li>
	</ol>

</form>
</div>