<form action="">
	<div id="leftarea">
		<input id="blaucheck" class="cdcheck" type="checkbox" onchange="toggleCd('blau')" checked /> Multimedia <br />
		<input id="gelbcheck" class="cdcheck" type="checkbox" onchange="toggleCd('gelb')" checked /> Grafik <br />
		<input id="gruencheck" class="cdcheck" type="checkbox" onchange="toggleCd('gruen')" checked /> Office <br />
		<input id="lilacheck" class="cdcheck" type="checkbox" onchange="toggleCd('lila')" checked /> Spiele <br />
		<input id="rosacheck" class="cdcheck" type="checkbox" onchange="toggleCd('rosa')" checked /> Filesharing <br />
		<input id="rotcheck" class="cdcheck" type="checkbox" onchange="toggleCd('rot')" checked /> Windows-Umstieg <br />
		<%= link_to "mehr Auswahl", "/download/bundles" %><br />
		<br />
		 <%= collection_select(:user, :distribution, Distribution.all, :id, :short_name, {}, :onchange => "download_save_settings();") %><br />
		 <%= collection_select(:user, :derivative, Derivative.all, :id, :name, {}, :onchange => "download_save_settings();") %><br />
		 <%= collection_select(:user, :architecture, Architecture.all, :id, :name, {}, :onchange => "download_save_settings();") %><br />
		<%= link_to "Einstellungen", "/download/settings" %><br />
	</div>
	
	<div id="centerarea">
		<%= image_tag "create/cd.png", :class => "cd" %>
		<%= image_tag "create/blau.png", :class => "cd", :id => "blau" %>
		<%= image_tag "create/gelb.png", :class => "cd", :id => "gelb" %>
		<%= image_tag "create/gruen.png", :class => "cd", :id => "gruen" %>
		<%= image_tag "create/lila.png", :class => "cd", :id => "lila" %>
		<%= image_tag "create/rosa.png", :class => "cd", :id => "rosa" %>
		<%= image_tag "create/rot.png", :class => "cd", :id => "rot" %>
		<%= image_tag "create/transparent.png", :class => "cd", :usemap => "#cdmap" %>
	
		<map name="cdmap" class="cd">
			<area id="blauarea" href="#" shape="poly" coords="<%= coords 0, 45 %>" onclick="toggleCd('blau')" />	
			<area id="gelbarea" href="#" shape="poly" coords="<%= coords 90, 135 %>" onclick="toggleCd('gelb')" />
			<area id="gruenarea" href="#" shape="poly" coords="<%= coords 180, 225 %>" onclick="toggleCd('gruen')" />
			<area id="lilaarea" href="#" shape="poly" coords="<%= coords 45, 90 %>" onclick="toggleCd('lila')" />	
			<area id="rosaarea" href="#" shape="poly" coords="<%= coords 135, 180 %>" onclick="toggleCd('rosa')" />
			<area id="rotarea" href="#" shape="poly" coords="<%= coords 225, 360 %>" onclick="toggleCd('rot')" />
		</map>
		<%= link_to "mehr Auswahl", "/download/bundles" %><br />
	</div>
	<div id="rightarea">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
        Name deiner <br />Ubuntu-Zusammenstellung: <br />
          <%= text_field_tag(:name,current_user.login) %>
          <br />
		Icon auswählen<br />  
		Icon hochladen<br />  
		Ubuntu schon installiert? <%= link_to "Los geht's", "/download/installation" %><br />
		Neues Ubuntu erstellen <%= link_to "Los geht's", "/livecds/show" %><br />

	</div>
</form>