<%= render_flash %>

<form action="">
	<div id="leftarea">
		<%= image_tag "create/Multimedia_suess_bunt_hintergrundlos.png", :width => "40px"%><input id="blaucheck" class="cdcheck" type="checkbox" onchange="toggleCd('blau')" checked /> Multimedia <br />
		<%= image_tag "create/Grafik_bunt_hintergrundlos.png", :width => "40px"%><input id="gelbcheck" class="cdcheck" type="checkbox" onchange="toggleCd('gelb')" checked /> Grafik <br />
		<%= image_tag "create/Buero_bunt_hintergrundlos.png", :width => "40px"%><input id="gruencheck" class="cdcheck" type="checkbox" onchange="toggleCd('gruen')" checked /> Büro <br />
		<%= image_tag "create/Spiele_hintergrundlos.png", :width => "30px"%><input id="lilacheck" class="cdcheck" type="checkbox" onchange="toggleCd('lila')" checked /> Spiele <br />
		<%= image_tag "create/Filesharing.png", :width => "40px"%><input id="rosacheck" class="cdcheck" type="checkbox" onchange="toggleCd('rosa')" checked /> Filesharing <br />
		<%= image_tag "create/Windows_verlassen_neu_bunt2.png", :width => "40px"%><input id="rotcheck" class="cdcheck" type="checkbox" onchange="toggleCd('rot')" checked /> Windows-Umstieg <br />
		<%= link_to "mehr Auswahl", "/download/bundles" %><br />
		<br />
		 <%= collection_select(:user, :distribution, Distribution.all, :id, :short_name, {}, :onchange => "download_save_settings();") %><br />
		 <%= collection_select(:user, :derivative, Derivative.all, :id, :name, {}, :onchange => "download_save_settings();") %><br />
		 <%= collection_select(:user, :architecture, Architecture.all, :id, :name, {}, :onchange => "download_save_settings();") %><br />
		<%= link_to "Einstellungen", "/download/settings" %><br />
	</div>
	
	<div id="centerarea">
		<%= image_tag "create/Schnecke_pur_hintergrundlos.png", :width => "500px" %>
		<%=# image_tag "create/transparent.png", :class => "cd", :usemap => "#cdmap"
		%>
		<%= link_to "mehr Auswahl", "/download/bundles" %><br />
	</div>
	<div id="rightarea">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<table><tr><td>
          <%= image_tag "create/Buendel_gut_bunt.png", :width => "35px"%>
		  </td>
		  <td>
		Name deiner <br />Ubuntu-Zusammenstellung: <br />
          <%= text_field_tag(:name,current_user.login) %>
		  </td></tr>
		  </table>
          <br />
		Icon auswählen<br />  
		Icon hochladen<br />  
		Ubuntu schon installiert? <%= link_to "Los geht's", "/download/installation" %><br />
		Neues Ubuntu erstellen <%= link_to "Los geht's", "/livecds/show" %><br />

	</div>
</form>
