<div id="welcome_image">
	<div id="register">
		<%= link_to "livecd", "", :onclick => "showImage(0)" %>
	</div>
	<div id="start0" class="start">
	  <%= image_tag 'start-cd.png'%>
	  <%= link_to 'Live-CD/DVD',:controller => "live_cds", :action=>'build' %>
	</div>  
	<div id="start1" class="start" style="display:none">
	  <%= image_tag 'Ubuntu.png'%>
	  <%= link_to 'My Ubuntu Online',:action=>'online' %>
	</div>  
	<div id="start2" class="start" style="display:none">
	  <%= image_tag 'Metapackage.png'%>
	  <%= link_to 'Software nachinstallieren',:action=>'postinstall' %>
	</div>  
	<script>rotate(0);</script>
</div>