<div class="inner0">
<span class="headline"><%=t(:view_repositories_new_0)%><%= @repository.distribution.name %></span>

<%= error_messages_for :repository %>
<table>
<% form_for(:repository,@repository, :url => { :action => :create }) do |f| %>
<tr>
	<td><%=t(:licence)%></td>
	<td><%= select_license_type %></td>
</tr>
<tr>
	<td><%=t(:security_type)%></td>
	<td><%= select_security_type %></td>
</tr>
<tr>
	<td><%=t(:path)%></td>
	<td><%= f.text_field :url %></td>
	<td> (<%=t(:eg)%> <i>deb http://de.archive.ubuntu.com/ubuntu/ gutsy</i>)</td>
</tr>
<tr>
    <td><%=t(:view_repositories_new_4)%></td>
    <td><%= f.text_field :gpgkey %><td>
</tr>
<tr>
	<td><%=t(:subtype)%></td>
	<td><%= f.text_field :subtype %></td>
	<td> (z.B. <i>main</i>)</td>
	 <%= hidden_field_tag 'distribution_id',@repository.distribution.id %>

</tr>
<tr><td colspan="2" align="center">
    <%= f.submit t(:create) %>
</td></tr>
<% end %>
</table>
</div>
<%= link_to t(:back), distribution_repositories_path(@repository.distribution) %>
