<% #  (c) 2008-2011 byllgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<% if is_admin? %>
<h1><%=t(:view_derivatives_edit_0)%></h1>

<% form_for(@derivative) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t(:view_derivatives_edit_1) %><br />
    <%= f.text_field :sudo %>
  </p>
  <p>
    <%= f.label t(:view_derivatives_edit_2) %><br />
    <%= f.text_field :dialog %>
  </p>
  <p>
    <%= f.label :icon_file %><br />
    <%= f.text_field :icon_file %>
  </p>
  <p>
    <%= f.submit t(:save) %>
  </p>
<% end %>

<%= link_to t(:show), @derivative %> |
<%= link_to t(:back), derivatives_path %>
<% end %>