<% if is_admin? %>
<h1><%=t(:view_derivatives_edit_0)%></h1>

<% form_for(@derivative) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t(:view_derivatives_edit_1) %><br />
    <%= f.text_field :sudo %>
  </p>
  <p>
    <%= f.label t(:view_derivatives_edit_2) %><br />
    <%= f.text_field :dialog %>
  </p>
  <p>
    <%= f.label :icon_file %><br />
    <%= f.text_field :icon_file %>
  </p>
  <p>
    <%= f.submit t(:view_derivatives_edit_3) %>
  </p>
<% end %>

<%= link_to t(:view_derivatives_edit_4), @derivative %> |
<%= link_to t(:view_derivatives_edit_5), derivatives_path %>
<% end %>