<% if is_admin? %>
<h1><%=t(:view_derivatives_index_0)%></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for derivative in @derivatives %>
  <tr>
    <td><%=h derivative.name %></td>
    <td><%= link_to t(:show), derivative %></td>
    <td><%= link_to t(:edit), edit_derivative_path(derivative) %></td>
    <td><%= link_to t(:delete), derivative, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_derivative), new_derivative_path %>
<% end %>