<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<% if is_admin? %>
<h1><%=t(:view_derivatives_index_0)%></h1>

<table>
  <tr>
    <th><%=t(:name_without_colon)%></th>
    <th><%=t(:number_of_packages_in_bundles)%></th>
  </tr>

<% for derivative in @derivatives %>
  <tr>
    <td><%= link_to(h(derivative.name),derivative) %></td>
    <td align="center"><%= h derivative.metacontents_derivatives.size %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_derivative), new_derivative_path %>
<% end %>