<% if is_admin? %>
<h1><%=t(:view_derivatives_index_0)%></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for derivative in @derivatives %>
  <tr>
    <td><%=h derivative.name %></td>
    <td><%= link_to t(:view_derivatives_index_1), derivative %></td>
    <td><%= link_to t(:view_derivatives_index_2), edit_derivative_path(derivative) %></td>
    <td><%= link_to t(:view_derivatives_index_3), derivative, :confirm => t(:view_derivatives_index_4), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:view_derivatives_index_5), new_derivative_path %>
<% end %>