<% if is_admin? %>
<h1><%=_("Derivate auflisten")%></h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for derivative in @derivatives %>
  <tr>
    <td><%=h derivative.name %></td>
    <td><%= link_to _('Anzeigen'), derivative %></td>
    <td><%= link_to _('Bearbeiten'), edit_derivative_path(derivative) %></td>
    <td><%= link_to _('Löschen'), derivative, :confirm => _('Bist du sicher?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('Neues Derivat'), new_derivative_path %>
<% end %>