<% if is_admin? %>
<p>
  <b><%=_("Name:")%></b>
  <%=h @derivative.name %>
</p>

<p>
  <b><%=_("Sudo-Programm:")%></b>
  <%=h @derivative.sudo %>
</p>

<p>
  <b><%=_("Dialog-Programm:")%></b>
  <%=h @derivative.dialog %>
</p>


<p>
  <b><%=_("Icon file:")%></b>
  <%=h @derivative.icon_file %>
</p>


<%= link_to _('Bearbeiten'), edit_derivative_path(@derivative) %> |
<%= link_to _('Zurück'), derivatives_path %>
<% end %>