<p>
  <b>Name:</b>
  <%=h @derivative.name %>
</p>

<p>
  <b>Sudo-Programm:</b>
  <%=h @derivative.sudo %>
</p>

<p>
  <b>Dialog-Programm:</b>
  <%=h @derivative.dialog %>
</p>


<p>
  <b>Icon file:</b>
  <%=h @derivative.icon_file %>
</p>


<%= link_to 'Edit', edit_derivative_path(@derivative) %> |
<%= link_to 'Back', derivatives_path %>
