<ul class="sidebar">
	<li><%= link_to 'Installationsvorschläge', user_path(current_user) + "/suggestion" %></li>
	<li><%= link_to 'Pakete verwalten', user_path(current_user) + "/metapackages/0" %></li>
	<li><%= link_to 'Distributionen', distributions_path %></li>
	<li><%= link_to 'Profil bearbeiten', user_user_profile_path(current_user) + '/edit' %></li>
	<% if is_admin? %>
	    <li><%= link_to 'Benutzer verwalten', users_path %></li>
    <% end %>
</ul>

