<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<tr class="<%= cycle('odd', 'even') %>">
  <td align="left" width="35%"><%=h user.login %></td>
  <td align="left" width="35%"><%=h user.email %></td>
  <td width="10%"><%= user.enabled ? 'yes' : 'no' %>
    <% unless user == current_user %>
      <% if user.enabled %>
        <%= link_to(t(:view_users__user_0), user_path(user.id), :method => :delete) %>
      <% else %>
        <%= link_to(t(:view_users__user_1), enable_user_path(user.id), :method => :put) %>
      <% end %>
    <% end %>
  </td>
  <td width="20%"><%= link_to t(:view_users__user_2), user_roles_path(user) %></td>
</tr>
<tr>
  <td align="left"><font size="-3">
<% @userlog = Userlog.find(:last, :conditions => {:user_id => user.id}) %>
<%=h user.created_at.day %>/<%=h user.created_at.month %>/<%=h user.created_at.year %></font></td>
  <td align="left"><font size="-3">
<% if @userlog != nil %>
<%= @userlog.created_at.day %>/<%= @userlog.created_at.month %>/<%= @userlog.created_at.year %>
<a href="/users/user_statistics/<%= user.id %>"><%=t(:statistics)%></a>
<% else %>
<%=h user.updated_at.day %>/<%=h user.updated_at.month %>/<%=h user.updated_at.year %>
<% end %>
</font></td>
  <td><%=t(:bundle_by_owner)%></td><td><%= BasePackage.find(:all, :conditions => {:type => "Metapackage", :user_id => user.id}).length %></td>
</tr>
<tr><td colspan="4"><hr></td></tr>