<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<tr class="<%= cycle('odd', 'even') %>">
  <td align="left" width="35%"><%=h user.login %></td>
  <td align="left" width="35%"><%=h user.email %></td>
  <td width="10%"><%= user.enabled ? 'yes' : 'no' %>
    <% unless user == current_user %>
        <%= link_to(t(:view_users__user_1), "/users/#{user.id.to_s}", :method => :delete) %>
    <% end %>
  </td>
  <td width="20%"><%= link_to t(:view_users__user_2), "/users/#{user.id.to_s}/roles" %></td>
</tr>
<tr>
  <td align="left"><font size="-3">
<% @userlog = Userlog.find(:last, :conditions => {:user_id => user.id}) %>
<%=h user.created_at.day %>/<%=h user.created_at.month %>/<%=h user.created_at.year %></font></td>
  <td align="left"><font size="-3">
<% if @userlog != nil %>
<%= @userlog.created_at.day %>/<%= @userlog.created_at.month %>/<%= @userlog.created_at.year %>
<a href="/users/user_statistics/<%= user.id %>"><%=t(:statistics)%></a>
<% else %>
<%=h user.updated_at.day %>/<%=h user.updated_at.month %>/<%=h user.updated_at.year %>
<% end %>
</font></td>
  <td><%=t(:bundle_by_owner)%></td><td><%= BasePackage.find(:all, :conditions => {:type => "Metapackage", :user_id => user.id}).length %></td>
</tr>
<tr><td colspan="4"><hr></td></tr>