<tr class="<%= cycle('odd', 'even') %>">
  <td align="left" width="35%"><%=h user.login %></td>
  <td align="left" width="35%"><%=h user.email %></td>
  <td width="10%"><%= user.enabled ? 'yes' : 'no' %>
    <% unless user == current_user %>
      <% if user.enabled %>
        <%= link_to('disable', user_path(user.id), :method => :delete) %>
      <% else %>
        <%= link_to('enable', enable_user_path(user.id), :method => :put) %>
      <% end %>
    <% end %>
  </td>
  <td width="20%"><%= link_to 'edit roles', user_roles_path(user) %></td>
</tr>
<tr>
  <td align="left"><font size="-3"><%=h user.created_at.day %>/<%=h user.created_at.month %>/<%=h user.created_at.year %></font></td>
  <td align="left"><font size="-3"><%=h user.updated_at.day %>/<%=h user.updated_at.month %>/<%=h user.updated_at.year %></font></td>
  <td></td><td></td>
</tr>
<tr><td colspan="4"><hr></td></tr>