<span class="headline">Benuzterprofil bearbeiten</span>
<div class="inner1">
<p><%= link_to 'Profil anzeigen', user_path(@user) %> | <%= link_to 'Passwort ändern', change_password_path %> | <%= link_to 'Profil l&ouml;schen', :controller => 'users', :id => @user.id, :action => 'delete' %>  </p>
<%= error_messages_for :user %>
 
<% form_for :user, :url => user_url(@user), :html => { :method => :put } do |f| %>
  <p>E-Mail:<br /><%= f.text_field :email, :size => 60 %></p>
  
<%= submit_tag 'Speichern' %>
<% end %>
</div>