<span class="headline"><%=_('Alle Benutzer')%></span>
<div class="inner1">
  <p><%=_('Insgesamt haben wir ')%><%= @users.length %><%=_(' angemeldete Benutzer.')%></p>
<table cellpadding="3">
  <tr>
    <th align="left"><%=_('Benutzername')%></th>
    <th align="left"><%=_('E-Mail')%></th>
    <th align="left"><%=_('Aktiviert?')%></th>
    <th align="left"><%=_('Rollen')%></th>
  </tr>
  <tr><td colspan="4"><hr></td></tr>
    <%= render :partial => 'user', :collection => @users %>
</table>
</div>