<% #  (c) 2008-2011 byllgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<span class="headline"><%=t(:view_users_index_0)%></span>
<%= render_flash %>
<div class="user_search">
  <%=form_tag("/users/search", :method => "post") %>
  <%=text_field_tag(:login)%><%= submit_tag t(:search) %>
</div>
<div class="inner1">
  <p><%=t(:view_users_index_1)%><%= @u.length %><%=t(:view_users_index_2)%></p>
<table cellpadding="3">
  <tr>
    <th align="left"><%=t(:username)%></th>
    <th align="left"><%=t(:email_without_colon)%></th>
    <th align="left"><%=t(:view_users_index_5)%></th>
    <th align="left"><%=t(:view_users_index_6)%></th>
  </tr>
  <tr><td colspan="4"><hr /></td></tr>
    <%= render :partial => 'user', :collection => @users, :window_size => 10 %>
</table>
<%= paginating_links(@users, :window_size => 10) %>
</div>
