<%= error_messages_for :user %>
<h2><%=t(:view_users_new_0)%></h2>
<p><%=t(:view_users_new_1)%><br />
<%=t(:view_users_new_2)%></p>
<% form_for :user, :url => users_path do |f| %>
<p><label for="login"><%=t(:view_users_new_3)%></label><br/>
<%= f.text_field :login %></p>
 
<p><label for="email"><%=t(:view_users_new_4)%></label><br/>
<%= f.text_field :email %></p>
 
<p><label for="password"><%=t(:view_users_new_5)%></label><br/>
<%= f.password_field :password %></p>
 
<p><label for="password_confirmation"><%=t(:view_users_new_6)%></label><br/>
<%= f.password_field :password_confirmation %></p>
 
<p><%= submit_tag t(:view_users_new_7) %></p>
<% end %>
	