<%= error_messages_for :user %>
<h2><%=t(:register)%></h2>
<p><%=t(:view_users_new_1)%><br />
<%=t(:view_users_new_2)%></p>
<% form_for :user, :url => users_path do |f| %>
<p><label for="firstname"><%=t(:view_users_new_10)%> <%=t(:view_users_new_12)%></label><br/>
<%= f.text_field :firstname %></p>

<p><label for="surname"><%=t(:view_users_new_11)%> <%=t(:view_users_new_12)%></label><br/>
<%= f.text_field :surname %></p>

<p><label for="login"><%=t(:username)%></label><br/>
<%= f.text_field :login %></p>
 
<p><label for="email"><%=t(:email_without_colon)%></label><br/>
<%= f.text_field :email %></p>
 
<p><label for="password"><%=t(:passwd)%></label><br/>
<%= f.password_field :password %></p>
 
<p><label for="password_confirmation"><%=t(:view_users_new_6)%></label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= check_box_tag "announce" %><label for="announce"><%=t(:view_users_new_8)%></label></p>

<p><%= check_box_tag "discuss" %><label for="discuss"><%=t(:view_users_new_9)%></label></p>

<p><%= submit_tag t(:register) %></p>
<% end %>
	