<%= error_messages_for :user %>
<h2>Registrierung</h2>
<p>Hier hast du die M&ouml;glichkeit dich zu registrieren.<br />
Wenn du über die Weiterentwicklung von Communtu informiert werden m&ouml;chtest, dann gebe bitte deine richige E-Mail-Adresse an.</p>
<% form_for :user, :url => users_path do |f| %>
<p><label for="login">Benutzername</label><br/>
<%= f.text_field :login %></p>
 
<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>
 
<p><label for="password">Passwort</label><br/>
<%= f.password_field :password %></p>
 
<p><label for="password_confirmation">Passwort bestätigen</label><br/>
<%= f.password_field :password_confirmation %></p>
 
<p><%= submit_tag 'Registrieren' %></p>
<% end %>
	