<span class="headline">Benutzer anzeigen</span>

<%= render_flash %>
<div class="inner1">
	<p>Name: <%= @user.login %></p>
    <p>Nutzer seit: <%= @user.created_at.month %>/<%= @user.created_at.year %>&nbsp;<font size="-3">(Monat/Jahr)</font>
    <br />Zuletzt eingeloggt: <%= @user.updated_at.month %>/<%= @user.updated_at.year %>
    </p>
        <p>Erstellte Bündel: <%= @metas_user.count
%></p>
      <% if @user.id == current_user.id %>
        <p>E-Mail: <%= @user.email %></p>
      <% end %>
</div>
  <% if @user.id == current_user.id %>
    <%= link_to 'Bearbeiten', edit_user_path(@user.id) %>
  <% end %>
