<span class="headline"><%=_('Benutzer anzeigen')%></span>

<%= render_flash %>
<div class="inner1">
	<p><%=_('Name: ')%><%= @user.login %></p>
    <p><%=_('Nutzer seit: ')%><%= @user.created_at.month %>/<%= @user.created_at.year %>&nbsp;<font size="-3"><%=_('(Monat/Jahr)')%></font>
    <br /><%=_('Zuletzt eingeloggt: ')%><%= @user.updated_at.month %>/<%= @user.updated_at.year %>
    </p>
        <p><%=_('Erstellte Bündel: ')%><%= @metas_user.length
%></p>
      <% if @user.id == current_user.id %>
        <p><%=_('E-Mail: ')%><%= @user.email %></p>
      <% end %>
</div>
  <% if @user.id == current_user.id %>
    <%= link_to _('Bearbeiten'), edit_user_path(@user.id) %> <br /><br />
	
	<% if !@user.anonymous %>
		<!-- Messanger -->
		<span class="headline"><%=_('Nachrichten')%></span>
		<div class="inner1">
			<%= render :partial => 'mailbox_list' %>
		</div>
	<% end %>
  <% end %>
