<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<span class="headline"><%=t(:view_users_show_0)%></span>

<%= render_flash %>
<div class="inner1">
	<p><%=t(:view_users_edit_3)%> <%= @user.login %> <%=link_to (image_tag("message.png", :alt=>t(:compose_new_message),:title=>t(:compose_new_message), :mouseover=>"message_rollover.png",:border=>"0" ), {:controller=>"sent", :action=>"new", :mail_to=>@user})%> </p>
   <% if @user.id == current_user.id %>
    <% if @user.surname? %>
      <p><%=t(:name_with_colon)%><%= @user.firstname %> <%= @user.surname %></p>
    <% end %>
   <% end %>
    <p><%=t(:view_users_show_2)%><%= @user.created_at.month %>/<%= @user.created_at.year %>&nbsp;<font size="-3"><%=t(:view_users_show_3)%></font>
    <br /><%=t(:view_users_show_4)%><%= @last_action.month %>/<%= @last_action.year %>
    </p>
        <p><%=t(:view_users_show_5)%><%= @metas_user.length
%></p>
      <% if @user.id == current_user.id %>
        <p><%=t(:email_with_colon)%><%= @user.email %></p>
      <% end %>
</div>
  <% if @user.id == current_user.id %>
    <%= link_to t(:edit), edit_user_path(@user.id) %> <br /><br />
	
	<% if !@user.anonymous %>
		<!-- Messanger -->
		<span class="headline"><%=t(:view_users_show_8)%></span>
		<div class="inner1">
			<%= render :partial => 'mailbox_list' %>
		</div>
	<% end %>
  <% end %>
