<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<h2><%= @user.login %> (<%= @log.length %>)</h2>
<p>Den User gibt es seit: <%= locale_datetime(@user.created_at) %>.</p>

<table border="1" cellpadding="10">
<% @log.each do |l|%>
<tr><td><%= locale_datetime(l.created_at) %></td><td><%= l.refferer %></td></tr>
<% end %>
</table>
<div class="communtu_box_up">
        <div class="communtu_box_line">
        <%= t(:statistics) %>
        </div>
        <div class="communtu_box_inside">
<% @output = @statistics.sort_by { |s| s[:counter] } %>
<% @output.last(10).reverse_each do |s| %>
<%=  "#{s[:counter]} => " %>
<% un = User.find(:first, :conditions => {:id => s[:user_id]})%>
<%= un.login %>
<br /> 
<% end %>
        </div>
</div>

