<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<%= render_flash %>
<% if logged_in? %>
<div class='inner0'>
<span class='headline'><%=t(:view_distributions_index_0)%></span><br/>
<% for distribution in @distributions %>
 <%= dist_show distribution, "inner1" %>
<% end %>
<% if is_admin? %>
<%= link_to t(:new_distribution), new_distribution_path %>
<% end %>

</div>
<% else %>
<div class="inner0">
<p><%=t(:not_logged_in)%></p>
</div>
<% end %>
<%= render(:partial => 'users/conny')%>