<% if is_admin? %>
<h1>Neue Distribution</h1>

<%= error_messages_for :distribution %>

<% form_for(@distribution) do |f| %>
  <p>
    <b><%=t(:view_distributions_new_0)%></b><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <b><%=t(:view_distributions_new_1)%></b><br />
    <%= f.text_field :short_name %>
  </p>

  <p>
    <b><%=t(:view_distributions_new_2)%></b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b><%=t(:view_distributions_new_3)%></b><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit t(:view_distributions_new_4) %>
  </p>
<% end %>

<%= link_to t(:view_distributions_new_5), distributions_path %>
<% end %>
