<%= render_flash %>
<% if logged_in? %>
<%= dist_show @distribution, "inner0", false %>
	<table width="100%">
	<tr>
	<td><b>Repositories:</b></td>
	<td align="right">
		<% if is_admin? %>
			<%= link_to'alles prüfen', '/admin/test_all/'+@distribution.id.to_s %>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to'alles synchronisieren', '/admin/sync_all/'+@distribution.id.to_s %>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to'sources.list einlesen', '/repositories/multinew/'+@distribution.id.to_s %>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to 'Repository hinzufügen', new_distribution_repository_path(@distribution.id) %>
		<% end %>	
	</td></tr></table>
<%= repository_view @distribution.repositories, "inner0" %>

<%= link_to 'Zurück', distributions_path %> 
<% if is_admin? %>
	| <%= link_to 'Bearbeiten', edit_distribution_path(@distribution) %> |
	<%= link_to('Löschen', {:controller => :distributions, :action => :destroy,\
		:id => @distribution.id},\
		{:method => :delete, :confirm => 'Vor dem Löschen einer Distribution müssen alle Benutzer, die sie nutzen, ausgeloggt sein! Bist du sicher?'} ) %>
<% end %>
<% else %>
<div class="inner0">
<p>Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.</p>
</div>
<% end %>
