<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<%= render_flash %>
<%= (dist_show @distribution, "inner0", false).html_safe %>
	<table width="100%">
	<tr>
	<td><b><%=t(:view_distributions_show_0).html_safe%></b></td>
	<td align="right">
		<% if is_admin? %>
			<%= link_to t(:view_distributions_show_1).html_safe, '/repositories/test_all/'+@distribution.id.to_s %>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to t(:view_distributions_show_2).html_safe, '/repositories/sync_all/'+@distribution.id.to_s %>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to t(:view_distributions_show_3).html_safe, '/repositories/multinew/'+@distribution.id.to_s %>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to t(:view_distributions_show_4).html_safe, new_distribution_repository_path(@distribution.id) %>
		<% end %>	
	</td></tr></table>
<%= (repository_view @distribution.repositories, "inner0").html_safe %>

<%= link_to t(:back), distributions_path %> 
<% if is_admin? %>
	| <%= link_to t(:edit), edit_distribution_path(@distribution) %> |
	<%= link_to(t(:delete), {:controller => :distributions, :action => :destroy,\
		:id => @distribution.id},\
		{:method => :delete, :confirm => t(:view_distributions_show_8)} ) %>
<% end %>
<%= render(:partial => 'home/conny')%>
