<font size="1"><b>Bündel-Editor</b></font><br/>
<% if not session[:meta_cart].nil? %>
	<% meta = TempMetapackage.find(:first, :conditions => [ "id=?", session[:meta_cart] ]) %>
	<% if not meta.nil? %>
		<% name = meta.name %>
	<% else %>
		<% name = "Session error!" %>
		<% session[:meta_cart] = nil %>
	<% end %>
	<font size="1">Aktuelles Bündel: <b><%= name %></b></font>
	<table width="100%">
	<% get_meta_cart.each do |package|%>
		<tr><td valign='middle'><font size="1"><%= package.name %></td>
		<td align="right" valign='middle'>
		<%= link_to_remote((tag "img", { :src => "/images/delete.png",\
            :alt => "Repository synchronisieren", :class => "link_img",\
			:width => 12, :height => 12}),\
			:update => :meta_cart, :url => { :controller => :temp_metapackages,\
			:action => :delete_item_from_cart, :id => package.id}) %></font></td></tr>
	<% end %>
	</table>
	<font size="1">
		<%= link_to(image_tag("save.png", :size => "16x16", :border => "0"), :controller => :temp_metapackages,\
				:action => :save_cart, :id => session[:meta_cart]) %>
	    <%= link_to_remote(image_tag("edit-delete.png", :size => "16x16", :border => "0"), :update => 'meta_cart',\
                :url => { :controller => :temp_metapackages, :action => :clear_cart}) %>
	</font>
<% end %>



	
