<h1>Listing temp_metapackages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Distribution</th>
    <th>User</th>
  </tr>

<% for temp_metapackages in @temp_metapackages %>
  <tr>
    <td><%=h temp_metapackages.name %></td>
    <td><%=h temp_metapackages.description %></td>
    <td><%=h temp_metapackages.distribution_id %></td>
    <td><%=h temp_metapackages.user_id %></td>
    <td><%= link_to 'Show', temp_metapackages %></td>
    <td><%= link_to 'Edit', edit_temp_metapackages_path(temp_metapackages) %></td>
    <td><%= link_to 'Destroy', temp_metapackages, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New temp_metapackages', new_temp_metapackages_path %>
