<div class="inner0">
<p>
  <b>Name:</b>
  <%=h @metapackage.name %>
</p>
<p>
  <b>Description:</b>
  <%= @metapackage.description %>
</p>
<p>
  <b>Distribution:</b>
  <%=h @metapackage.distribution.name %>
</p>
<div class="inner1">
<table width="95%">
	<% @metapackage.temp_metacontents.each do |p| %>
		<tr>
			<td><%= p.package.name %></td>
			<td align="right">
				<%= link_to 'Show', { :controller => :packages, :action => :show,\
					:id => p.package.id } %>
			<% if -1 == 1 %>
				| <%= link_to 'Remove from meta package', { :controller => :temp_metapackages,\
					 :action => :delete_item_from_cart, :id => p.id  } %> 
			<% end %>
			</td>
		</tr>
	<% end %>
</table>	
</div>
</div>
<% if logged_in? && current_user.id == @metapackage.user_id%>
	 <%= link_to_remote 'Add to Editor', :update => :meta_cart,\
		:url => { :controller => :temp_metapackages, :action => :reset_cart,\
		:id => @metapackage.id}%>
<% end %>
