<p>
  <b><%=t(:view_videos_show_0)%></b>
  <%=h @video.url %>
</p>

<p>
  <b><%=t(:view_videos_show_1)%></b>
  <%=h @video.description %>
</p>


<%= link_to t(:view_videos_show_2), edit_video_path(@video) %> |
<%= link_to t(:view_videos_show_3), video_path %>
