<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<p>
  <b><%=t(:view_videos_show_0)%></b>
  <%=h @video.url %>
</p>

<p>
  <b><%=t(:description_with_colon)%></b>
  <%=h @video.description %>
</p>


<%= link_to t(:edit), edit_video_path(@video) %> |
<%= link_to t(:back), video_path %>
