<p>
  <b><%=_('Url:')%></b>
  <%=h @video.url %>
</p>

<p>
  <b><%=_('Beschreibung:')%></b>
  <%=h @video.description %>
</p>


<%= link_to _('Bearbeiten'), edit_video_path(@video) %> |
<%= link_to _('Zurück'), video_path %>
