<div class="communtu_box">
	<div class="communtu_box_line">
	Communtu-News
	</div>
        <div class="communtu_box_inside">
		<a href="/home/chat"><span class="bold"><%=t(:chat)%></span></a>
	</div>
	<div class="communtu_box_inside">
		<a href="<%=t(:blog_link)%>" target="_blank"><span class="bold"><%=t(:blog_2)%></span></a>
	</div>
	<div class="communtu_box_inside">
		<span class="bold"><%=t(:mailinglist)%></span>

		<br />
		<a href="mailto:<%=t(:view_home_news_3)%>"><%=t(:announce)%></a>
		<br />
		<a href="mailto:<%=t(:view_home_news_10)%>"><%=t(:discuss)%></a>
	</div>
             <div class="communtu_box_inside">
		<a href="/home/beteiligung"><span class="bold"><%=t(:we_want_you)%></span></a>
	</div>
</div>
<% div_helper = 1 %>
