<h2><%=t(:view_home_about_0)%></h2>
 
<h3><%=t(:view_home_about_1)%></h3>
<%=t(:view_home_about_2)%>

<p><%=t(:view_home_about_3)%></p>

<h3><%=t(:view_home_about_4)%></h3>

<p><%=t(:view_home_about_5)%> 
<% if !logged_in? %>
<%=t(:view_home_about_6).
<% end %>
<%=t(:view_home_about_7)%>
</p>

<p><%=t(:view_home_about_8)%>
</p>

<p><%=t(:view_home_about_9)%></p>


<h3><%=t(:view_home_about_10)%></h3>
<%=t(:view_home_about_11)%><%=t(:view_home_about_12)%>

<h3><%=t(:view_home_about_13)%></h3>
<p><%=t(:view_home_about_14)%>
</p>
<% if !logged_in? %>
    <h3><%=t(:view_home_about_15)%></h3>
<p><%=t(:view_home_about_16)%>
</p>
<% end %>

<h3><%=t(:view_home_about_17)%></h3>
<p><%=t(:view_home_about_18)%><br />
c/o <a href="http://www.solidarische-oekonomie-bremen.de" target="_blank"><%=t(:view_home_about_19)%></a><br />
Bauernstr. 2<br />
28203 Bremen<br />
<a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a><br />	
</p>
<h3><%=t(:view_home_about_20)%></h3>
<p><%=t(:view_home_about_21)%><br />
<%=t(:view_home_about_22)%><br />
<%=t(:view_home_about_23)%><br />
<%=t(:view_home_about_24)%>
</p>