<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<h2><%=t(:match_with_communtu)%></h2>
 
<h3><%=t(:view_home_about_1)%></h3>
<p><%=t(:view_home_about_2).html_safe%></p>

<p><%=t(:view_home_about_3)%></p>

<h3><%=t(:view_home_about_4).html_safe%></h3>

<p><%=t(:view_home_about_5).html_safe%> 

<%=t(:view_home_about_7).html_safe%>
</p>

<p><%=t(:view_home_about_8).html_safe%>
</p>

<p><%=t(:view_home_about_9).html_safe%></p>

<% if !logged_in? %>
    <h3><%=t(:register)%></h3>
<p><%=t(:view_home_about_16)%>
</p>
<% end %>

<h3><%=t(:source_code).html_safe%></h3>
<p><%=t(:communtu_is_opensource, :rails => link_to('Ruby on Rails','http://rubyonrails.org'),
            :github => link_to('github','https://github.com/communtu/communtu'), 
            :trac =>link_to('trac.communtu.org','http://trac.communtu.org'),
            :agpl => link_to('Affero GNU public license','http://www.gnu.org/licenses/agpl.html')).html_safe%><br />

<h3><%=t(:imprint)%></h3>
<p><%=t(:natur_geist_und_technik)%><br />
c/o <a href="http://www.solidarische-oekonomie-bremen.de" target="_blank"><%=t(:zentrum_solidarische_oekonomie)%></a><br />
Bauernstr. 2<br />
28203 Bremen<br />
<a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a><br />	
</p>
<h3><%=t(:donation_possibility)%></h3>
<p><%=t(:allgemeinbildung)%><br />
<%=t(:kontodaten)%><br />
<%=t(:donation_purpose)%><br />
<%=t(:donation_receipt)%>
</p>
</div>
<%= render(:partial => 'box', :locals => {:grey => false})%>
<%= render(:partial => 'conny')%>
