<h2><%=t(:match_with_communtu)%></h2>
 
<h3><%=t(:view_home_about_1)%></h3>
<p><%=t(:view_home_about_2)%></p>

<p><%=t(:view_home_about_3)%></p>

<h3><%=t(:view_home_about_4)%></h3>

<p><%=t(:view_home_about_5)%> 

<%=t(:view_home_about_7)%>
</p>

<p><%=t(:view_home_about_8)%>
</p>

<p><%=t(:view_home_about_9)%></p>
<h3><%=t(:view_home_about_10)%></h3>
<p><%=t(:view_home_about_11)%></p>

<h3><%=t(:view_home_about_13)%></h3>
<p><%=t(:view_home_about_14)%>
</p>
<% if !logged_in? %>
    <h3><%=t(:register)%></h3>
<p><%=t(:view_home_about_16)%>
</p>
<% end %>

<h3><%=t(:imprint)%></h3>
<p><%=t(:natur_geist_und_technik)%><br />
c/o <a href="http://www.solidarische-oekonomie-bremen.de" target="_blank"><%=t(:zentrum_solidarische_oekonomie)%></a><br />
Bauernstr. 2<br />
28203 Bremen<br />
<a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a><br />	
</p>
<h3><%=t(:donation_possibility)%></h3>
<p><%=t(:allgemeinbildung)%><br />
<%=t(:kontodaten)%><br />
<%=t(:donation_purpose)%><br />
<%=t(:donation_receipt)%>
</p>
</div>
<%= render(:partial => 'box')%>
<%= render(:partial => 'conny')%>
