<h2><%=t(:participation)%></h2>

<h3><%=t(:view_home_beteiligung_1)%></h3>
<p><%=t(:view_home_beteiligung_2)%></p>
 
<h3><%=t(:view_home_beteiligung_3)%></h3>
<p><%=t(:view_home_beteiligung_4)%><!-- Weiter bieten
wir auch eine Möglichkeit an, sich an einer <%= link_to t(:view_home_beteiligung_5), '/home/umfrage' %>, die wir dann Clustern wollen, 
um für jede/n weitere Programme vorschlagen zu können. --> </p>

<h3><%=t(:feedback)%></h3>
<p><%=t(:view_home_beteiligung_7)%><a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a>.</p>

<h3><%=t(:view_home_beteiligung_8)%></h3>
<p><%=t(:view_home_beteiligung_9)%></p>
<h4><%=t(:view_home_beteiligung_10)%></h4>
<p><%=t(:view_home_beteiligung_11)%></p>
<h4><%=t(:view_home_beteiligung_12)%></h4>
<p><%=t(:view_home_beteiligung_13)%></p>
<p><%=t(:view_home_beteiligung_14)%><a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e"><%=t(:view_home_beteiligung_15)%></a>.</p>