<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>


<h2><%=t(:participation)%></h2>

<h3><%=t(:view_home_beteiligung_1)%></h3>
<p><%=t(:view_home_beteiligung_2)%></p>
 
<h3><%=t(:view_home_beteiligung_3)%></h3>
<p><%=t(:view_home_beteiligung_4)%> </p>

<h3><%=t(:feedback)%></h3>
<p><%=t(:view_home_beteiligung_7)%><a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a>.</p>

<h3><%=t(:view_home_beteiligung_8)%></h3>
<p><%=t(:view_home_beteiligung_9)%></p>
<h4><%=t(:view_home_beteiligung_10)%></h4>
<p><%=t(:view_home_beteiligung_11)%></p>
<h4><%=t(:view_home_beteiligung_12)%></h4>
<p><%=t(:view_home_beteiligung_13)%></p>
<p><%=t(:view_home_beteiligung_14)%><a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e"><%=t(:view_home_beteiligung_15)%></a>.</p>
</div>
<%= render(:partial => 'box', :locals => {:grey => false})%>
<%= render(:partial => 'conny')%>
