<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<h2><%=t(:view_home_cancel_0)%></h2>
<p><%=t(:view_home_cancel_1)%></p> 
<p><%=t(:allgemeinbildung)%><br />
<%=t(:kontodaten)%><br />
<%=t(:donation_purpose)%><br />
<%=t(:donation_receipt)%>
</p>