<h2><%=t(:view_home_cancel_0)%></h2>
<p><%=t(:view_home_cancel_1)%></p> 
<p><%=t(:view_home_cancel_2)%><br />
<%=t(:view_home_cancel_3)%><br />
<%=t(:view_home_cancel_4)%><br />
<%=t(:view_home_cancel_5)%>
</p>