<h2><%=_('Communtu -
 leider hat da etwas beim Spenden nicht funktioniert.')%></h2>
<p><%=_('Endweder versuchst Du es noch einmal oder Du nutzt die M&ouml;glichkeit per &Uuml;berweisung')%></p> 
<p><%=_('Allgemeinbildung e.V.')%><br />
<%=_('Konto 172 9375, Sparkasse Bremen, BLZ 290 501 01')%><br />
<%=_('Verwendungszweck: Communtu')%><br />
<%=_('Spendenbescheinigung kann ausgestellt werden.')%>
</p>