<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<div class="content1">
<h3><%=t(:view_home_contact_us_0)%></h3>
<p><%=t(:view_home_contact_us_1)%></p>
<%= form_tag("/home/email", :multipart => true)%>
<p><%=t(:subject_without_colon)%>
<% a = request.env['REQUEST_URI'] %>
<% b = a.gsub("cat","") %>
<% if a != b %>
<% val = t(:offer_new_category) %>
<%end%>
<%= text_field(:form, :name, :value => val) %></p>
<p><%=t(:feedback)%><br/>
<%= text_area(:form, :frage, :rows =>10, :cols => 80) %></p>
<p><%= submit_tag(t(:view_home_contact_us_4)) %></p>
<p><%=link_to t(:view_home_home_25), '/home/faq'%></p>
<input type="hidden" id="form_backlink" name="form[backlink]" value="<%= session[:backlink] %>">
</form>
</div>
<%= render(:partial => 'box', :locals => {:grey => false})%>