<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<h3><%=t(:ubuntu_derivatives)%></h3>

<%=t(:view_home_derivatives_1)%><%= link_to t(:view_home_derivatives_2), t(:view_home_derivatives_3), :target => '_blank'  %><%=t(:view_home_derivatives_4)%>

<b><%=t(:view_home_derivatives_5)%><%= link_to t(:view_home_derivatives_6), "/download/settings" %>
<%=t(:view_home_derivatives_7)%></b>
<%=t(:view_home_derivatives_8)%>
<h4><%=t(:view_home_derivatives_9)%></h4>
<ul>
<li>
<%= link_to 'Ubuntu Studio', t(:view_home_derivatives_10), :target => '_blank' %><%=t(:view_home_derivatives_11)%>
</li>
<li>
<%= link_to 'Medibuntu', 'http://medibuntu.org', :target => '_blank' %><%=t(:view_home_derivatives_12)%>
</li>
<li>
<%= link_to 'Mythbuntu', 'http://www.mythbuntu.org/', :target => '_blank' %><%=t(:view_home_derivatives_13)%>
</li>
<li>
<%= link_to 'Edubuntu', 'http://www.edubuntu.org/', :target => '_blank' %><%=t(:view_home_derivatives_14)%>
</li>
<li>
<%= link_to 'Kubuntu', t(:view_home_derivatives_15), :target => '_blank' %><%=t(:view_home_derivatives_16)%>
<li>
<%= link_to 'Linux Mint', t(:view_home_derivatives_17), :target => '_blank' %><%=t(:view_home_derivatives_18)%><b><%=t(:achtung)%></b></li>
<li>
<%=t(:view_home_derivatives_20)%></li>
</ul>

<h4><%=t(:view_home_derivatives_21)%></h4>
<ul>
<li> <%= link_to 'ZevenOS', 'http://www.zevenos.com/', :target => '_blank' %><%=t(:view_home_derivatives_22)%><b><%=t(:achtung)%></b></li>
</ul>

<h4><%=t(:view_home_derivatives_24)%></h4>
<ul>
<li>
<%= link_to 'Xubuntu', t(:view_home_derivatives_25), :target => '_blank' %><%=t(:view_home_derivatives_26)%>
</li>
<li>
<%= link_to 'Linux MCE', t(:view_home_derivatives_27), :target => '_blank' %><%=t(:view_home_derivatives_28)%><%=link_to t(:view_home_derivatives_29), t(:view_home_derivatives_30) %><%=t(:view_home_derivatives_31)%>
</li>
<li>
<%= link_to 'Gobuntu', 'http://www.ubuntu.com/products/whatisubuntu/gobuntu', :target => '_blank' %><%=t(:view_home_derivatives_32)%>
</li>
<li> <%= link_to 'Nexenta OS', t(:view_home_derivatives_33), :target => '_blank' %><%=t(:view_home_derivatives_34)%></li>
</ul>

<h4><%=t(:view_home_derivatives_35)%></h4>
<ul>
<li> <%= link_to 'Impi Linux', 'http://www.impi.org.za/', :target => '_blank' %><%=t(:view_home_derivatives_36)%></li>
<li> <%= link_to 'linex', t(:view_home_derivatives_37), :target => '_blank' %><%=t(:view_home_derivatives_38)%></li>
<li> <%= link_to 'U-lite', 'http://u-lite.org/', :target => '_blank' %><%=t(:view_home_derivatives_39)%></li>
<li> <%= link_to 'Ubuntu mobile', 'http://www.ubuntu.com/products/mobile', :target => '_blank' %><%=t(:view_home_derivatives_40)%></li>
<li><%=t(:view_home_derivatives_41)%></li>
<li> <%= link_to 'gOS', 'http://www.thinkgos.com/', :target => '_blank' %><%=t(:view_home_derivatives_42)%></li>
<li> <%= link_to 'OpenGEU', 'http://opengeu.intilinux.com', :target => '_blank' %><%=t(:view_home_derivatives_43)%></li>
<li> <%= link_to 'Fluxbuntu', 'http://wiki.fluxbuntu.org', :target => '_blank' %><%=t(:view_home_derivatives_44)%></li>
<li> <%= link_to 'Ubuntu Server', t(:view_home_derivatives_45), :target => '_blank' %><%=t(:view_home_derivatives_46)%></li>
<li> <%= link_to 'Ubuntu JeOS', t(:view_home_derivatives_47), :target => '_blank' %><%=t(:view_home_derivatives_48)%></li>
<li> <%= link_to 'Elbuntu', 'http://e17blog.tuxfamily.org/', :target => '_blank' %><%=t(:view_home_derivatives_49)%></li>
<li> <%= link_to 'nUbuntu', 'http://www.nubuntu.org/', :target => '_blank' %><%=t(:view_home_derivatives_50)%></li>
<li> <%= link_to 'getDeb', 'http://www.getdeb.net', :target => '_blank' %><%=t(:view_home_derivatives_51)%></li>
<li> <%= link_to 'Ultamatix', 'http://ultamatix.com/', :target => '_blank' %><%=t(:view_home_derivatives_52)%></li>
<li> <%= link_to 'Minimal-CD', 'https://help.ubuntu.com/community/Installation/MinimalCD', :target => '_blank' %><%=t(:view_home_derivatives_53)%></li>
<li> <%= link_to 'Xbmc', 'http://xbmc.org/wiki/?title=HOW-TO:_Install_XBMC_for_Linux_on_Ubuntu_8.10t(:view_home_derivatives_54)_step-by-step', :target => '_blank' %><%=t(:view_home_derivatives_55)%></li>
<li> <%= link_to 'Ubuntu Netbook Remix', t(:view_home_derivatives_56), :target => '_blank'  %><%=t(:view_home_derivatives_57)%></li>
</ul>