<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<%= render_flash %>
<noscript>
<div align="center" style="width:100%; height:48px; top:0px; background: #FF0000;"><p style="color:#FFFFFF; font-size:12px;"><%=t(:view_layouts_application_20)%></p></div>
</noscript>

<% if !@info.nil? &&  I18n.locale.to_s == "de" then %>
  <div class="info">
    <h1> <%= @info.header %> </h1>
    <p><%= @info.content %></p>
      <%  if is_admin? then%>
        <br />
        <div class="info_admin">
        <%=link_to t(:info_edit), edit_info_path(@info) %>
        <%=link_to t(:info_new), infos_path %>
        </div>
      <%end%>
  </div>
<%else%>
  <%  if is_admin? then%>
    <%=link_to t(:info_new), infos_path %>
  <% end %>
<%end%>

<h2><%=t(:easy_install)%></h2>

<br />
<table>
    <tr>
        <td><%= link_to(image_tag("64x64/download.png", :height => 60, :title =>t(:go_to_download), :alt=>t(:go_to_download), :border => "0"), "/download/selection?path=install") %></td>
        <td><%= t(:search_programs_bundles).html_safe %> <%= link_to(t(:continue), "/download/selection?path=install") %></td>
    </tr>
    <tr>
        <td colspan="2"><hr /></td>
    </tr>
    <tr>
        <td><%= link_to(image_tag("64x64/usb-cd.png", :height => 64, :title =>t(:create_your_livedvd_or_usb), :alt=>t(:create_your_livedvd_or_usb), :border => "0"), "/download/start") %></td>

        <td><%= t(:make_your_livedvd_or_usb).html_safe %> <%= link_to(t(:continue), "/download/start") %></td>
    </tr>

    <tr>
        <td colspan="2"><hr /></td>
    </tr>

    <tr>
        <td><%= link_to(image_tag("apps/Metapackage.png", :height => 60, :title =>t(:make_your_bundle), :alt=>t(:make_your_bundle), :border => "0"), "/metapackages/new") %></td>

        <td><%= t(:make_a_systemupgrade).html_safe %> <%= link_to(t(:continue), "/metapackages/new") %></td>
    </tr>
    <tr>
        <td colspan="2"><hr /></td>
    </tr>
</table>
<div id="conny_index"><%= image_tag("conny_start.jpg", :title =>t(:conny_picture), :alt=>t(:conny_picture)) %></div>
<div id="list_nextto_conni">
<% u = User.find(:last, :conditions => {:anonymous => false}) %>
<h3><%=t(:hello)%></h3>
<%=t(:last_user)%> <strong><%= link_to(
 u.login, "/users/show/#{u.id}") %>
 <%= image_tag("icon_user.png") %>.</strong>
</div>

<div class="best_buendle">
	<div class="buendle_count">
    <table>
      <tr>
        <td>
          <font size="+3"><%= BasePackage.find(:all, :conditions => {:type => "Metapackage", :published => 1}).length %></font>
            <p><%=t(:view_home_home_bundle)%></p>
        </td>
        <td>
          <%= image_tag("apps/Metapackage.png", :alt=>t(:view_home_home_bundle), :title=>(:view_home_home_bundle))%>
        </td>
      </tr>
    </table>
  </div>
	<h3>
		<%=t(:view_home_home_rating_headline)%>
	</h3>
	<table cellspacing="0">
  	<tbody>
			<tr>
				<th class="packageList" align="left" valign="middle">
					<%=t(:bundle)%>
				</th>
				<th valign="middle" class="packageList" align="left">
					<%=t(:view_home_home_rating_rating)%>
				</th>
			</tr>
			<% for metapackage in @metapackges do %>
				<% css = cycle("packageList0", "packageList1") %>
				<tr>
        	<td class="<%= css %>" valign="middle">
						<%= link_to metapackage.name, "/metapackages/#{metapackage.id}" %>
					</td>
					<td class="<%= css %>" valign="middle">
						<div class='star-ratings-block'>
            	<ul class='star-rating' title='<%= number_with_precision(metapackage.rating, :precision => 2).to_s + " " + t(:view_rating_show_title_ratings_count, {:votes=>metapackage.ratings.count}) %>'>
              	<li class='current-rating' style='width:<%= metapackage.rating*25 %>px'></li>
            	</ul>
         		</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<br/>
	<% if logged_in? and !is_anonymous? %>
		<%= link_to t(:view_home_home_rating_link), '/metapackages/index', :title=>t(:view_home_home_rating_link) %>
	<% end %>
	<% if logged_in? %>
		<% if new_message?%>
			<h4 align="center">
				<%= t(:view_home_home_new_messages_desc) %>
			</h4>
			<p align="center">
				<%= link_to(image_tag("message_big.png",:size=>"60x45", :alt=>t(:view_home_home_new_message_icon),:title=>t(:view_home_home_new_message_icon), :border=>"0"), '/inbox') %>
			</p>
		<% end %>
	<% end %>
</div>

<div class="best_livecd">
  <h3>
    <%=t(:best_livecds)%>
  </h3>
  <table cellspacing="0">
    <tbody>
      <tr>
        <th class="livecdList" align="left" valign="middle">
          <%=t(:livecd)%>
        </th>
	<th valign="middle" class="bundleList" align="left">
          <%=t(:downloads)%>
	</th>
      </tr>
      <% for livecd in @livecds do %>
          <% css = cycle("packageList0", "packageList1") %>
          <tr>
            <td class="<%= css %>" valign="middle">
              <%= link_to livecd.name, "/livecd/#{livecd.id}" %>
            </td>
            <td class="<%= css %>" valign="middle">
              <%=  livecd.downloaded %>
          </td>
	</tr>
      <% end %>
    </tbody>
  </table>
</div>
