<h2>Communtu -
 gemeinsam Ubuntu-Linux an individuelle Bed&uuml;rfnisse anpassen</h2>

<a href="http://www.ubuntuusers.de">Ubuntu-Linux</a> steht für ein menschliches Linux, das einfach zu benutzen ist.
Communtu hilft, die Installation von Ubuntu noch weiter zu vereinfachen und dabei auf den Erfahrungen anderer aufzubauen.
<%= link_to 'Mehr...', '/home/about'%>
	<%= render_flash %>
<br><br>
<% if logged_in? %>
<p>Die Seitenleiste links bietet folgende Möglichkeiten:</p>
<ul>
<li><b>Profil bearbeiten</b> erlaubt dir, deine Einstellungen zu bearbeiten: für welche Aufgaben willst du deinen Ubuntu-PC benutzen? Das solltest du als erstes eintragen.</li>
<li><b>Installationsvorschläge</b> bietet dir eine Zusammenstellung (Bündelung) von Programmen für die Installation auf deinem Computer an (entsprechend deines aktuellen Benutzerprofils).</li>
<li><b>Bündel verwalten</b> Hast du gute Erfahrungen mit Programmen gemacht? Dann kannst du sie hier thematisch bündeln. </li>
<li><b>Ubuntu-Versionen</b> Übersicht über die im System verfügbaren Ubuntu-Distributionen.</li>
</ul>
Es gibt auch noch <%= link_to 'genauere Infos', '/home/about' %>
<% else %>
<br>
	Klicke auf	<%= link_to 'Registrierung', '/users/new' %>, um einen neuen Benutzer anzulegen, oder 
	<%= link_to 'melde', '/users/login' %> dich an. Wenn du dich noch nicht anmelden möchtest, kannst
    du trotzdem schon eine <%= link_to("<b>Nachinstallation</b>", "/users/false/user_profile/edit") %> für dein Ubuntu erzeugen lassen.
<% end %>
</p>
