<h2>Communtu -
 gemeinsam Ubuntu-Linux an individuelle Bed&uuml;rfnisse anpassen</h2>

<a href="http://www.ubuntuusers.de">Ubuntu-Linux</a> steht für ein menschliches Linux, das einfach zu benutzen ist.
Aber um Ubuntu wirklich gut nutzen zu können, muss man ganz schön viele Programme nachinstallieren, und es ist oft schwer, da den Überblick zu behalten.
Bei Communtu gibst du nur an, welche Aufgaben du mit deinem Comupter erledigen willst, und Communtu schlägt dir eine
ganze Reihe von Programmen vor, die automatisch installiert werden können.
<%= link_to 'Mehr ...', '/home/about'%><br>
	<%= render_flash %>
<% if logged_in? %>
<p>Die Seitenleiste links bietet folgende Möglichkeiten:</p>
<ul>
<li><b>Installation</b> bietet dir eine Zusammenstellung (Bündelung) von Programmen für die Installation auf deinem Computer an, entsprechend deinen Angaben, für welche Aufgaben du deinen Ubuntu-PC benutzen willst.</li>
<li><b>Bündel verwalten</b> Hast du gute Erfahrungen mit Programmen gemacht? Dann kannst du sie hier thematisch bündeln, oder auch bestehende Bündel angucken. </li>
<li><b>Programme suchen</b> Hier kannst du nach einzelnen Ubuntu-Programmen (Paketen) suchen.</li>
<li><b>Ubuntu-Derivate</b> bietet eine Übersicht über Kubuntu, Xubuntu, Medibuntu und wie sie alle heißen ...</li>
<li><b>Ubuntu-Versionen</b> Übersicht über die im System verfügbaren Ubuntu-Versionen (Distributionen).</li>
<% if is_admin? %>
<li><b>Benutzer verwalten</b> Hier kannst du als Admin die Rollen der Benutzer ändern. Vorsicht walten lassen!</li>
<li><b>Kategorien verwalten</b> Hier kannst du als Admin neue Kategorien erstellen oder die Struktur des Kategorienbaums ändern. Vorsicht walten lassen!</li>
<% end %>
<li><b>Communtu-Blog</b> Austausch über Erfahrungen mit Communtu, Hinweise auf Veranstaltungen zu Communtu, ...</li>
</ul>
Es gibt auch noch <%= link_to 'genauere Infos', '/home/about' %> &uuml;ber das Projekt und &uuml;ber die Mitwirkenden im <%= link_to 'Impressum.', '/home/impressum' %>
<% else %>
<br>
	Klicke auf	<%= link_to 'Registrierung', '/users/new' %>, um einen neuen Benutzer anzulegen, oder 
	<%= link_to 'melde', '/users/login' %> dich an. Wenn du dich noch nicht anmelden möchtest, kannst
    du trotzdem schon eine <%= link_to("<b>Nachinstallation</b>", "/users/false/user_profile/edit") %> für dein Ubuntu erzeugen lassen.
<br><br>
<%= link_to 'Zum Impressum', '/home/impressum' %>
<% end %>
</p>
