<h2><%=t(:view_home_home_0)%></h2>

	<%= render_flash %>

<table>
	<tr>
		<td width='40%' colspan="2">
			<a href=t(:view_home_home_1)><%=t(:view_home_home_2)%></a><%=t(:view_home_home_3)%>
			<%= link_to t(:view_home_home_4), '/home/about'%><br />
			<% if logged_in? %>
			<%=t(:view_home_home_14)%><%= link_to t(:view_home_home_15), '/home/about' %><%=t(:view_home_home_16)%><%= link_to t(:view_home_home_17), '/home/impressum' %>
			<% else %>
			<br />
			<%=t(:view_home_home_18)%><%= link_to t(:view_home_home_19), '/users/new' %><%=t(:view_home_home_20)%>
			<%= link_to t(:view_home_home_21), '/users/login' %><%=t(:view_home_home_22)%><%= link_to t(:view_home_home_23), '/users/anonymous_login' %>. 
			<br /><br />
			<%= link_to t(:view_home_home_24), '/home/impressum' %>
			<% end %>
			</p>
		</td>
		
	</tr>
	<tr>
		<td>
			<h3><%=t(:view_home_home_rating_headline)%></h3>
			<table cellspacing="0">
				<th valign="middle" class="packageList" align="left"><%=t(:view_home_home_rating_package)%></th>
				<th valign="middle" class="packageList" align="left"><%=t(:view_home_home_rating_rating)%></th>
				<% for metapackage in @metapackges do %>
				<% css = cycle("packageList0", "packageList1") %>
				<tr>
        			<td class="<%= css %>" valign="middle">
						<%= link_to metapackage.name, metapackage_path(metapackage.id) %>
					</td>
					<td class="<%= css %>" valign="middle">
						<div class='star-ratings-block'>
            				<ul class='star-rating' alt='<%= number_with_precision(metapackage.rating, 2).to_s + " " + t(:view_rating_show_title_got_ratings) %>' title='<%= number_with_precision(metapackage.rating, 2).to_s + " " + t(:view_rating_show_title_got_ratings) %>'>
                				<li class='current-rating' style='width:<%= metapackage.rating*25 %>px'></li>
            				</ul>
         				</div>
					</td>
				</tr>
				<%end%>
			</table>
			<br/>
			<%= link_to t(:view_home_home_rating_link), 'users/'+ current_user.id.to_s + '/metapackages/1', :alt=>t(:view_home_home_rating_link),:title=>t(:view_home_home_rating_link) %>
		</td>
		<td width="50%">
			<% if logged_in? %>
				<% if new_message?%>
					<h4 align="center"><%= t(:view_home_home_new_messages_desc) %></h4>
					<p align="center"><%= link_to(image_tag("message_big.png",:size=>"60x45", :alt=>t(:view_home_home_new_message_icon),:title=>t(:view_home_home_new_message_icon), :border=>"0"), '/inbox') %></p>
				<% end %>
			<% end %>
		</td>
	</tr>
</table>
