<h2><%=_('Icons bei Communtu')%></h2>
<ul>
	<li><%= image_tag("/images/install.png", :size => "35x35", :border => "0", :title => _('Paket installieren. Bitte ggf. vorher die Quellen hinzufügen.'), :alt => _("Paket installieren. Bitte ggf. vorher die Quellen hinzufügen.")) %><%=_(' Paket(e) installieren.
    ')%></li>
	<li><%= image_tag("/images/sources.jpg", :size => "35x35", :border => "0", :title => _("Quellen hinzufügen"), :alt => _("Quellen hinzufügen")) %><%=_(' Quellen installieren
    ')%></li>
	<li><%= image_tag("/images/apt.png", :size => "35x35", :border => "0", :title => _("installieren mittels Skript"), :alt => _("installieren mittels Skript")) %><%=_(' Installation per Shell-Script
    ')%></li>
	<li><%= image_tag("/images/apps/gnome-other.png", :size => "35x35", :border => "0", :title => _("Programm"), :alt => _("Programm")) %><%=_(' Programm (wenn kein anderes Programm-Icon vorhanden)
    ')%></li>
	<li><%= image_tag("/images/apps/Metapackage.png", :size => "35x35", :border => "0", :title => _("Programm-Bündel"), :alt => _("Programm-Bündel")) %><%=_(' Programm-Bündel
    ')%></li>
    <li><%= image_tag("/images/migrate.png", :size => "35x35", :border => "0") %><%=_(' Migration von Repositories
    ')%></li>
    <li><%= image_tag("16-em-open.png", :border => "0", :title => _("externer Link"), :alt => _("externer Link")) %><%=_(' externer Link
    ')%></li>
    <li><%= image_tag("16-member.png", :border => "0", :title => _("User-Icon"), :alt => _("User-Icon")) %><%=_(' User Icon
    ')%></li>
</ul>