<h2><%=t(:view_home_icons_0)%></h2>
<ul>
	<li><%= image_tag("/images/install.png", :size => "35x35", :border => "0", :title => t(:view_home_icons_1), :alt => t(:view_home_icons_2)) %><%=t(:view_home_icons_3)%>
</li>
	<li><%= image_tag("/images/sources.jpg", :size => "35x35", :border => "0", :title => t(:view_home_icons_4), :alt => t(:view_home_icons_4)) %><%=t(:view_home_icons_6)%>
</li>
	<li><%= image_tag("/images/apt.png", :size => "35x35", :border => "0", :title => t(:view_home_icons_7), :alt => t(:view_home_icons_7)) %><%=t(:view_home_icons_9)%>
</li>
	<li><%= image_tag("/images/apps/gnome-other.png", :size => "35x35", :border => "0", :title => t(:view_home_icons_10), :alt => t(:view_home_icons_10)) %><%=t(:view_home_icons_12)%>
</li>
	<li><%= image_tag("/images/apps/Metapackage.png", :size => "35x35", :border => "0", :title => t(:view_home_icons_13), :alt => t(:view_home_icons_13)) %><%=t(:view_home_icons_15)%>
</li>
    <li><%= image_tag("/images/migrate.png", :size => "35x35", :border => "0") %><%=t(:view_home_icons_16)%>
</li>
    <li><%= image_tag("16-em-open.png", :border => "0", :title => t(:view_home_icons_17), :alt => t(:view_home_icons_17)) %><%=t(:view_home_icons_19)%>
</li>
    <li><%= image_tag("16-member.png", :border => "0", :title => t(:view_home_icons_20), :alt => t(:view_home_icons_20)) %><%=t(:view_home_icons_22)%>
</li>
</ul>
