<h2>Icons bei Communtu</h2>
<ul>
	<li><%= image_tag("/images/install.png", :size => "35x35", :border => "0", :title => 'Paket installieren. Bitte ggf. vorher die Quellen hinzufügen.', :alt => "Paket installieren. Bitte ggf. vorher die Quellen hinzufügen.") %> Paket(e) installieren.
    </li>
	<li><%= image_tag("/images/sources.jpg", :size => "35x35", :border => "0", :title => "Quellen hinzufügen", :alt => "Quellen hinzufügen") %> Quellen installieren
    </li>
	<li><%= image_tag("/images/apt.png", :size => "35x35", :border => "0", :title => "installieren mittels Skript", :alt => "installieren mittels Skript") %> Installation per Shell-Script
    </li>
	<li><%= image_tag("/images/apps/gnome-other.png", :size => "35x35", :border => "0", :title => "Programm", :alt => "Programm") %> Programm (wenn kein anderes Programm-Icon vorhanden)
    </li>
	<li><%= image_tag("/images/apps/Metapackage.png", :size => "35x35", :border => "0", :title => "Programm-Bündel", :alt => "Programm-Bündel") %> Programm-Bündel
    </li>
    <li><%= image_tag("16-em-open.png", :border => "0", :title => "externer Link", :alt => "externer Link") %> externer Link
    </li>
    <li><%= image_tag("16-member.png", :border => "0", :title => "User-Icon", :alt => "User-Icon") %> User Icon
    </li>
</ul>