<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>


<h2><%=t(:imprint)%></h2>
<p><%=t(:natur_geist_und_technik)%><br />
<%=t(:view_home_impressum_2)%><br />
c/o <a href="http://www.solidarische-oekonomie-bremen.de" target="_blank"><%=t(:zentrum_solidarische_oekonomie)%></a><br />
<%=t(:view_home_impressum_4)%><br />
<%=t(:view_home_impressum_5)%><br />
<a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a><br />	
</p>
<h3><%=t(:donation_possibility)%></h3>
<p><%=t(:allgemeinbildung)%><br />
<%=t(:kontodaten)%><br />
<%=t(:donation_purpose)%><br />
<%=t(:donation_receipt)%>
</p>
<p><%=t(:view_home_impressum_11)%></p>
<ul>
<li>Timo Denissen</li>
<li>Torsten Franz</li>
<li>Damian Lilla</li>
<li>Till Mossakowski</li>
<li>Karsten Vieth</li>
</ul> 
<p><%=t(:former_participants)%></p>
<ul>
<li>Jutta Basse</li>
<li>Heinz B</li>
<li>Petra Fröb</li>
<li>Matthias Klawon</li>
<li>Jan Krüger</li>
<li>Melanie Luderer</li>
<li>Isaac Puch Rojo</li>
<li>Bernd Wagner</li>
</ul>
<p><%=t(:you_can)%><%= link_to t(:view_home_news_24), '/home/beteiligung' %>.</p>
<p><%=t(:oxygen_icon_legal_notice)%>
</div>
<%= render(:partial => 'box')%>
<%= render(:partial => 'conny')%>
