<h2><%=_('Impressum')%></h2>
<p><%=_('Natur, Geist und Technik - Verein zur Förderung der Allgemeinbildung e.V.')%><br />
<%=_('AG Communtu')%><br />
c/o <a href="http://www.solidarische-oekonomie-bremen.de" target="_blank"><%=_('Zentrum f&uuml;r Solidarische &Ouml;konomie')%></a><br />
<%=_('Bauernstr. 2')%><br />
<%=_('28203 Bremen')%><br />
<a href="mailto:in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e">in&#102o&#64c&#111m&#109&#117&#110&#116&#117.&#100e</a><br />	
</p>
<h3><%=_('Spendenm&ouml;glichkeit')%></h3>
<p><%=_('Allgemeinbildung e.V.')%><br />
<%=_('Konto 172 9375, Sparkasse Bremen, BLZ 290 501 01')%><br />
<%=_('Verwendungszweck: Communtu')%><br />
<%=_('Spendenbescheinigung kann ausgestellt werden.')%>
</p>
<p><%=_('Mitwirkende an der AG Communtu (Alphabetische Reihenfolge):')%></p>
<ul>
<li>Torsten Franz</li>
<li>Till Mossakowski</li>
<li>Bernd Wagner</li>
</ul> 
<p><%=_('Du kannst Dich auch ')%><%= link_to _('beteiligen'), '/home/beteiligung' %>.</p>