<h1><%=t(:view_home_mail_0)%></h1>
<%=t(:view_home_mail_1)%>
<%= form_tag(:controller => 'home', :action => 'submit_mail') %>
<%= #text_field_tag(t(:view_home_mail_2))
%>
<p><%=t(:view_home_mail_3)%><%= text_field(:form, :email) %></p>
<%= submit_tag t(:view_home_mail_4) %>
</form>
