<h2><%=t(:view_home_news_0)%></h2>
<h3><%=t(:view_home_news_1)%></h3>
<p><%=t(:view_home_news_2)%></p>
<p><%= mail_to t(:view_home_news_3), t(:view_home_news_3) %>
<br /><%=t(:view_home_news_5)%><%= link_to t(:view_home_news_6), t(:view_home_news_13), :target=> "_blank" %><%=t(:view_home_news_8)%></p>
<p><%= mail_to t(:view_home_news_10), t(:view_home_news_10) %>
<br /><%=t(:view_home_news_11)%><%= link_to t(:view_home_news_12), t(:view_home_news_13), :target=>"_blank" %><%=t(:view_home_news_14)%></p>
<table><tr><td valign="top"><h3><%=t(:view_home_news_15)%></h3>
<p><%=t(:view_home_news_16)%></p>
<p><%= link_to t(:view_home_news_17), t(:view_home_news_18), :target=>"_blank" %></a></p>
</td><td>
  <%= link_to image_tag("blog.gif", :title => t(:view_home_news_19), :alt => t(:view_home_news_20), :border => '0'), t(:view_home_news_18), :target => '_blank' %>
</td></tr></table>
<h3><%=t(:view_home_news_22)%></h3>
<p><%=t(:view_home_news_23)%><%= link_to t(:view_home_news_24), '/home/beteiligung' %>.</p>
