<h2><%=_('Aktuelles')%></h2>
<h3><%=_('Unsere Mailinglisten')%></h3>
<p><%=_('Um die Kommunikation mit unseren Nutzern zu verbessern, haben wir Mailinglisten eingerichtet:')%></p>
<p><%= link_to _("mailto:communtu-announce-de+subscribe@googlegroups.com"), _("communtu-announce-de+subscribe@googlegroups.com") %>
<br /><%=_('Diese Liste ist für allgemeine Ankündigungen aus den Communtu Team für die Nutzer gedacht.
 Es wir hier ungefähr einmal die Woche eine E-Mail über den Verteiler geschickt. 
 Die Nachrichten werden in einem ')%><%= link_to _("Archiv"), _("http://groups.google.com/group/communtu-announce-de/topics?start="), :target=> "_blank" %><%=_(' gesammelt.')%></p>
<p><%= link_to_("mailto:communtu-discuss-de+subscribe@googlegroups.com"), _("communtu-discuss-de+subscribe@googlegroups.com") %>
<br /><%=_('Diese Liste ist für eine Diskussion rund um die Plattform gedacht.
 Hier kommt etwas mehr als einmal die Woche eine E-Mail über den Verteiler. 
 Die Nachrichten werden in einem ')%><%= link_to _("Archiv"), _("http://groups.google.com/group/communtu-discuss-de/topics?start="), :target=>"_blank" %><%=_(' gesammelt.')%></p>
<table><tr><td valign="top"><h3><%=_('Unser Blog')%></h3>
<p><%=_('Wir haben einen Blog, wo wir aktuelle Informationen zu Communtu eintragen.
Hier wird ungefähr einmal die Woche etwas gepostet. Hier werden Ankündigungen und neue Features präsentiert.')%></p>
<p><%= link_to _("Zum Blog"), _("http://communtu.blogspot.com"), :target=>"_blank" %></a></p>
</td><td>
  <%= link_to image_tag("blog.gif", :title => _('Der Blog von Communtu'), :alt => _('Der Blog von Communtu'), :border => '0'), _('http://communtu.blogspot.com'), :target => '_blank' %>
</td></tr></table>
<h3><%=_('Beteiligungsmöglichkeiten')%></h3>
<p><%=_('Du kannst Dich auch ')%><%= link_to _('beteiligen'), '/home/beteiligung' %>.</p>