<h2><%=t(:news)%></h2>
<% if I18n.locale.to_s == "de" %>
<h3>Umstellung unseres Repositorys</h3>
<table><tr><td>
<%= image_tag("conny_communtu.png") %>
</td><td>
<p>Wir haben unser Respository auf englisch umgestellt, wodurch sich die Paket-Namen unserer Metapakate verändert haben. Hier gibt es ein Skript, welches alle installierten Communtu-Pakete auf die englisch-namigen Pakete umstellt. Wenngleich auch die Pakete mit deutschen Namen noch verfügbar sind, werden sie jedoch nicht mehr aktualisiert. Wir empfehlen deshalb, das Skript auszuführen, falls ihr schon mal mit Communtu etwas installiert habt.</p><p>Diese <a href="/communtu2english">Datei</a> bitte mit "Speichern unter" herunterladen und mit Rechtsklick unter Eigenschaften bei Zugriffsrechte den Haken bei "Datei als Programm ausführen" setzen. Dann mit Anklicken und ausführen lassen.</p></td></tr></table>
<% end %>

<h3><%=t(:chat)%></h3>
<p><%=t(:promote_chat)%></p>
<p><%= link_to t(:to_chat), '/home/chat'%></p>
<h3><%=t(:view_home_news_1)%></h3>
<p><%=t(:view_home_news_2)%></p>
<p><%= mail_to t(:view_home_news_3), t(:view_home_news_3) %>
<br /><%=t(:view_home_news_5)%><%= link_to t(:archive), t(:view_home_news_7), :target=> "_blank" %><%=t(:view_home_news_8)%></p>
<p><%= mail_to t(:view_home_news_10), t(:view_home_news_10) %>
<br /><%=t(:view_home_news_11)%><%= link_to t(:archive), t(:view_home_news_13), :target=> "_blank" %><%=t(:view_home_news_8)%></p>
<table><tr><td valign="top"><h3><%=t(:view_home_news_15)%></h3>
<p><%=t(:view_home_news_16)%></p>
<p><%= link_to t(:view_home_news_17), t(:view_home_news_18), :target=> "_blank" %></p>
</td><td>
  <%= link_to image_tag("blog.gif", :title => t(:blog), :alt => t(:blog), :border => '0'), t(:view_home_news_18), :target => '_blank' %>
</td></tr></table>
<h3><%=t(:participation)%></h3>
<p><%=t(:you_can)%><%= link_to t(:view_home_news_24), '/home/beteiligung' %>.</p>
</div>
<%= render(:partial => 'box')%>
<%= render(:partial => 'conny')%>
