<h1>Suche nach "<%=@word%>"</h1>


<%= link_to "Bundles", "#", :onclick => "searchResult('bundles')"%>
<%= link_to "Livecds", "#", :onclick => "searchResult('livecds')"%>
<%= link_to "Packagess", "#", :onclick => "searchResult('packages')"%>

<div id="bundles" style="display:block;">
<h2>Bundles</h2>
<table>
  <tr>
    
  </tr>

<% for m in @metas %>
  <tr>
    <td><%= link_to m.name, m %></td>
	<td><%= m.description%></td>
  </tr>
<% end %>
</table>
</div>

<div id="livecds" style="display:none;">
<h2>Livecds</h2>
<table>
  <tr>
  </tr>

<% for m in @livecds %>
  <tr>
    <td><%= link_to m.name, m %></td>
	<td><%= m.distribution.short_name%></td>
	<td><%= m.architecture.name%></td>
	<td><%= m.derivative.name%></td>
  </tr>
<% end %>
</table>
</div>

<div id="packages" style="display:none;">
<h2>Packages</h2>
<table>
  <tr>
  </tr>

<% for m in @packages %>
  <tr>
    <td><%= link_to m.name, m %></td>
	<td><%= m.description%></td>
  </tr>
<% end %>
</table>
</div>
