<h2><%=h @folder.name %></h2>

<table>
  <tr>
    <th><%=_('Von')%></th>
    <th><%=_('Betreff')%></th>
    <th><%=_('erhalten')%></th>
  </tr>
  
  <% for message in @messages %>
    <tr>
      <td><%=h message.author.login %></td>
	  <!-- New Messages are bold --> 
	  <% if !message.is_read %>
      	<td><b><%= link_to h(message.subject), message_path(message) %></b></td>
	  <% else %>
	    <td><%= link_to h(message.subject), message_path(message) %></td>
	  <% end %>
	  <td><%= change_date_time(message.created_at) %></td>
    </tr>
  <% end %>
</table>

<%= link_to _("zurück"), user_path(current_user.id)%>