<div class="communtu_box">
	<div class="communtu_box_line">
	<%=t(:settings)%>
	</div>
        <div class="communtu_box_drin">
         <%= current_user.distribution.short_name %> <br />
         <%= current_user.derivative.name  %> <br />
         <%= current_user.architecture.name  %> <br />
         <%= Package.show_security_type(current_user.security) %> <br />
         <%= Package.show_license_type(current_user.license) %>  <br />
         <%= link_to t(:change), user_user_profile_path(current_user) + "/settings" %>
 	    </div>
</div>