<h2><%=t(:view_user_profiles__installation_0)%></h2>
<%= render_flash %>

<% if current_user.selected_packages.empty? %>
<%=t(:view_user_profiles__installation_1)%>

<% else %>
<%=t(:view_user_profiles__installation_2)%>
<%=t(:view_user_profiles__installation_13)%>
<ol>
	<li> <% url1 = '/users/'+current_user.id.to_s + '/suggestion/install_sources'%>	
        <%= link_to image_tag("/images/sources.jpg", :size => "22x22", :border => "0", :title => t(:view_user_profiles__installation_14), :alt => t(:view_user_profiles__installation_15)), url1 %>
		<%= link_to t(:view_user_profiles__installation_16) , url1  %>
        <br><%=t(:view_user_profiles__installation_17)%>
<% if current_user.profile_changed %> 
		  <%if current_user.profile_version > 1 %>
		     <br><%=t(:view_user_profiles__installation_18)%><% end %>
          <br><%=t(:view_user_profiles__installation_19)%><% else %>
		   <br><%=t(:view_user_profiles__installation_20)%><% end %>
    </li>
	<li> <%= image_tag("/images/install.png", :size => "22x22", :border => "0", :title => t(:view_user_profiles__installation_21), :alt => t(:view_user_profiles__installation_22))%>
<%=t(:view_user_profiles__installation_23)%><ul>
		<li><%= link_to t(:view_user_profiles__installation_24), '/suggestion/install_bundle_as_meta'%> </li>
	    <li><% url2 = 'apt://'+metas%>
             <%= link_to t(:view_user_profiles__installation_25), url2 %>
             <% if current_user.profile_changed && current_user.profile_version > 1 %>
		        <br><%=t(:view_user_profiles__installation_26)%><% end %>
		     <br><%=t(:view_user_profiles__installation_27)%><%= link_to 'apturl', t(:view_user_profiles__installation_28)%><%=t(:view_user_profiles__installation_29)%></li></ul>
	</li>
</ol>
<%=t(:view_user_profiles__installation_30)%><br>
<%=t(:view_user_profiles__installation_31, {:synaptic => package_link("Synaptic")})%>

<h3><%=t(:view_user_profiles__installation_11)%></h3>
<%=t(:view_user_profiles__installation_2)%>:
<ol>
	<li><%=t(:view_user_profiles__installation_3)%></li>
	<li><%=t(:view_user_profiles__installation_4)%></li>
	<li><%=t(:view_user_profiles__installation_5)%></li>
    <li><%=t(:view_user_profiles__installation_6)%></li>
	<li><%=t(:view_user_profiles__installation_7)%></li>
</ol>
<%=t(:view_user_profiles__installation_8)%>

<div style="padding-top:12px;padding-right:8px" align="right">
	<%= link_to image_tag("/images/apt.png", :title=>t(:view_user_profiles__installation_9), :alt=>t(:view_user_profiles__installation_10), :border=>'0'), user_path(current_user) + "/suggestion/install_new"%>
    </div>

<% end %>