  <% if cd.nil? %>
    <% if !bundle %>
      <p><%=t(:livecd_start_message)%><br />
      <i><%=current_user.selected_packages_uniq.map{|m| m.name}.join(", ") %></i>
      </p>
    <% end %>
    <p><%=t(:livecd_message,:cdimage_link => (link_to t(:livecd_image), t(:livecd_image_link)))%></p>

    <p>
    <b><%=t(:cd_donate, {:donate_link => link_to(t(:donate),'/home/donate')})%></b>
    <br>
    <% if bundle %>
      <%= form_tag("/users/#{current_user.id}/user_profile/create_livecd_from_bundle/#{@bundle.id}")%>
    <% else %>
    <%= form_tag({:controller => :user_profiles, :action => :create_livecd, :id => current_user.id})%>
      <%= t(:name_of_livecd) %>
      <%= text_field_tag(:name,default_name) %>
    <% end %>
      <% if is_power_user? %>
        <ul>
          <li><%= check_box_tag("iso") %> <%= t(:create_iso_image)%></li>
          <li><%= check_box_tag("kvm") %> <%= t(:create_kvm_image)%></li>
          <li><%= check_box_tag("usb") %> <%= t(:create_usb_image)%></li></ul><br />
      <% end %>
      <%= submit_tag(t(:livecd_start)) %></p>
      <p><%=t(:view_user_profiles__installation_33)%>
      <%= link_to (t(:sources), user_path(current_user) + "/user_profile/sources")%>
      <%=t(:view_user_profiles__installation_34)%>
      </p>
      </form>
  <% else %>
    <% if cd.generated %>
      <%=t(:cd_already_created)%>
    <% else %>
      <%=t(:cd_being_created)%>
    <% end %>
    <p>
      <%= render :partial => 'livecd', :object => cd %>
    </p>
  <% end %>
