<h3><%=t(:view_user_profiles__profile_rating_0)%></h3>

<%= error_messages_for :user_profile %>


<p><%=t(:view_user_profiles__profile_rating_1)%><img src='/images/add.png' width='10' height='10'><%=t(:view_user_profiles__profile_rating_2)%></p>

<p><b><%=t(:view_user_profiles__profile_rating_3)%></b></p>
<% form_tag(user_user_profile_path(current_user) + "/update_ratings", options = {:name => "ratings", :method => :put}) do %>
    <div> 
        <%= show_suggestion2(root, selection) %>
    </div> 
    <div style="margin-top:20px;">
        <%= link_to t(:view_user_profiles__profile_rating_4), "javascript:document.ratings.submit();" %>
    </div>
<% end %>

