<h3>Grunddaten editieren</h3>

<%= error_messages_for :user_profile %>

<% if current_user.first_login == 1 %>

<p>Dies ist das erste mal, dass du dich angemeldet hast. Am besten editierst du auf dieser und der nächsten Seite
zunächst einmal dein Benutzerprofil. Diese Informationen werden dann dazu verwendet, um dir Softwarebündel zu
empfehlen, die für dich interessant sein könnten.</p>

<% else %>

<p>Hier kannst du dein Benutzerprofil editieren. Bewerte eine Option,
um anzugeben, wie wichtigen dir der Bereich ist. Diese Informationen werden
benutzt, damit das System dir sinnvolle weitere Pakete empfehlen kann.</p>

<% end %>

<p>Auf dieser Seite kannt du deine Stammdaten angeben.</p>

<% form_tag user_user_profile_path(current_user) + "/update_data", options = {:name => "data", :method => :put} do %>
    <div>
        <p>Wähle zunächst deine Ubuntu-Version aus.</p>
        
        <% distrib_options = "" %>
        <% distributions.each do |distribution| %>
            <% distrib_options << "<option value='" + distribution.id.to_s + "'>" + distribution.name + "</option>" %>
        <% end %>
        
        <%= select_tag("distribution", distrib_options) %>
        
    	<% options = Array.new (Package.security_types.length), false%>
		<% options[current_user.license] = true%>
		
        <p>Hier kannst du einstellen, wie sicher deine Installationsquellen sein sollen</p>
        
        <%= radio_button_tag "sec", "0", options[0] %> Nur Ubuntuquellen zulassen (sehr sicher)<br>
        <%= radio_button_tag "sec", "1", options[1] %> Communityquellen zulassen <br>
        <%= radio_button_tag "sec", "2", options[2] %> Alle Quellen zulassen (unsicherer, aber mehr Programme)<br>
    </div>
    <div style="margin-bottom:30px">
    	<% options = Array.new (Package.license_types.length), false %>
		<% options[current_user.license] = true %>
        <p>Hier kannst du auswählen, welche Lizenzen du zulassen willst</p>
        <%= radio_button_tag "lic", "0", options[0] %> Freie Software (Quellen liegen offen und dürfen weiterentwickelt werden)<br>
        <%= radio_button_tag "lic", "1", options[1] %> Unfreie Lizenzen zulassen (auch kostenlos, aber unfrei)<br>
    </div>
    <div style="margin-top:20px;">
        <% if current_user.first_login %>
            <%= link_to "Weiter", "javascript:document.data.submit();" %>
        <% else %>
            <%= link_to "Speichern", "javascript:document.data.submit();" %>
        <% end %>
    </div>
<% end %>
