<h2><%=t(:view_user_profiles__profile_rating_0)%></h2>

<%= error_messages_for :user_profile %>
<%= render :partial => 'box' %>
<% form_tag(user_user_profile_path(current_user) + "/update_ratings", options = {:name => "ratings", :method => :put}) do %>

<h3><%=t(:rough_selection)%></h3>
<p><%=t(:view_user_profiles__profile_data_3)%></p>
		<table><tr>
		<% count = 0%>
  <% main_categories = Category.find(:all, :conditions => {:parent_id => 1, :main => true}) %>
 <% main_categories.each do |child|%>
		  <th align="left">
		  <%= check_box_tag "categories[]", child.id, ratings[child.id], :id => "categories_"+child.id.to_s %>
<!--<input id="categories_<%= child.id %>" name="categories[]" value="<%= child.id %>" type="checkbox">-->
          <label for="categories_<%= child.id %>"><%= child.name %></label>
          <% if child.link != nil %>
          <% if child.link != "" %>
          <%= link_to(image_tag("info_out_pfeil.png", :title => t(:view_user_profiles__profile_data_4), :alt => t(:view_user_profiles__profile_data_4), :border => '0'), child.link, :target => '_blank') %>
          <% end %>
          <% end %>
		  </th>
		  <% count += 1%>
		  <% if count % 3 == 0 then  %>
		     </tr><tr>
		  <% end %>
		<% end %>
		</tr>
		</table>
    <div style="margin-top:20px;">
        <%= submit_tag t(:save_rough), :name => "rough" %>
        <%= submit_tag t(:save_rough_install), :name => "rough_install" %>
    </div>

<br />
<h3><%=t(:fine_selection)%></h3>

<p><%=t(:view_user_profiles__profile_rating_1)%><img src='/images/add.png' width='10' height='10'><%=t(:view_user_profiles__profile_rating_2)%>
<b><%=t(:view_user_profiles__profile_rating_3)%></b></p>
    <div> 
        <%= show_suggestion2(root, selection, ratings) %>
    </div> 
    <div style="margin-top:20px;">
        <%= submit_tag t(:save_fine), :name => "fine" %>
        <%= submit_tag t(:save_fine_install), :name => "fine_install" %>
    </div>
<% end %>

