<h3><%=t(:view_user_profiles__profile_data_0)%></h3>

<%= render_flash %>
<%= error_messages_for :user_profile %>

<p><%=t(:view_user_profiles__profile_data_1)%><b><%=t(:view_user_profiles__profile_data_2) %></b></p>

<% form_tag user_user_profile_path(current_user) + "/update_data", options = {:name => "data", :method => :put} do %>
    <ol>	
    <li><p><%=t(:view_user_profiles__profile_data_3)%><br>
		<table><tr>
		<% count = 0%>
        <% root.children.each do |child|%>
		  <th align="left">
		  <%= check_box_tag "categories[]", child.id, ratings[child.id] %>
          <%= child.name %>
          <% if child.link != nil %>
          <% if child.link != "" %>
          <%= link_to(image_tag("16-em-open.png", :title => t(:view_user_profiles__profile_data_4), :alt => t(:view_user_profiles__profile_data_4), :border => '0'), child.link, :target => '_blank') %>
          <% end %>
          <% end %>
		  </th>
		  <% count += 1%>
		  <% if count % 3 == 0 then  %>
		     </tr><tr>
		  <% end %> 	
		<% end %>
		</tr>
		</table></li>
     <li><p><%=t(:view_user_profiles__profile_data_6)%><%= link_to(t(:view_user_profiles__profile_data_7),'/user_profiles/help')%><br />
		<% if !dist_string.nil? %>
<%=t(:view_user_profiles__profile_data_8)%><%= dist_string %>
		<% end %>
</p>
        <% distrib_options = "" %>
        <% distributions.each do |distribution| %>
            <% distrib_options << "<option value='" + distribution.id.to_s + "'" + 
                                  ((logged_in? and current_user.distribution_id==distribution.id) ? "selected='selected'" : "") + ">" + 
                                  distribution.name + "</option>" %>
        <% end %>
        
        <%= select_tag("distribution", distrib_options) %>

        <% if current_user.derivative.nil? then current_user.derivative_id = 1 end %>
        <% Derivative.find(:all).each do |der|%>
          <% if logged_in? %>
	  	    <% selected = der == current_user.derivative %>
		  <% else %>
		    <% selected = der == 1%>
		  <% end %>  
		  <%= radio_button_tag(:derivative,der.id, selected)%> <%=h der.name%>   
        <% end %>
		
	</li>
    	<% options = Array.new(Package.security_types.length, false) %>
    	<% if logged_in? %>
		  <% options[current_user.security] = true %>
		<% elsif not session[:security].nil? %>
		  <% options[session[:security]] = true %>
		<% else %>
		  <% options[2] = true %>
		<% end %>
		
     <li><p><%=t(:view_user_profiles__profile_data_9)%></p>
        
        <%= radio_button_tag "sec", "0", options[0] %><%=t(:view_user_profiles__profile_data_10)%><br>
        <%= radio_button_tag "sec", "1", options[1] %><%=t(:view_user_profiles__profile_data_11)%><br>
        <%= radio_button_tag "sec", "2", options[2] %><%=t(:view_user_profiles__profile_data_12)%>
        <%= package_link "Skype"%>, <%= package_link "Virtualbox"%>, DVDs ... )<br>
         </li>
    <li><div style="margin-bottom:30px">
    	<% options = Array.new(Package.license_types.length, false) %>
    	<% if logged_in? %>
    		<% options[current_user.license] = true %>
        <% elsif not session[:license].nil? %>
            <% options[session[:license]] = true %>
        <% else %>
            <% options[1] = true %>
        <% end %>
        <p><%=t(:view_user_profiles__profile_data_13)%></p>
        <%= radio_button_tag "lic", "0", options[0] %><%=t(:view_user_profiles__profile_data_14)%><br>
        <%= radio_button_tag "lic", "1", options[1] %><%=t(:view_user_profiles__profile_data_15)%><br>
        </div></li>
	</ol>
    <div style="margin-top:20px;">
        <%= submit_tag t(:view_user_profiles__profile_data_16), :name => "install" %>
        <%= submit_tag t(:view_user_profiles__profile_data_17), :name => "choose" %>
    </div>
<% end %>
