<h2><%=t(:bundle_to_livecd, :name => @bundle.name)%></h2>
<%= render_flash %>
<%= render :partial => 'box' %>

<%= render :partial => 'livecd_form',
           :locals => {:cd => @cd, :bundle => true} %>

<hr />
<%= render :partial => 'livecds' %>
