<h1>New user_profile</h1>

<%= error_messages_for :user_profile %>

<% form_for(@user_profile) do |f| %>
  <p>
    <b>Benutzer</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Kategorie</b><br />
    <%= f.text_field :category_id %>
  </p>

  <p>
    <b>Expertenlevel</b><br />
    <%= f.text_field :rating %>
  </p>

  <p>
    <%= f.submit "Anlegen" %>
  </p>
<% end %>

<%= link_to 'Zurück', user_profiles_path %>
