<h1><%=_('Neues Nutzerprofil')%></h1>

<%= error_messages_for :user_profile %>

<% form_for(@user_profile) do |f| %>
  <p>
    <b><%=_('Benutzer')%></b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b><%=_('Kategorie')%></b><br />
    <%= f.text_field :category_id %>
  </p>

  <p>
    <b><%=_('Expertenlevel')%></b><br />
    <%= f.text_field :rating %>
  </p>

  <p>
    <%= f.submit _("Anlegen") %>
  </p>
<% end %>

<%= link_to _('Zurück'), user_profiles_path %>
