<h1><%=t(:view_user_profiles_new_0)%></h1>

<%= error_messages_for :user_profile %>

<% form_for(@user_profile) do |f| %>
  <p>
    <b><%=t(:view_user_profiles_new_1)%></b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b><%=t(:category_without_colon)%></b><br />
    <%= f.text_field :category_id %>
  </p>

  <p>
    <b><%=t(:view_user_profiles_new_3)%></b><br />
    <%= f.text_field :rating %>
  </p>

  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to t(:back), user_profiles_path %>
