<h3><%=t(:view_user_profiles__sources_0)%></h3>

<%= error_messages_for :user_profile %>


<p><%=t(:view_user_profiles__sources_1)%></p>

<ul>
<% @sources.each do |repository,packages| %>
<li>
	<%= link_to(repository.name, repository_path(repository)) %>
	<ul>
		<% packages.uniq.each do |p|%>
		<li> <%= p.icon(22) %> <%= link_to(p.name,package_path(p))%></li>
		<% end %>
	</ul>
</li>
<% end %>
</ul>

<% if !@additional_sources.nil? %>
  <%=t(:additional_sources)%><br />
  <ul>
    <% for repository in @additional_sources %>
       <li><%= link_to(repository.name, repository_path(repository)) %></li>
    <% end %>
  </ul>
<% end %>