<div id="container">
  <% form_tag (sessions_path, :class => "niceform") do %>
    <fieldset>
    	<legend>LogIn</legend>
        <dl>
        	<dt><label for="login">Login:</label></dt>
          <dd><%= text_field_tag 'login' %></dd>  
        </dl>
        <dl>
        	<dt><label for="password">Password:</label></dt>
          <dd><%= password_field_tag 'password' %></dd>  
        </dl>
        <dl>
        	<dt><label for="remember_me">Remember me:</label></dt>
          <dd><%= check_box_tag 'remember_me' %></dd>
        </dl>
    </fieldset>
    <fieldset class="action">
      <%= submit_tag 'Log in' %>
    </fieldset>
  <% end -%>
  <p>Don't have an account? <%= link_to 'Sign Up', '/signup' %></p>
</div>
