<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<% if list.empty? then %>
<p><%=t(:view_debs_index_2)%></p>
<% else %>
<table>
  <tr>
    <th>Metapackage</th>
    <th>Distribution</th>
    <th>Derivative</th>
    <th>License type</th>
    <th>Security type</th>
    <th>Version</th>
    <th>Url</th>
    <th>Generated</th>
    <th>Outdated</th>
    <th>Errmsg</th>
  </tr>

<% for deb in list %>
  <tr>
    <td><%=h deb.metapackage.name %></td>
    <td><%=h deb.distribution.short_name %></td>
    <td><%=h deb.derivative.name %></td>
    <td><%=h deb.license_type %></td>
    <td><%=h deb.security_type %></td>
    <td><%=h deb.version %></td>
    <td><%=h deb.url %></td>
    <td><%=h deb.generated %></td>
    <td><%=h deb.outdated %></td>
    <td><%=h deb.errmsg %></td>
    <td><%= link_to t(:show), deb %></td>
    <td><%= link_to t(:view_debs_index_5), :action => 'generate', :id => deb.id %></td>
  </tr>
<% end %>
</table>

<br />

<% end %>
