<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<h1>Editing deb</h1>

<% form_for(@deb) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :metapackage_id %><br />
    <%= f.text_field :metapackage_id %>
  </p>
  <p>
    <%= f.label :distribution_id %><br />
    <%= f.text_field :distribution_id %>
  </p>
  <p>
    <%= f.label :derivative_id %><br />
    <%= f.text_field :derivative_id %>
  </p>
  <p>
    <%= f.label :license_type %><br />
    <%= f.text_field :license_type %>
  </p>
  <p>
    <%= f.label :security_type %><br />
    <%= f.text_field :security_type %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :generated %><br />
    <%= f.check_box :generated %>
  </p>
  <p>
    <%= f.label :outdated %><br />
    <%= f.check_box :outdated %>
  </p>
  <p>
    <%= f.label :errmsg %><br />
    <%= f.text_field :errmsg %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @deb %> |
<%= link_to 'Back', debs_path %>
