<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<% if @result && @result[:start_rendering] %>
  <p id="tag_matches"><strong>Tag Matches:</strong>
    <% if @result[:tags] %>
      <span class="tag_name">'<%= @result[:tags].collect { |t| t[:name] }.compact.join("', '") %>'</span>
    <% end %>
  </p>

  <div id="packages_and_comments">
    <div id="package_matches">
      <table>
        <tr>
          <th valign="middle" class="packageList" align="left">Packages (<%=h @result[:packages_num].to_s %>)</th>
          <th valign="middle" class="packageList" align="left">Popularity</th>
        </tr>
        <% if @result[:packages] %>
          <% @result[:packages].each do |p| %>
          <% css = cycle("packageList0", "packageList1") %>
        <tr>
          <td class="<%= css %>" valign="middle">
            <a id="package_name-<%=h p[:id] %>"><%=h p[:name] %></a>
          </td>
          <td class="<%= css %>" valign="middle"><%=h ((p[:p_old]) ? p[:p_old] : 0).to_s %></td>
        </tr>
          <% end %>
        <% end %>
      </table>
    </div>

  </div>
<% end #if @start_rendering%>
