<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>


  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:warning] %></p>

  <div id="description">
    <h1>Ubuntu Packages Search</h1>
    <p>Based on <a href="http://debtags.alioth.debian.org/">debtags</a> and results from the <a href="http://popcon.ubuntu.org/">Ubuntu popularity contest</a>, this search allows you to search for Ubuntu packages in natural language.</p>
  </div>

  <div id="search_form">
  <% form_tag( :html => { :id => "search" }, :remote => true ) do %>
    <%= label_tag :query %>
    <% if @result && @result[:query] %>
      <%= text_field_tag :query, @result[:query] %>
    <% else %>
      <%= text_field_tag :query %>
    <% end %>
    <%= submit_tag "Find Packages" %>
    <span id="precs"><% if @result && @result[:precision] %>
      <%= check_box_tag :precision, "substrings", (@result[:precision] == "substrings") %>
    <% else %>
      <%= check_box_tag :precision, "substrings" %>
    <% end %><%= label_tag "match substrings" %></span>
    <%= observe_form( :search,
      :frequency => 0.5#,
      #:update => "result"
    ) %>
  <% end %>
  </div>
