<h1>Rolle bearbeiten</h1>

<%= error_messages_for :role %>
<div class="inner1">
<% form_for(@role) do |f| %>
  <p>
    <b>Rollenname</b><br />
    <%= f.text_field :rolename %>
  </p>

  <p>
    <%= f.submit "Speichern" %>
  </p>
<% end %>
</div>
<%= link_to 'Anzeigen', @role %> |
<%= link_to 'Zurück', roles_path %>
