<h1><%=_('Rolle bearbeiten')%></h1>

<%= error_messages_for :role %>
<div class="inner1">
<% form_for(@role) do |f| %>
  <p>
    <b><%=_('Rollenname')%></b><br />
    <%= f.text_field :rolename %>
  </p>

  <p>
    <%= f.submit _("Speichern") %>
  </p>
<% end %>
</div>
<%= link_to _('Anzeigen'), @role %> |
<%= link_to _('Zurück'), roles_path %>
