<% #  (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
   #  use, modification or distribution only with permission of the copyright holder
%>

<h2><%=t(:view_roles_index_0)%><%=h @user.login.capitalize %></h2>
 
<h3><%=t(:view_roles_index_1)%></h3>
<ul><%= render :partial => 'role', :collection => @user.roles %></ul>
 
<h3><%=t(:view_roles_index_2)%></h3>
<ul><%= render :partial => 'role', :collection => (@all_roles - @user.roles) %></ul>
