<%= t(:installation_two_steps)%>
<ol>
	<li> 	
        <%= link_to image_tag("/images/sources.jpg", :size => "22x22", :border => "0", :title => t(:add_sources), :alt => t(:add_sources)), url1 %>
		<%= link_to t(:view_user_profiles__installation_16) , url1  %> 
        <br /><%=t(:view_user_profiles__installation_17)%> <%= link_to t(:more_about_sources), '/home/faq/#a19', :target => '_blank'%>
    </li>
	<li>
	 <%= link_to(image_tag("/images/install.png", :size => "22x22", :border => "0", :title => t(:view_user_profiles__installation_21), :alt => t(:view_user_profiles__installation_21)),url2)%>   
             <%= link_to t(:install_software), url2 %>
		     <br /><%=t(:view_user_profiles__installation_27)%><%= link_to 'apturl', t(:view_user_profiles__installation_28)%><%=t(:view_user_profiles__installation_29)%>
	</li>
</ol>
<%=t(:view_user_profiles__installation_30)%><br />