<table style="height:100%;" width="100%" cellspacing="0">
  <tr>
    <th valign="middle" class="packageList" align="left">Name</th>
    <th valign="middle" class="packageList" align="left">Kategorie</th>
    <th valign="middle" class="packageList" align="left">Level</th>
    <th valign="middle" class="packageList" align="left">Distribution</th>
    <th valign="middle" class="packageList" align="left">Veröffentlicht</th>
	<th valign="middle" class="packageList" align="left"></th>
  </tr>
<% id = 0 %>
<% for metapackage in packages %>
 <% id  = metapackage.distribution_id %>
 <% css = cycle("packageList0", "packageList1") %>
  <tr>
    <td class="<%= css %>" valign="middle">
		<%= link_to metapackage.name, distribution_metapackage_path(metapackage.distribution, metapackage) %></td>
    <td class="<%= css %>" valign="middle">
		<%=h metapackage.category.name %></td>
    <td class="<%= css %>" valign="middle">
		<%=h metapackage.rating %></td>
    <td class="<%= css %>" valign="middle">
		<%=h metapackage.distribution.name %></td>
	<td class="<%= css %>" valign="middle" align="middle">
	    <% if metapackage.published == Metapackage.state[:published] %>
	        <%= image_tag("yes.png", :size => "22x22", :border => "0") %>
	    <% else %>
	        <%= image_tag("no.png", :size => "22x22", :border => "0") %>
	    <% end %>
	</td>
    <td class="<%= css %>" valign="middle" width="100">
    
		<%= link_to image_tag("search.png", :size => "22x22", :border => "0"), \
		    distribution_metapackage_path(metapackage.distribution, metapackage) %>
		
	    <% if logged_in? %>
	    
		    <% if metapackage.user_id == current_user.id %>
		        <%= link_to_remote image_tag("edit.png", :size => "22x22", :border => "0"), :update => :meta_cart,\
		    			:url => { :controller => :temp_metapackages, :action => :transform_to_temp,\
		    			:id => metapackage.id }%>
		    <% end %>
		    
		    <% if is_admin? %>
    		    <%= link_to image_tag("edit-delete.png", :size => "22x22", :border => "0"), \
        		        distribution_metapackage_path(metapackage.distribution, metapackage), \
        		        :confirm => 'Are you sure?', :method => :delete %>
		    <% end %>
		    
	<% end %>
	</td>
  </tr>
<% end %>
</table>

