<%= form_tag("/metapackage/action", :id => "action_form") %>

<table style="height:100%;" width="100%" cellspacing="0">
  <tr>
    <th valign="middle" class="packageList" align="left">Name</th>
    <th valign="middle" class="packageList" align="left">Kategorie</th>
    <th valign="middle" class="packageList" align="left">Standard</th>
    <th valign="middle" class="packageList" align="left">Veröffentl.</th>
    <th valign="middle" class="packageList" align="left">Installieren</th>
    <th valign="middle" class="packageList" align="left"></th>
  <th valign="middle" class="packageList" align="left"></th>
</tr>

    <% for metapackage in packages %>
     <% css = cycle("packageList0", "packageList1") %>
      <tr>
        <td class="<%= css %>" valign="middle">
		    <%= link_to(metapackage.name, metapackage_path(metapackage), :title => "zur Detailansicht") %></td>
        <td class="<%= css %>" valign="middle">
		    <%=h metapackage.category.name %></td>
        <td class="<%= css %>" valign="middle">
		    <%=metapackage.default_install ?  "ja" : "nein" %></td>
	    <td class="<%= css %>" valign="middle" align="middle">
	        <% if metapackage.published == Metapackage.state[:published] %>
	            <%= image_tag("yes.png", :size => "22x22", :border => "0", :title => "veröffentlicht", :alt => "veröffentlicht") %>
	        <% else %>
	            <%= image_tag("no.png", :size => "22x22", :border => "0", :title => "nicht veröffentlicht", :alt => "nicht veröffentlicht") %>
	        <% end %>
	    </td>
		<td class="<%= css %>" valign="middle" align="middle">
			<%= link_to image_tag("/images/install.png", :size => "22x22", :border => "0", :title => "installieren", :alt => "installieren"), user_path(current_user) + "/suggestion/quick_install/" + metapackage.id.to_s%>		
		</td>	
        <% if logged_in? %>
        <td class="<%= css %>" valign="middle" width="30">
                <% if (metapackage.user_id == current_user.id) or is_admin? %>
                    <% if editing_metapackage? %>
                        <%= link_to_remote(image_tag("/images/add.png", :size => "22x22", :border => "0", :title => "hinzufügen", :alt => "hinzufügen"), \
                                :url => user_path(current_user) + "/cart/add_to_cart/" + metapackage.id.to_s,\
                                :update => 'meta_cart') %>
                        <% end %>
                <% end %>
	</td>
	<td class="<%= css %>" width="20" aligh="middle">
                <%= check_box('packages[' + metapackage.id.to_s + ']', 'select', :checked => false) %>
	</td>
	<% end %>
      </tr>
    <% end %>
    </table>
    <div style="position:relative; left:520px; top:15px; top:4px; height:24px;width:150px;">
        <%= select_tag("method", "<option>0 Bündel ausgewählt</option>", :onchange => "this.form.submit()") %>
    </div>
  </form>

<%= observe_form('action_form', :url => "/metapackage/changed", :update => :method) %>
