<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>



<table style="height:100%;" width="100%" cellspacing="0">
  <tr>
    <th valign="middle" class="packageList" align="left"><%= link_to t(:name_without_colon), '?order=name' %></th>
    <th valign="middle" class="packageList" align="left"><%= link_to t(:category_without_colon), '?order=categories.name' %></th>
    <th valign="middle" class="packageList" align="left"><%=t(:view_metapackages__metalist_3)%></th>
	<th valign="middle" class="packageList" align="left"><%= link_to t(:view_metapackages__metalist_10), '?order=rating' %></th>
    <th valign="middle" class="packageList" align="left"><%=t(:install)%></th>
	<th valign="middle" class="packageList" align="left"></th>
  <th valign="middle" class="packageList" align="left"></th>
</tr>
<% # if we need it: .sort {|y,x| x.tested.to_s <=> y.tested.to_s} %>
    <% for metapackage in packages
 %>
     <% if metapackage.name != "" %>
     <% css = cycle("packageList0", "packageList1") %>
      <tr>
        <td class="<%= css %>" valign="middle">
		    <%= link_to(metapackage.name, metapackage_path(metapackage), :title => t(:detailed_view)) %></td>
        <td class="<%= css %>" valign="middle">
		    <%=h metapackage.category.name %></td>
	    <td class="<%= css %>" valign="middle" align="center">
	        <% if metapackage.is_published? %>
	            <%= image_tag("yes.png", :size => "16x16", :border => "0", :title => t(:published), :alt => t(:published)) %>
	        <% else %>
	            <%= image_tag("no.png", :size => "16x16", :border => "0", :title => t(:view_metapackages_show_12), :alt => t(:view_metapackages_show_12)) %>
	        <% end %>
	    </td>
		<td class="<%= css %>" valign="middle">
			<% if false and logged_in? and metapackage.rated_by_user?(current_user) %>
				<!-- STARS already voted -->
				<div class="star-ratings-block" id="star-ratings-block-<%=h metapackage.id %>">
	            	<%= render :partial => "rating/show", :locals => { :metapackage => metapackage } %>
	        	</div>
			<%else%>
				<!-- if not voted yet  -->
				<div class="star-ratings-block" id="star-ratings-block-<%=h metapackage.id %>">
            		<%= render :partial => "rating/rating", :locals => { :metapackage => metapackage } %>
        		</div>
			<%end%>
		</td>
		<td class="<%= css %>" valign="middle" align="center">
			<%= link_to(image_tag("/images/64x64/download.png", :height => 30, :title =>t(:go_to_download), :alt=>t(:go_to_download), :border => "0"), "/metapackages/install/#{metapackage.id}") %>
            <% if is_registered_user? %>
			  <% path = if params[:action]=='index_mine' then "mybundle_cd" else "bundle_cd" end %>
              <%= link_to image_tag("/images/30x30/cd.png", :size => "30x30", :border => "0", :title => t(:create_your_livedvd), :alt => t(:create_your_livedvd)), "/download/settings/#{metapackage.id}?path=#{path}" %>
            <% end %>
		</td>	
        <% if logged_in? %>
        <td class="<%= css %>" valign="middle" width="10">
                <% if (metapackage.user_id == current_user.id) or is_admin? %>
                    <% if editing_metapackage? and !metapackage.deb_error %>
                        <%= link_to_remote(image_tag("/images/add.png", :size => "22x22", :border => "0", :title => t(:add_to_bundle), :alt => t(:add_to_bundle)), \
                                :url => "/cart/add_to_cart/" + metapackage.id.to_s,\
                                :update => 'meta_cart') %>
                        <% end %>
                <% end %>
	</td>
	<td class="<%= css %>" valign="middle">
		<% if !metapackage.is_published? and (metapackage.user_id == current_user.id or is_admin?) %>
			<%= link_to (image_tag("edit-delete-small.png", :alt=>"",:title=>"", :border=>"0")), '/metapackages/' + metapackage.id.to_s, :confirm => t(:are_you_sure), :method=>"delete"%>
		<%end%>
	</td>
	<% end %>
      </tr>
	<tr id="comment_<%=metapackage.id%>" style="display:none;">
		<td class="<%= css %>" align="left" colspan="8">  
			<%= render :partial=>"rating/rating_comment" ,:locals => { :metapackage => metapackage } %>
		</td>
	</tr>
      <% end %>
    <% end %>
    </table>
