<%= render_flash %>

<div class="inner1">
  <% if logged_in? %>
<table>
<%= form_tag ("/metapackages/save_comment/" + @id.to_s) %>
	<tr><td valign='top'><%=t(:view_metapackages_add_comment_0)%></td><td>
		<%= text_area_tag 'input', nil, { :type => :textarea, :name => :comment, :cols => 80,\
		:rows => 10 }%>
	</td></tr>
	<tr><td colspan='2' align="center">
		<%= hidden_field_tag 'metapackage_id', @id %>
		<%= submit_tag t(:view_metapackages_add_comment_1) %>	
	</td></tr>
	
</table>
</form>
<% else %>
<p><%=t(:view_metapackages_add_comment_2)%></p>
<% end %>
</div>
