<div class="inner0">
<% if logged_in? %>
<%= render_flash %>
    <span class="headline">Bündel-Informationen anpassen</span>
    <br/>
    <br/>
    <% form_for(@metapackage) do |f| %>
        <br/>
        <table>
        <tr>
	        <td><%=_('Name:')%></td>
	        <td><%= f.text_field(:name, { :size => 16}) %></td>	
        </tr>
        <tr>
	        <td><%=_('Version:')%></td>
	        <td><%= f.text_field(:version, { :size => 16}) %></td>	
        </tr>
		<tr><td colspan=2><%=_('Bitte Versionen => 1.0 nur für ausgereifte Bündel verwenden.')%></td></tr>
        <tr>
	        <td><%=_('Kategorie:')%></td>
	        <td>
	        	<% @categories = Category.find(:all, :order => "name")%>
		        <%= f.collection_select(:category_id,@categories,:id,:name)%>
	        </td>
        </tr>
        <% if is_admin? %>
        <tr>
	        <td><%=_('Standardmäßig installieren:')%></td>
	        <td><%= f.check_box(:default_install) %></td>	
        </tr>
        <% end %>
        <tr>
	        <td valign='top'><%=_('Beschreibung:')%></td>
	        <td><%= f.text_area(:description, { :rows => 12, :cols => 50 } ) %></td>	
        </tr>

        </table>	
	<%= render :partial => "package_list", :locals => { :metapackage => @metapackage, :editable => true } %>	
        <div align="right"><%= submit_tag _("Speichern")%></div>
		

    <% end %>
    <% else %>
    <p><%=_('Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.')%></p>
    <% end %>
</div>
