<div class="inner0">

    <span class="headline">Bündel-Informationen anpassen</span>
    <br/>
    <% form_for(@metapackage, :url => distribution_path(@metapackage.distribution) + "/metapackages/" + @metapackage.id.to_s ) do |f| %>
        <table>
        <tr>
	        <td>Kategorie:</td>
	        <td>
	        	<% @categories = Category.find(:all)%>
		        <%= f.collection_select(:category_id,@categories,:id,:name)%>
	        </td>
        </tr>
        <tr>
	        <td>Name:</td>
	        <td><%= f.text_field(:name, { :size => 16}) %></td>	
        </tr>
        <tr>
	        <td>Expertenlevel:</td>
	        <td><%= f.select(:rating, 1..5) %></td>	
        </tr>
        <tr>
	        <td valign='top'>Beschreibung:</td>
	        <td><%= f.text_area(:description, { :rows => 12, :cols => 50 } ) %></td>	
        </tr>
        <tr>
        <td colspan="2" align="center"><%= submit_tag "Speichern"%></td>
        </tr>

        </table>	
    <% end %>
    <%= link_to 'Zurück', @backlink %>
</div>
