<div class="inner0">

    <span class="headline">Bündel-Informationen anpassen</span>
    <br/>
    <br/>
    <% form_for(@metapackage) do |f| %>
        <br/>
        <div align="right"><%= submit_tag "Speichern"%></div>
        <table>
        <tr>
	        <td>Name:</td>
	        <td><%= f.text_field(:name, { :size => 16}) %></td>	
        </tr>
        <tr>
	        <td>Kategorie:</td>
	        <td>
	        	<% @categories = Category.find(:all, :order => "name")%>
		        <%= f.collection_select(:category_id,@categories,:id,:name)%>
	        </td>
        </tr>
        <tr>
	        <td>Standardmäßig installieren:</td>
	        <td><%= f.check_box(:default_install) %></td>	
        </tr>
        <tr>
	        <td valign='top'>Beschreibung:</td>
	        <td><%= f.text_area(:description, { :rows => 12, :cols => 50 } ) %></td>	
        </tr>

        </table>	
	<%= render :partial => "package_list", :locals => { :metapackage => @metapackage, :editable => true } %>	
        <div align="right"><%= submit_tag "Speichern"%></div>
		

    <% end %>
    <%= link_to 'Zurück', @backlink %>
</div>
