<div class="inner0">

    <span class="headline">Bündel-Informationen anpassen</span>
    <br/>
    <%= form_tag distribution_path(@metapackage.distribution) + "/metapackages/" + @metapackage.id.to_s, :method => :put %>
    <%= hidden_field_tag 'id', @metapackage.id%>
        <table>
        <tr>
	        <td>Kategorie:</td>
	        <td>
		        <%= select_tag('metapackage[category_id]', (get_category_select_options @categories))%>
	        </td>
        </tr>
        <tr>
	        <td>Name:</td>
	        <td><%= text_field_tag('metapackage[name]', @metapackage.name, { :size => 16}) %></td>	
        </tr>
        <tr>
	        <td>Expertenlevel:</td>
	        <% options = "" %>
	        <% 5.times do |level| %>
		        <% options += "<option>" + level.to_s + "</option>" %>
	        <% end %>
	        <td><%= select_tag('[metapackage[rating]', options) %></td>	
        </tr>
        <tr>
	        <td valign='top'>Beschreibung:</td>
	        <td><%= text_area_tag('metapackage[description]', @metapackage.description, { :rows => 12, :cols => 50 } ) %></td>	
        </tr>
        <tr>
        <td colspan="2" align="center"><%= submit_tag "Save"%></td>
        </tr>

        </table>	
    </form>
</div>
