<div class="inner0">
<% if logged_in? %>
<%= render_flash %>
    <span class="headline"><%=t(:bundel_information_edit)%></span>
    <br/>
    <br/>
    <% form_for(@metapackage) do |f| %>
        <br/>
        <table>
        <tr>
	        <td><%=t(:name_with_colon)%></td>
	        <% if @metapackage.is_published? then %>
              <td><%= @metapackage.name %></td>	
            <% else %>
              <% if @metapackage.name == "" %>
              <td><input id="metapackage_name" name="metapackage[name]" size="16" type="text" value="<%= t(:new_bundle) %>" /></td>
                 <% else %>
              <td><input id="metapackage_name" name="metapackage[name]" size="16" type="text" value="<%= @metapackage.name %>" /></td>
                 <% end %>
            <% end  %></tr>
            <% if (@metapackage.name_english == "" or @metapackage.name_english == nil) and I18n.locale.to_s != "en" %>
              <tr>
              <td>
              <%=t(:english_name)%></td>
              <td><input id="metapackage_name_english" name="metapackage[name_english]" size="16" type="text" value="" /> 
                  <a href="mailto:info@communtu.de?subject=<%= @metapackage.id %>"><%= t(:help_translation) %></a></td>
              </tr>
            <% elsif (flash[:error] != "" and I18n.locale.to_s != "en") %>
             <tr>
              <td>
              <%=t(:english_name)%></td>
              <td><input id="metapackage_name_english" name="metapackage[name_english]" size="16" type="text" value="<%= @metapackage.name_english %>" /> 
                  <a href="mailto:info@communtu.de?subject=<%= @metapackage.id %>"><%= t(:help_translation) %></a></td>
              </tr>
            <% else %>
            <% end %>
        <tr>
	        <td><%=t(:view_metapackages_show_version)%></td>
	        <td><%= f.text_field(:version, { :size => 16}) %></td>	
        </tr>
		<tr><td colspan=2><%=t(:view_metapackages_edit_2)%></td></tr>
        <tr>
	        <td><%=t(:category_with_colon)%></td>
	        <td>
	        	<% @categories = Category.find(:all, :order => "name")%>
		        <%= f.collection_select(:category_id,@categories,:id,:name,{:include_blank => t(:choose_category)})%>
	        </td>
        </tr>
		<tr>
	        <td><%=t(:group_metapackage)%></td>
	        <td>
	        	<% @groups = Group.find(:all, :order => "name")%>
		        <%= f.collection_select(:group_id,@groups,:id,:name,{:include_blank => t(:no_group_chosen), :selected => @metapackage.group.nil? ? nil : @metapackage.group.id })%>
	        </td>
        </tr>
        <tr>
	        <td><%=t(:install_by_default)%></td>
        <% if is_admin? %>
	        <td><%= f.check_box(:default_install) %></td>
        <% else %>
            <td><%= if @metapackage.default_install then t(:yes1) else t(:no1) end  %></td>
        <% end %>
        </tr>
        <tr>
	        <td valign='top'><%=t(:description_with_colon)%></td>
                <% if @metapackage.description == "" or @metapackage.description == nil %>
	        <td><textarea id="metapackage_description" name="metapackage[description]" rows="6" cols="50"></textarea></td>
                <% else %>
	        <td><textarea id="metapackage_description" name="metapackage[description]" rows="6" cols="50"><%= @metapackage.description %></textarea></td>
<% end %>
        </tr>
 <% if (@metapackage.description_english == "" or @metapackage.description_english == nil) and I18n.locale.to_s != "en" %>
              <tr>
               <td valign='top'><%=t(:english_description)%></td>
              <td><textarea id="metapackage_description_english" name="metapackage[description_english]" rows="6" cols="50"></textarea></td>
              </tr>
             <% elsif (flash[:error] != "" and I18n.locale.to_s != "en") %>
             <tr>
              <td valign='top'>
              <%=t(:english_description)%></td>
              <td><textarea id="metapackage_description_english" name="metapackage[description_english]" rows="6" cols="50"><%= @metapackage.description_english %></textarea></td>
              </tr>
            <% else %>
            <% end %>

        </table>	
	<%= render :partial => "package_list", :locals => { :metapackage => @metapackage, :editable => true } %>
        <%= t(:view_metapackages_edit_gpl) %><br />
        <%= submit_tag t(:save)%>
		

    <% end %>
    <% else %>
    <p><%=t(:not_logged_in)%></p>
    <% end %>
</div>
