<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<p><%=t(:view_metapackages_finish_migrate_0)%><%= @from_dist.short_name %><%=t(:view_metapackages_finish_migrate_1)%><%= @to_dist.short_name %><%=t(:view_metapackages_finish_migrate_2)%></p>

<% if !(not_found_arr=@not_found.select {|meta,packages| !packages.empty?}).empty? %>	
  <p><%=t(:view_metapackages_finish_migrate_3)%></p>
  <table border=1, style="border-style:solid; border-width:1px; border-collapse:collapse", cellpadding=3 >
	<tr><th><%=t(:bundle)%></th><th><%=t(:packages)%></th><tr>
    <% not_found_arr.each do |nf| %>
      <% meta = nf[0] %>
	  <% packages = nf[1] %>
      <tr><td><%=meta.name%> </td>
	      <td><%= packages.map{|p| p.name}.join(", ")%></td><tr>
    <% end %>  
  </table>
<% end %>  
<%if !session[:backlink].nil? %>
  <%= link_to(t(:continue), session[:backlink]) %>
<% end %>  
