<p><%=t(:view_metapackages_finish_migrate_0)%><%= @from_dist.short_name %><%=t(:view_metapackages_finish_migrate_1)%><%= @to_dist.short_name %><%=t(:view_metapackages_finish_migrate_2)%></p>

<% if !(not_found_arr=@not_found.select {|meta,packages| !packages.empty?}).empty? %>	
  <p><%=t(:view_metapackages_finish_migrate_3)%><br><br>
  <table border=1, style="border-style:solid; border-width:1px; border-collapse:collapse", cellpadding=3 >
	<tr><th><%=t(:view_metapackages_finish_migrate_4)%></th><th><%=t(:view_metapackages_finish_migrate_5)%></th><tr>
    <% not_found_arr.each do |nf| %>
      <% meta = nf[0] %>
	  <% packages = nf[1] %>
      <tr><td><%=meta.name%> </td>
	      <td><%= packages.map{|p| p.name}.join(", ")%></td><tr>
    <% end %>  
  </table>
<% end %>  
<%if !@backlink.nil? %>
  <%= link_to(t(:view_metapackages_finish_migrate_6), @backlink) %>
<% end %>  
