<h1><%=t(:health_status)%>: <%=t(:server_status)%></h1>

<big>
  <% if @zombie_processes > 100 %>
    <div class="flash" id="error">
  <% else %>
    <div>
  <% end %>
     <%=t(:zombie_processes)%>: <%=@zombie_processes%><br />
  </div>
<%=t(:kvm_processes)%>: <%=@kvm_processes%><br />
  <% if @cpu_usage_i > 75 %>
    <div class="flash" id="error">
  <% else %>
    <div>
  <% end %>
     <%=@cpu_usage%><br />
  </div>
  <% if @free_root < 1000000000 or @free_home < 1000000000 or @free_isos < 10000000000 %>
    <div class="flash" id="error">
  <% else %>
    <div>
  <% end %>
     <%=t(:free_disk_space)%>: <%=number_to_human_size(@free_root)%> / <%=number_to_human_size(@free_home)%> / <%=number_to_human_size(@free_isos)%><br />
  </div>
</big>

<h1><%=t(:health_status)%>: <%=t(:errors)%></h1>

<h2><%=t(:bundles_with_missing_debs)%> (<%=@bundles_with_missing_debs.length%>)</h2>
<%if @bundles_with_missing_debs.empty?%>
  <%=t(:none)%>
<%else%>
  <ul>
  <%for b in @bundles_with_missing_debs%>
   <li> <%=link_to b.name, "/debs/bundle/#{b.id}"%></li>
  <%end%>
  </ul>
<%end%>

<h2><%=t(:bundles_with_errors)%> (<%=@bundles_with_errors.length%>)</h2>
<%if @bundles_with_errors.empty?%>
  <%=t(:none)%>
<%else%>
  <ul>
  <%for b in @bundles_with_errors%>
   <li> <%=link_to b.name, metapackage_path(b)%></li>
  <%end%>
  </ul>
<%end%>

<h2><%=t(:bundles_without_debs)%> (<%=@bundles_without_debs.length%>)</h2>
<%if @bundles_without_debs.empty?%>
  <%=t(:none)%>
<%else%>
  <ul>
  <%for b in @bundles_without_debs%>
   <li> <%=link_to b.name, metapackage_path(b)%></li>
  <%end%>
  </ul>
<%end%>


<h2><%=t(:failed_live_cds)%> (<%=@failed_live_cds.length%>)</h2>
<%if @failed_live_cds.empty?%>
  <%=t(:none)%>
<%else%>
  <ul>
  <%for c in @failed_live_cds%>
   <li> <%=link_to c.name, livecd_path(c)%> &nbsp; <%= c.short_log %></li>
  <%end%>
  </ul>
<%end%>


<h2><%=t(:repositories_incompletely_read)%> (<%=@repositories_incompletely_read.length%>)</h2>
<%if @repositories_incompletely_read.empty?%>
  <%=t(:none)%>
<%else%>
  <ul>
  <%for r in @repositories_incompletely_read%>
   <li> <%=link_to r.name, repository_path(r)%></li>
  <%end%>
  </ul>
<%end%>

<h1><%=t(:health_status)%>: <%=t(:warnings)%></h1>

<h2><%=t(:bundles_needing_deb_generation)%> (<%=@modified_bundles.length%>)</h2>
<%if @modified_bundles.empty?%>
  <%=t(:none)%>
<%else%>
  <ul>
  <%for b in @modified_bundles%>
   <li> <%=link_to b.name, metapackage_path(b)%></li>
  <%end%>
  </ul>
<%end%>

<% count =  Distribution.all.map{|d| if @bundles_with_missing_packages[d].nil? then 0 else @bundles_with_missing_packages[d].length end}.sum%>
<h2><%=t(:bundles_with_missing_packages)%> (<%=count%>)</h2>
<% Distribution.all.each do |d| %>
<%if !@bundles_with_missing_packages[d].nil? and !@bundles_with_missing_packages[d].empty?%>
  <ul>
    <li>  <%= link_to d.name, distribution_path(d) %> => <%= link_to d.successor.name, distribution_path(d.successor) %>
      <% @bundles_with_missing_packages[d].each do |m| %>
      <ul>
        <% p = Package.find(m.pid) %>
        <% meta = Metapackage.find(m.metapackage_id) %>
        <li> <%= link_to meta.name, metapackage_path(meta) %>
            <%=link_to p.name, package_path(p)%>
        </li>
       </ul>
       <% end %>
    </li>
  <%end%>
  </ul>
<%end%>

<h2><%=t(:repositories_without_packages)%> (<%=@repositories_without_packages.length%>)</h2>
<%if @repositories_without_packages.empty?%>
  <%=t(:none)%>
<%else%>
  <ul>
  <%for r in @repositories_without_packages%>
   <li> <%=link_to r.name, repository_path(r)%></li>
  <%end%>
  </ul>
<%end%>
