<h2><%=t(:install_bundle, :name => @metapackage.name)%></h2>
<%= render_flash %>
<%= render :partial => "download/path" %>

<%=t(:install_bundle_steps, :name => @metapackage.name)%>

<%= render :partial => 'show', :locals => {:show_install => false} %>
