<% if logged_in? %>
<%= form_tag "/metapackage/finish_migrate" %>
    <div>
        <p><%=t(:view_metapackages_migrate_0)%></p>

        <%= collection_select(:from_dist, :id, @distributions, :id, :name) %>        

        <p><%=t(:view_metapackages_migrate_1)%></p>

        <%= collection_select(:to_dist, :id, @distributions, :id, :name) %>        
        
        <p><%= submit_tag(t(:view_metapackages_migrate_2)) %></p>
    </div>
</form>
<% else %>
<p><%=t(:view_metapackages_migrate_3)%></p>
<% end %>
