<h1>Neues Bündel</h1>

<%= error_messages_for :metapackage %>

<% form_for(@metapackage) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Beschreibung</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Kategorie</b><br />
      	<% @categories = Category.find(:all, :order => "name")%>
        <%= f.collection_select(:category_id,@categories,:id,:name)%>
  </p>

  <p>
    <b>Standardmäßig installieren</b><br />
    <%= f.check_box :default_install %>
  </p>

  <p>
    <%= f.submit "Anlegen" %>
  </p>
<% end %>

<%= link_to 'Zurück', @backlink %>
