<h1>Neues Bündel</h1>

<%= error_messages_for :metapackage %>

<% form_for(@metapackage) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Beschreibung</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Kategorie</b><br />
    <%= f.text_field :category_id %>
  </p>

  <p>
    <b>Standardmäßig installieren</b><br />
    <%= f.check_box :rating %>
  </p>

  <p>
    <b>Distribution</b><br />
    <%= f.text_field :distribution_id %>
  </p>

  <p>
    <%= f.submit "Anlegen" %>
  </p>
<% end %>

<%= link_to 'Zurück', @backlink %>
