<% if logged_in? %>
<h1><%=t(:view_metapackages_new_0)%></h1>

<%= render_flash %>

<%= error_messages_for :metapackage %>

<% form_for(@metapackage) do |f| %>
  <p>
    <b><%=t(:view_metapackages_new_1)%></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%=t(:view_metapackages_new_2)%></b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b><%=t(:view_metapackages_new_3)%></b><br />
      	<% @categories = Category.find(:all, :order => "name")%>
        <%= f.collection_select(:category_id,@categories,:id,:name)%>
  </p>

  <p>
    <b><%=t(:view_metapackages_new_4)%></b><br />
    <%= f.check_box :default_install %>
  </p>

  <p>
    <%= f.submit t(:view_metapackages_new_5) %>
  </p>
<% end %>
<% else %>
<p><%=t(:view_metapackages_new_6)%></p>
<% end %>
