<% if logged_in? %>
<h1><%=t(:new_bundle)%></h1>

<%= render_flash %>

<%= error_messages_for :metapackage %>

<% form_for(@metapackage) do |f| %>
  <p>
    <b><%=t(:name_without_colon)%></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%=t(:description_without_colon)%></b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b><%=t(:category_without_colon)%></b><br />
      	<% @categories = Category.find(:all, :order => "name")%>
        <%= f.collection_select(:category_id,@categories,:id,:name)%>
  </p>

  <p>
    <b><%=t(:view_metapackages_new_4)%></b><br />
    <%= f.check_box :default_install %>
  </p>

  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>
<% else %>
<p><%=t(:not_logged_in)%></p>
<% end %>
