<% if logged_in? %>
<h2><%=t(:view_metapackages_rdepends_0)%><%= @metapackage.name %><%=t(:view_metapackages_rdepends_1)%></h2> 
<%= show_rdependencies @dependencies %>
<% else %>
<p><%=t(:view_metapackages_rdepends_2)%></p>
<% end %>