<% if logged_in? %>
<h2><%=_('Im Bündel ')%><%= @metapackage.name %><%=_(' direkt und indirekt enthaltene Bündel und Pakete')%></h2> 
<%= show_rdependencies @dependencies %>
<% else %>
<p><%=_('Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.')%></p>
<% end %>