<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<% if logged_in? %>
<h2><%=t(:view_metapackages_rdepends_0)%><%= @metapackage.name %><%=t(:view_metapackages_rdepends_1)%></h2> 
<%= show_rdependencies @dependencies %>
<% else %>
<p><%=t(:not_logged_in)%></p>
<% end %>