<div id="categories_column">
        <h2> Kategorien </h2>
        <% for c in @categories do %>
                <%= link_to c.name, :action=>"selection",:category=>c.id %> <br />
        <% end %>
</div>
<div id="bundles_column">
        <h2> Bündel </h2>
        <%= will_paginate @bundles %>
        <% for b in @bundles do %>
                <div class="bundle" id="<%= b.id %>" onmouseover="bundlePopup(this.id,<%=b.id%>)">
                        <%= image_tag "apps/Metapackage.png" , :size=>"80x80" %> <br />                      
                        <%= link_to(b.name[0,12]+ if b.name.length>12 then "..." else "" end,metapackage_path(b.id)) %>
                </div>
				<div class="bundlepopup" id="bundlepopup<%=b.id%>" onmouseout="bundlePopupClose(<%=b.id%>)">
					<%= image_tag "apps/Metapackage.png" , :size=>"80x80" %> <br />
					<%= link_to(b.name,metapackage_path(b.id)) %><br />
					<%= b.description %>
				</div>
				
                
        <% end %>
</div>
<div id="overview_column">
        <%= image_tag "cd.png", :width=>"225px" %>
</div>



