<div class="inner0">
<%= render_flash %>
<% if logged_in? %>

<table width="100%">
	<tr><td width="70%" valign="top">
			<span class="headline">   <%=h @metapackage.name %>
</span> 	<%= link_to image_tag("/images/install.png", :size => "18x18", :border => "0", :title => t(:view_metapackages__metalist_14), :alt => t(:install2)), "apt://#{@metapackage.debian_name}" %>
            <%= link_to image_tag("/images/sources.jpg", :size => "18x18", :border => "0", :title => t(:add_sources), :alt => t(:sources)), "/users/#{current_user.id}/suggestion/install_bundle_sources/#{@metapackage.id}" %>
            <% if is_power_user? || ((current_user.distribution_id<6) && !current_user.anonymous?) %>
              <%= link_to image_tag("/images/cd.png", :size => "18x18", :border => "0", :title => t(:create_your_livedvd), :alt => t(:create_your_livedvd)), "/users/#{current_user.id}/user_profile/bundle_to_livecd/#{@metapackage.id}" %>
            <%end%>
<% if editing_metapackage? %>
                        <%= link_to_remote((image_tag("/images/add.png", :size => "18x18", :border => "0", :title =>t(:add_to_bundle), :alt => t(:add_to_bundle)) + ""),
                                :url => user_path(current_user) + "/cart/add_to_cart_box/" + @metapackage.id.to_s,\
                                :update => 'meta_cart_box') %>
                <% end %>            
 <br />
<font size="-3"><%=t(:view_metapackages_show_0)%><b><%= link_to @metapackage.user.login, user_path(@metapackage.user.id) %></b></font>
<%=link_to(image_tag("message.png", :width => "16", :alt=>t(:compose_new_message),:title=>t(:compose_new_message), :mouseover=>"message_rollover.png",:border=>"0" ), {:controller=>"sent", :action=>"new", :mail_to=>@metapackage.user.id}) %>
<p>
  <%= @metapackage.description %>
</p>
<table>
  <tr><td valign="top"><b><%=t(:view_metapackages_show_version)%></b>
          <%= h @metapackage.version %> </td>
  <td><b><%=t(:category_with_colon)%></b>
  <%=h @metapackage.category.name %></td>
  </tr>

<tr><td valign="top">
  <b><%=t(:install_by_default)%></b>
  <%=@metapackage.default_install ? t(:yes1) : t(:no1) %>
  &nbsp; &nbsp;
</td>
<td valign="top">
  <b><%=t(:licence)%></b>
  <%= Package.show_license_type(@metapackage.license_type) %>
</tr>

<tr>
	<td>
		<b><%=t(:view_metapackages_show_8)%></b>
	</td>
	<td>
		<% if @metapackage.rated_by_user?(current_user) or current_user.anonymous?%>
			<!-- STARS allready voted -->
			<div class="star-ratings-block" id="star-ratings-block-<%=h @metapackage.id %>">
	        	<%= render :partial => "rating/show", :locals => { :metapackage => @metapackage } %>
	    	</div>
		<%else%>
			<!-- if not voted yet  -->
			<div class="star-ratings-block" id="star-ratings-block-<%=h @metapackage.id %>">
	    		<%= render :partial => "rating/rating", :locals => { :metapackage => @metapackage } %>
			</div>
		<%end%>
	</td>
</tr>
<tr id="comment_<%=@metapackage.id%>" style="display:none;">
	<td colspan="2">
		<%= render :partial=>"rating/rating_comment" ,:locals => { :metapackage => @metapackage } %>
</td>
</tr>
<tr><td><p>
    <b><%=t(:view_metapackages_show_9)%></b>
    <% if @metapackage.is_published? %>
        <%= image_tag("yes.png", :size => "16x16", :border => "0", :title => t(:published), :alt => t(:published))  %>
    <% else %>
        <%= image_tag("no.png", :size => "16x16", :border => "0", :title => t(:view_metapackages_show_12), :alt => t(:view_metapackages_show_12))  %>
    <% end %>
</p><div style="position:relative; left:260px; top:-30px; height:0px;width:150px;">
<% if logged_in? and (@metapackage.owned_by? current_user or is_admin?) %>
<%=t(:view_metapackages_show_14)%>
<div style="position:relative; top:-22px; left:64px">
  <%= form_tag(metapackage_path(@metapackage) + "/edit_action") %>
    <select id="method" name="method" onchange="this.form.submit()">
        <option value="noop">---</option>
        <option value="edit"><%=t(:view_metapackages_show_15)%></option>
        <option value="pedit"><%=t(:view_metapackages_show_16)%></option>

        <% if not @metapackage.is_published? and !current_user.anonymous? then %>
        <option value="publish"><%=t(:view_metapackages_show_17)%></option>
        <% end %>
        <option value="delete"><%=t(:delete)%></option>
    </select>
  </form>
  </div>
<% end %>
</div></td></tr>
</table>
</td>
<% if !request.env['HTTP_REFERER'].nil? then %>

     <td width="25%">

<% if !@conflicts.empty?  %>
  <div class="flash" id="error"><%=t(:controller_metapackages_conflicts)%> 
  <%=show_version(@metapackage)%></div>
<% end %>
<% if @metapackage.deb_error  %>
  <div class="flash" id="error"><%=t(:view_metapackages_show_deb_error)%>
  <%=show_debversion(@metapackage)%></div>
  <% if is_admin? %>
  <p><%= link_to(t(:controller_metapackages_reset),'reset/'+@metapackage.id.to_s) %>
  <% end %>
<% elsif @metapackage.debianizing %>
  <div class="flash" id="notice"><%=t(:controller_metapackages_debianizing)%>
  <%=show_debversion(@metapackage)%></div>
<% end %>
<% if @metapackage.modified and !(@metapackage.debianizing and !@metapackage.deb_error and @metapackage.version==@metapackage.debianized_version) %>
  <div class="flash" id="notice">
    <%=t(:view_metapackages_show_modified)%>  <%=show_version(@metapackage)%> &nbsp;
    <% if !@metapackage.debianizing %> 
      <%=t(:view_metapackages_show_save)%>
      <%=link_to(image_tag("apps/Metapackage.png", :alt=>t(:view_metapackages_show_save_2),:title=>t(:view_metapackages_show_save_2), :border=>"0" ), :action => 'save', :id => @metapackage.id )%>
    <% end %>
  </div>
<% end %>
<% end %>
    </tr>
</table>


<% if logged_in? and (@metapackage.owned_by? current_user or is_admin?) and (not @metapackage.is_published?) %>
<p>  <%=t(:view_metapackages_show_18)%> </p>
<%  end %>

<% if is_admin? %>
<%= link_to t(:direct_indirect_covered_packages), :action => 'rdepends', :id => @metapackage.id %>
<% end %>

<% if !@metapackage.metapackages.empty? then%>
  <p>
  <b><%=t(:used_in_bundles)%></b><br />
  <ul>
  <% @metapackage.metapackages.each do |m| %>
    <li>
       <%= link_to  m.name, { :controller => :metapackages, :action => :show,\
	  				:id => m.id } %>
    </li>				
  <% end %>
  </ul>
</p>
<% end %>


<hr>
<%= render :partial => "package_list", :locals => { :metapackage => @metapackage, :editable => false, :distribution => @distribution, :derivative =>  @derivative} %>

<%= show_ratings_and_comments @metapackage.ratings.find(:all, :limit=> 5) %>
<% else %>
<p><%=t(:not_logged_in)%></p>
<% end %>
</div>
<div id="meta_cart_box" class="meta_cart_box">
<%= render(:partial => 'cart/metacart_box')%>
</div>
