<div class="inner0">
<p>
  <b>Name:</b>
  <%=h @metapackage.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @metapackage.description %>
</p>

<p>
  <b>Kategorie:</b>
  <%=h @metapackage.category.name %>
</p>

<p>
  <b>Expertenlevel:</b>
  <%=h @metapackage.rating %>
</p>
<p>
  <b>Lizenzetyp:</b>
  <%= Package.license_types[@metapackage.license_type] %>
</p>
<p>
  <b>Distribution:</b>
  <%= link_to @metapackage.distribution.name, distribution_path(@metapackage.distribution) %>
</p>
<p>
    <b>Veröffentlicht: </b>
    <% if @metapackage.is_published? %>
        <%= image_tag("yes.png", :size => "22x22", :border => "0")  %>
    <% else %>
        <%= image_tag("no.png", :size => "22x22", :border => "0")  %>
    <% end %>
</p>

<div style="position:relative; left:540px; top:-35px; height:0px;width:120px;">
<% if logged_in? %>

    <ul>
    <% if @metapackage.user_id == current_user.id or is_priviliged? %>
        <li style="display:inline;overflow: hidden;list-style-type:none;">
        <%= link_to image_tag("edit.png", :size => "22x22", :border => "0"), \
		    distribution_metapackage_path(@metapackage.distribution, @metapackage) + "/edit"%>
	    </li>
	<% end %>
	<% if is_priviliged? %>
        <li style="display:inline;overflow: hidden;list-style-type:none;">
        <%= link_to image_tag("publish.png", :size => "22x22", :border => "0"), \
            distribution_metapackage_path(@metapackage.distribution, @metapackage) + "/publish" %>
        </li>
        <li style="display:inline;overflow: hidden;list-style-type:none;">
        <%= link_to image_tag("unpublish.png", :size => "22x22", :border => "0"), \
            distribution_metapackage_path(@metapackage.distribution, @metapackage) + "/unpublish" %>
        </li>
	<% end %>
	</li>
	</ul>
	
<% end %>
</div>

<div class="inner1">
<table width="100%" cellspacing="0">
	<% @metapackage.metacontents.each do |p| %>
	<% css = cycle("packageList0", "packageList1") %>
		<tr>
			<td class="<%= css %>"><%= p.package.name %></td>
			<td class="<%= css %>" align="right">
				<%= link_to image_tag("search.png", :size => "22x22", :border => "0"), { :controller => :packages, :action => :show,\
					:id => p.package.id } %>
			<% if is_admin? %>
				<%= link_to image_tag("edit-delete.png", :size => "22x22", :border => "0"), { :controller => :metapackages,\
					 :action => :remove_package, :id => @metapackage.id, :package_id => p.id  } %> 
			<% end %>
			</td>
		</tr>
	<% end %>
</table>	
</div>
<!-- <%= link_to "back", request.env['HTTP_REFERER'] %> -->
<!-- <%= link_to'Add Comment', { :controller => :metapackages, :action => :add_comment, \
	    :id => @metapackage.id } %>
<%= show_comments @metapackage.comments%> -->
</div>
