<div class="inner0">
<%= render_flash %>	
<table width="100%">
	<tr><td width="50%">
		<span class="headline">   <%=h @metapackage.name %>
</span> 
</td>
<% if !request.env['HTTP_REFERER'].nil? then %>

     <td width="25%"></td>
     <td width="25%" align="right">
       <%= link_to "Zurück&nbsp;&nbsp;", request.env['HTTP_REFERER'] %>
	 </td>  
<% end %>
    </tr>
</table>

<p>
  <%= @metapackage.description %>
</p>

<p>
  <b>Kategorie:</b>
  <%=h @metapackage.category.name %>
</p>

<p>
  <b>Standardmäßig installieren:</b>
  <%=@metapackage.default_install ? "ja" : "nein" %>
</p>
<p>
  <b>Lizenztyp:</b>
  <%= Package.show_license_type(@metapackage.license_type) %>
</p>
<p>
    <b>Veröffentlicht: </b>
    <% if @metapackage.is_published? %>
        <%= image_tag("yes.png", :size => "22x22", :border => "0", :title => "veröffentlicht", :alt => "veröffentlicht")  %>
    <% else %>
        <%= image_tag("no.png", :size => "22x22", :border => "0", :title => "nicht veröffentlicht", :alt => "nicht veröffentlicht")  %>
    <% end %>
</p>
<% if !@metapackage.metapackages.empty? then%>
  <p>
  <b>Wird bei Communtu in folgenden Bündeln benutzt:</b><br />
  <ul>
  <% @metapackage.metapackages.each do |m| %>
    <li>
       <%= link_to  m.name, { :controller => :metapackages, :action => :show,\
	  				:id => m.id } %>
    </li>				
  <% end %>
  </p>
<% end %>
  
<div style="position:relative; left:480px; top:-30px; height:0px;width:150px;">
<% if logged_in? and (@metapackage.owned_by? current_user or is_admin?) %>
  Aktionen:&nbsp;&nbsp;
  <div style="position:relative; top:-22px; left:64px">
  <%= form_tag(metapackage_path(@metapackage) + "/edit_action") %>
    <select id="method" name="method" onchange="this.form.submit()">
        <option value="noop">---</option>
        <option value="edit">Editieren</option>
        <option value="pedit">Paketliste editieren</option>
        
        <% if not @metapackage.is_published? %>
        <option value="publish">Veröffentlichen</option>
        <% else %>
        <option value="unpublish">Sperren</option>
        <% end %>
        <option value="delete">Löschen</option>
    </select>
  </form>
  </div>
<% end %>
</div>

<%= render :partial => "package_list", :locals => { :metapackage => @metapackage, :editable => false, :distribution => @distribution, :derivative =>  @derivative} %>
<%= image_tag("/images/editp.png", :size => "22x22", :border => 0, :title => "Kommentieren", :alt => "Kommentieren") %> 
<%= link_to'Kommentieren', { :controller => :metapackages, :action => :add_comment, \
	    :id => @metapackage.id } %>
<%= show_comments @metapackage.comments %>
</div>
