<% if is_admin? %>
<h1><%=t(:view_categories_edit_0)%></h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <p>
    <b><%=t(:name_without_colon)%></b><br />
<input id="category_name" name="category[name]" size="50" type="text" value="<%= @category.name %>">
  </p>

  <p>
    <b><%=t(:description)%></b><br />
<input id="category_description" name="category[description]" size="50" type="text" value="<%= @category.description %>">
  </p>

  <p>
    <b><%=t(:view_categories_edit_3)%></b><br />
<input id="category_link" name="category[link]" size="50" type="text" value="<%= @category.link %>">
  </p>

<p>

  <b><%=t(:view_categories_edit_4)%></b><br />
  <%= f.check_box :main %>
</p>

  <p>
    <b><%=t(:superior_category)%></b><br />
	<%= f.collection_select('parent_id', Category.find(:all, :order => "name"), :id, :name, {:include_blank => t(:choose_parent)})%>
  </p>

  <p>
    <%= f.submit (t(:save)) %>
  </p>
<% end %>

<%= link_to t(:show), @category %> |
<%= link_to t(:back), categories_path %>
<% else %>
<p><%=t(:not_logged_in)%></p>
<% end %>