<% if is_admin? %>
<h1><%=_("Kategorie bearbeiten")%></h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <p>
    <b><%=_("Name")%></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%=_("Beschreibung")%></b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b><%=_("Link für weitere Informationen")%></b><br />
    <%= f.text_field :link %>
  </p>

  <p>
    <b><%=_("Übergeordnete Kategorie")%></b><br />
	<%= f.collection_select('parent_id', Category.find(:all, :order => "name"), :id, :name, {:include_blank => _('Wähle einen Parent aus!')})%>
  </p>

  <p>
    <%= f.submit ("Speichern") %>
  </p>
<% end %>

<%= link_to _('Anzeigen'), @category %> |
<%= link_to _('Zurück'), categories_path %>
<% else %>
<p><%=_("Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.")%></p>
<% end %>