<% if is_admin? %>
<h1><%=t(:view_categories_edit_0)%></h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <p>
    <b><%=t(:name_without_colon)%></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%=t(:description_without_colon)%></b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b><%=t(:view_categories_edit_3)%></b><br />
    <%= f.text_field :link %>
  </p>

  <p>
    <b><%=t(:superior_category)%></b><br />
	<%= f.collection_select('parent_id', Category.find(:all, :order => "name"), :id, :name, {:include_blank => t(:choose_parent)})%>
  </p>

  <p>
    <%= f.submit ("Speichern") %>
  </p>
<% end %>

<%= link_to t(:show), @category %> |
<%= link_to t(:back), categories_path %>
<% else %>
<p><%=t(:not_logged_in)%></p>
<% end %>