<h1>Kategorie bearbeiten</h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Beschreibung</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Übergeordnete Kategorie</b><br />
	<% cats = Category.find(:all)%>
	<%= f.collection_select('parent_id', cats, :id, :name)%>
  </p>

  <p>
    <%= f.submit "Speichern" %>
  </p>
<% end %>

<%= link_to 'Anzeigen', @category %> |
<%= link_to 'Zurück', categories_path %>
