<% if logged_in? %>
<h1>Kategorien-Übersicht</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>übergeordnete Kategorie</th>
  </tr>

<% for category in @categories %>
  <tr>
  	<td><%=h category.id %></td>
    <td><%=h category.name %></td>
    <td><%=h category.description %></td>
    <td><%=h category.parent_name %></td>
    <td><%= link_to image_tag("24-message-info.png", :title => 'Anzeigen', :alt => 'Anzeigen', :border => '0'), category %></td>
    <td><%= link_to image_tag("edit.png", :title => 'Bearbeiten', :alt => 'Bearbeiten', :border => '0'), edit_category_path(category) %></td>
    <td><%= link_to image_tag("delete.png", :title => 'Löschen', :alt => 'Löschen', :border => '0'), category, :confirm => 'Bist du sicher?', :method => :delete %></td>
  </tr>
  <tr><td colspan="7"><hr></td> </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Kategorie', new_category_path %>
&nbsp;&nbsp;&nbsp;
<%= link_to 'Kategorienbaum anzeigen', '/images/categories.png', :target => '_blank' %>
<% else %>
<p>Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.</p>
<% end %>