<% if logged_in? %>
<h1><%=t(:view_categories_index_0)%></h1>

<table>
  <tr>
  	<th>Id</th>
    <th><%=t(:view_categories_index_1)%></th>
    <th><%=t(:view_categories_index_2)%></th>
    <th><%=t(:view_categories_index_3)%></th>
  </tr>

<% for category in @categories %>
  <tr>
  	<td><%=h category.id %></td>
    <td><%=h category.name %></td>
    <td><%=h category.description %></td>
    <td><%=h category.parent_name %></td>
    <td><%= link_to image_tag("24-message-info.png", :title => t(:view_categories_index_4), :alt => t(:view_categories_index_4), :border => '0'), category %></td>
    <td><%= link_to image_tag("edit.png", :title => t(:view_categories_index_6), :alt => t(:view_categories_index_6), :border => '0'), edit_category_path(category) %></td>
    <td><%= link_to image_tag("delete.png", :title => t(:view_categories_index_8), :alt => t(:view_categories_index_8), :border => '0'), category, :confirm => t(:view_categories_index_10), :method => :delete %></td>
  </tr>
  <tr><td colspan="7"><hr></td> </tr>
<% end %>
</table>

<br />

<%= link_to t(:view_categories_index_11), new_category_path %>
&nbsp;&nbsp;&nbsp;
<%= link_to t(:view_categories_index_12), '/images/categories.png', :target => '_blank' %>
<% else %>
<p><%=t(:view_categories_edit_8)%></p>
<% end %>
