<h1>Kategorien-Übersicht</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>übergeordnete Kategorie</th>
  </tr>

<% for category in @categories %>
  <tr>
  	<td><%=h category.id %></td>
    <td><%=h category.name %></td>
    <td><%=h category.description %></td>
    <td><%=h category.parent_name %></td>
    <td><%= link_to 'Anzeigen', category %></td>
    <td><%= link_to 'Bearbeiten', edit_category_path(category) %></td>
    <td><%= link_to 'Löschen', category, :confirm => 'Biest du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Kategorie', new_category_path %>
