<% if is_admin? %>
<h1>Neue Kategorie</h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Beschreibung</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Übergeordnete Kategorie</b><br />
    	<%= f.collection_select('parent_id', Category.find(:all, :order => "name"), :id, :name)%>
  </p>

  <p>
    <%= f.submit "Anlegen" %>
  </p>
<% end %>

<%= link_to 'Zurück', categories_path %>
<% else %>
<p>Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.</p>
<% end %>