<% if logged_in? %>
<p>
	<b>Id:</b>
	<%=h @category.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%=h @category.description %>
</p>

<p>
  <b>Weitere Informationen:</b>
  <%=h @category.link %>
</p>

<p>
  <b>Übergeordnete Kategorie:</b>
  <%= h @category.parent_name%>
</p>


<%= link_to 'Bearbeiten', edit_category_path(@category) %> |
<%= link_to 'Zurück', categories_path %>
<% else %>
<p>Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.</p>
<% end %>