<% if logged_in? %>
<p>
	<b>Id:</b>
	<%=h @category.id %>
</p>

<p>
  <b><%=_("Name:")%></b>
  <%=h @category.name %>
</p>

<p>
  <b><%=_("Beschreibung:")%></b>
  <%=h @category.description %>
</p>

<p>
  <b><%=_("Weitere Informationen:")%></b>
  <%=h @category.link %>
</p>

<p>
  <b><%=_("Übergeordnete Kategorie:")%></b>
  <%= h @category.parent_name%>
</p>


<%= link_to _('Bearbeiten'), edit_category_path(@category) %> |
<%= link_to _('Zurück'), categories_path %>
<% else %>
<p><%=_("Du bist momentan nicht eingeloggt. Bitte klicke oben auf Anmelden.")%></p>
<% end %>