<% if logged_in? %>
<p>
	<b>Id:</b>
	<%=h @category.id %>
</p>

<p>
  <b><%=t(:view_categories_show_0)%></b>
  <%=h @category.name %>
</p>

<p>
  <b><%=t(:view_categories_show_1)%></b>
  <%=h @category.description %>
</p>

<p>
  <b><%=t(:view_categories_show_2)%></b>
  <%=h @category.link %>
</p>

<p>
  <b><%=t(:view_categories_show_3)%></b>
  <%= h @category.parent_name%>
</p>


<%= link_to t(:view_categories_show_4), edit_category_path(@category) %> |
<%= link_to t(:view_categories_show_5), categories_path %>
<% else %>
<p><%=t(:view_categories_show_6)%></p>
<% end %>