<%= form_for(@bundle) do |f| %>
  <% if @bundle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bundle.errors.count, "error") %> prohibited this bundle from being saved:</h2>

      <ul>
      <% @bundle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
