<h1>Listing users</h1>

<table  cellspacing="0" width="100%">
  <tr>
    <th>Login</th>
    <th>E-Mail</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Newsletter</th>
    <th>Gender</th>
    <th>Permission</th>
  </tr>

<% for a in @accounts %>
  <tr>
    <td><%=h a.login %></td>
    <td><%=h a.email %></td>
    <td><%=h a.firstname %></td>
    <td><%=h a.lastname %></td>
    <td><%=h a.newsletter %></td>
    <td><%=h a.gender %></td>
    <td><%=h a.permission %></td>
    <td><%= link_to 'Show', a %></td>
    <td><%= link_to 'Edit', :controller => "accounts", :action => "admin_edit", :id => a %></td>
    <td><%= link_to 'Destroy', a, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_account_path %>

<h1>Listing packages</h1>

<table cellspacing="0" width="100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Standard</th>
  </tr>

<% for package in @packages %>
  <tr>
    <td><%=h package.name %></td>
    <td><%=h package.description %></td>
    <td><%=h package.standard %></td>
    <td><%= link_to 'Show', package %></td>
    <td><%= link_to 'Edit', :controller => "packages", :action => "admin_edit", :id => package %></td>
    <td><%= link_to 'Destroy', package, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New package', new_package_path %>


