<%= form_for(@live_cd) do |f| %>
  <% if @live_cd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@live_cd.errors.count, "error") %> prohibited this live_cd from being saved:</h2>

      <ul>
      <% @live_cd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :downloaded %><br />
    <%= f.number_field :downloaded %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
