<h1>Easy LiveCD</h1>
<div class="left" id="categories">
	<%@categories.each do |category|%>
		<%= check_box_tag category, 1, false, :onload => "this.checked=false", :onchange => "$(img#{category}).toggle()"%>
		<%= category%>
		<br />
	<% end %>
</div>
<div class="middle">
 <div class="images"> 
	<%= image_tag 'cd.png', :class => "cd", :id=> "img0"%>
	
	<%@categories.each do |category|%>
   		 <%= image_tag "#{category}.png", :class => "cd", :id=> "img#{category}"%>
	<% end %>
 </div>	
	<%= form_tag '/live_cds/advanced_build', :method => :get%>
	<%= button_tag 'Fortgeschritten' %>
	</form>
	
</div>

<div class="right" id="bestof">
	<h2>Beliebteste LiveCDs</h2>
	
	<table>
	  <tr>
	    <th><%= link_to "Name", :action =>:build, :order =>invert(params,"name"), :by =>:name %></th>
	    <th><%= link_to "Size", :action =>:build, :order =>invert(params,"size"), :by =>:size %></th>
	    <th><%= link_to "Downloaded", :action =>:build, :order =>invert(params,"downloaded"), :by =>:downloaded %></th>
	  </tr>
	
	<% @live_cds.each do |live_cd| %>
	  <tr>
	    <td><%= link_to live_cd.name, live_cd %></td>
	    <td align="right"><%= number_to_human_size(live_cd.size) %></td>
	    <td align="right"><%= live_cd.downloaded %></td>
	  </tr>
	<% end %>
	</table>
</div>
