<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @live_cd.name %>
</p>

<p>
  <b>Size:</b>
  <%= @live_cd.size %>
</p>

<p>
  <b>Downloaded:</b>
  <%= @live_cd.downloaded %>
</p>


<%= link_to 'Edit', edit_live_cd_path(@live_cd) %> |
<%= link_to 'Back', live_cds_path %>
