<% @options = params.merge(:controller => "rating", :action => "rate", :id => package.id) %>
<% @convert = %w[one two three four five] %>
<ul class="star-rating">
	<% unless package.rated_by_user?(@current_account) %>
    <li class="current-rating" style="width:<%= package.rating*25 %>px"> Currently <%= package.rating %>/5 Stars.
      <% 1.upto(5) do |x| -%>
  	    <% rate_options = @options.merge(:rating => x) -%>
  	    <li><%= link_to_remote "#{x}", { :url => url_for( rate_options ), :loading => "Element.show('t-#{package.id}-indicator')" }, { :href => url_for( rate_options ), :class => "#{@convert[x-1]}-stars", :title => "#{pluralize(x,'star')} out of 5" } -%>
      <%end -%>
  <% else %>
    <li class="current-rating-rated" style="width:<%= package.rating*25 %>px"> Currently <%= package.rating %>/5 Stars.
  <% end %>
 
  </li>
</ul>