<% #  (c) 2008-2011 by Allgemeinbildung e.V., Bremen, Germany  
   # This file is part of Communtu.

   # Communtu is free software: you can redistribute it and/or modify
   # it under the terms of the GNU Affero Public License as published by
   # the Free Software Foundation, either version 3 of the License, or
   # (at your option) any later version.

   # Communtu is distributed in the hope that it will be useful,
   # but WITHOUT ANY WARRANTY; without even the implied warranty of
   # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   # GNU Affero Public License for more details.

   # You should have received a copy of the GNU Affero Public License
   # along with Communtu.  If not, see <http://www.gnu.org/licenses/>.
%>

<h2>Communtu Gallery</h2>
<div id="leftarea">
	<%= form_tag "/livecds/index"%>
	<%= collection_select(:cd, :distribution, [Distribution.new(:short_name => "alle Versionen")]+Distribution.all, :id, :short_name) %><br />
	<%= collection_select(:cd, :derivative, [Derivative.new(:name => "alle Derivate")]+Derivative.all, :id, :name) %><br />
	<%= collection_select(:cd, :architecture, [Architecture.new(:name => "all")]+Architecture.all, :id, :simple_name) %><br />
	<%= submit_tag "filtern"%>
	</form>
</div>
<div id="centerarea">
<%= render_flash %>
<% count=0 %>
<table>
<tr>
<% for cd in @livecds %>
	<% count+=1%>
   	<td>
   		<table>
   			<tr>
   			<td>
   				<%= image_tag "create/snail-100.png", :width => "35px" %>
			</td>
			<td>
				<%= link_to cd.name, "/livecds/show/"+cd.id.to_s %><br /> <%= cd.derivative.name%> <%= cd.distribution.short_name%> <%= cd.architecture.simple_name%>
			</td>
			</tr>
   		</table>
	</td>
	<% if count%3==0 then %> </tr> <tr>
	<% end%>
<% end%>
</tr>
</table>
</div>
