<h1><%=h @cd.fullname %></h1>

<p><%=@cd.distribution.name%>
<%=@cd.derivative.name%>
<%=@cd.architecture.name%>
</p>

<p><%=t(:livecd_created_by)%>
  <ul>
   <% @cd.users.each do |user| %>
     <li> <%=link_to user.login, user_path(user)%> </li>
   <% end %>
   </ul>
</p>

<% if !@cd.metapackage.nil? %>
<p><%=t(:based_on_bundle)%> <%=link_to @cd.metapackage.name, metapackage_path(@cd.metapackage)%> </p>
<% end %>
<% if @cd.generated %>
  <p><%= t(:creation_successful) %>, 
      <%= number_to_human_size(@cd.size) %>,
      <%= change_date_time(@cd.updated_at).to_s %></p>
  <ul>
    <li><%= link_to t(:iso_image), @cd.iso_url %></li>
    <% if is_admin? %>
      <% if @cd.vm_pid.nil? %>
        <li><%= link_to t(:start_vm), :action => 'start_vm', :id => @cd.id %></li>
      <% else %>
        <li><%= t(:vm_running) %> <%= link_to 'vnc://communtu.org:5901', 'vnc://communtu.de:5901' %>
            &nbsp; &nbsp;<%= link_to t(:stop_vm), :action => 'stop_vm', :id => @cd.id %></li>
      <% end %>
    <% end %>
    <% if @cd.kvm %>
      <li><%= link_to t(:kvm_image), @cd.kvm_url %></li>
    <% end %>
    <% if @cd.usb %>
      <li><%= link_to t(:usb_image), @cd.usb_url %></li>
    <% end %>
  </ul>
<% end %>
<% if @cd.generating %>
  <p><%= t(:creation_in_progress) %></p>
<% end %>
<% if @cd.failed %>
  <p><%= t(:creation_failed) %>
  <%if is_admin? %>
     &nbsp;<%= link_to t(:generate_cd), :action => 'remaster' %>
     &nbsp;<%= link_to t(:generate_cd_new), :action => 'remaster_new' %></p>
  <% end %>
<% end %>
<p>
<% if !@cd.log.nil? %>
  <h3><%=t(:logfile_extract)%></h3>
  <%= (h @cd.log).gsub(/\n/,"<br />") %>
<% end %>
</p>
