<h1><%=h @cd.fullname %></h1>

<p><%=@cd.distribution.name%>
<%=@cd.derivative.name%>
<%=@cd.architecture.name%>
</p>

<p><%=t(:livecd_created_by)%>
   <%=link_to @cd.user.login, user_path(@cd.user)%>
</p>

<% if !@cd.metapackage.nil? %>
<p><%=t(:based_on_bundle)%> <%=link_to @cd.metapackage.name, metapackage_path(@cd.metapackage)%> </p>
<% end %>
<% if @cd.generated %>
  <p><%= t(:creation_successful) %>, 
      <%= link_to t(:download), cd.url %>,
      <%= number_to_human_size(cd.size) %>,
      <%= change_date_time(cd.updated_at).to_s %></p>
<% end %>
<% if @cd.generating %>
  <p><%= t(:creation_in_progress) %></p>
<% end %>
<% if @cd.failed %>
  <p><%= t(:creation_failed) %>  <%= link_to t(:generate_cd), :action => 'remaster' %></p>
<% end %>
<p>
<% if !@cd.log.nil? %>
  <%= (h @cd.log).gsub(/\n/,"<br />") %>
<% end %>
</p>
