<p>
  <b><%= @info.header %></b>
  
</p>

<p>
  <%= @info.content %>
  
</p>

<p>
  <b>Author:</b>
  <%=h @info.author.login %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
