<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="keywords" content="Communtu, Ubuntu, Installation, Installationshilfe" />
  <meta name="description" content="Communtu passt ihr Linux-Ubuntu-System an ihre individuellen Bedürfnisse an." />
  <title>Communtu<%= begin ": "+controller.title rescue "" end %></title>
  <%= stylesheet_link_tag 'layout' %>
</head>
<body>
<%= javascript_include_tag "prototype" %>
<div class="main">
	<table width='100%'>
	<tr>
		<td align='left'>
		<%= link_to image_tag("communtu_logo.png", :title => 'Communtu Logo', :alt => 'Communtu Logo', :border => '0'), '/home' %>
		</td>
		<td align='right'>per PayPal:<form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4916205">
<input type="image" src="https://www.paypal.com/de_DE/DE/i/btn/btn_donate_LG.gif" border="0" name="submit" title="Jetzt einfach, schnell und sicher online spenden – mit PayPal." alt="Jetzt einfach, schnell und sicher online spenden – mit PayPal.">
<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form></td>
	</tr>
	</table>
	<div class="navi">
		<table width='100%'>
	    <tr align="center">
		<td width="100"><%= link_to 'Start', '/home' %></td>
	  	<% if logged_in? %>
	    	<td width="100"><%= link_to 'Abmelden', logout_path  %> </td>
	    <% else %>
	    	<td width="100"><%= link_to 'Anmelden', '/session/new' %></td>
	    	<td width="100"><%= link_to 'Anonym nutzen', '/users/anonymous_login' %></td>
	    	<td width="100"><%= link_to 'Registrieren', '/users/new' %></td>
	    <% end %>
	    	<td width="100"><%= link_to 'Über Communtu', '/about' %></td>
	    </tr>
	  </table>
        </div>
<% if logged_in? %>
<div align="right"><font size="-3">angemeldet als  <%= link_to current_user.login, edit_user_path(current_user) %> <%= link_to image_tag("16-member.png", :border => '0', :title => current_user.login, :alt => current_user.login), edit_user_path(current_user) %></font></div>
<% end %>
        <table width="100%">
	<tr><td valign="top">
	<% if logged_in? %>
		<div class="sidebar">
		    <%= render :partial => 'users/sidebar' %>
		</div>
	<% end %>
	<% if logged_in? %>
		<div id="meta_cart" class="meta_cart">
		    <%= render_partial 'cart/metacart' %>
		</div>
	<% end %>
	</td>
	<td valign="top">
	<div class="content" id="content">
		<%= yield %>
	</div>
	</td></tr>
	</table>
</div>
</body>
</html>
