<% #  hhh(c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany
   #  use, modification or distribution only with permission of the copyright holder
%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="keywords" content=" <%= t(:view_layouts_application_0) %>" />
  <meta name="description" content=" <%= t(:view_layouts_application_1) %>" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title><%= begin " "+controller.title rescue "" end %></title>
  <%= stylesheet_link_tag 'layout' %>
</head>
<body>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "effects" %>
  <%= javascript_include_tag :defaults %>
<div id="head">
<!-- headlline -->
 <div id="headline">
  <span class="headfont"><%= t(:headline) %></span>
 </div> 
	<div id="navihead">
<%= link_to( {t(:community_title), image_tag('/images/nach_aussen_braun.gif', {:border => '0', :alt => t(:link_community_title), :class => 'pfeil_link'}) }, t(:link_community), {:target => '_blank', :title => t(:link_community_title)} ) %> |
<%= link_to(t(:homepage), "/home/home") %> | <%= link_to(t(:view_layouts_application_30), "/home/faq") %> | <%= link_to(t(:view_layouts_application_31), "/home/contact_us") %> | <%= link_to(t(:view_layouts_donate), "/home/donate") %> | 
<% if I18n.locale.to_s == "en" %>
<a href="http://de.communtu.org">Deutsch</a>
<% else %>
<a href="http://en.communtu.org">English</a>
<% end %>
</div>
  <!-- Registrieren -->
  <div id="register">
  <% if is_admin? %>
    <%= link_to(t(:view_layouts_application_32), "/categories") %>  | <% end %>

    <% if logged_in? %>
      <!-- log out -->
      <%= link_to t(:view_layouts_application_9), logout_path  %> |

        <% if !current_user.anonymous? %>
          <span class="register_text"><%= t(:register) %>
           <% if is_admin? %>
           </span>
           <% else %>
           | <%= t(:guest) %> </span>
           <% end %>
        <%  else %>
          <%= link_to t(:register), user_path(current_user.id) %> |
          <% if is_admin? %>
          <% else %>
            <span class="register_text"> Gast </span>
          <% end %>
        <%  end %>
    <% else %>
      <%= link_to t(:anmelden), '/session/new' %> | <%= link_to t(:register), '/users/new' %> |
      <%= link_to t(:guest), '/users/anonymous_login' %>
    <% end %>
  </div><!-- END register DIV -->
	
	
</div>

<!-- mainnavigation -->
<div class="navi">
	<!-- button -->
<%= "<a href='" + user_path(current_user) + "/user_profile/edit'>" %>
<% if params[:controller] == "user_profiles" %>
                 <%= image_tag("/images/navi_downloadon.png", :border => '0', :alt=>t(:view_layouts_application_27),:title=>t(:view_layouts_application_27)) %>  <div class="navi_eins"><%= t(:view_layouts_application_24) %></div>
<% else %>   
		 <%= image_tag("/images/navi_download.png", :border => '0', :alt=>t(:view_layouts_application_27),:title=>t(:view_layouts_application_27)) %> 			<div class="navi_eins"><%= t(:view_layouts_application_24) %></div>
<% end %>
</a>
<% @has_own_bundles = Metapackage.find_all_by_user_id(current_user.id) %>
<% if @has_own_bundles.length != 0 %>
	<%= "<a href='" + user_path(current_user) + "/metapackages/0'>" %>
<% else %>
        <%= "<a href='" + user_path(current_user) + "/metapackages/1'>" %>
<% end %>
<% if ((params[:controller] == "packages") or (params[:controller] == "users" and params[:action] == "metapackages") or (params[:controller] == "home" and params[:action] == "new_repository") or params[:controller] == "metapackages" or params[:controller] == "distributions" or params[:controller] == "repositories") %>
<%= image_tag("/images/navi_buendelon.png", :border => '0', :alt=>t(:view_layouts_application_26),:title=>t(:view_layouts_application_26)) %> <div class="navi_zwei"><%= t(:view_layouts_application_23) %></div>
<% else %>
<%= image_tag("/images/navi_buendel.png", :border => '0', :alt=>t(:view_layouts_application_26),:title=>t(:view_layouts_application_26)) %> <div class="navi_zwei"><%= t(:view_layouts_application_23) %></div>
<% end %>
		</a>
<a href="/home/about">
  <% if ((params[:controller] == "home" and params[:action] != "home") and (params[:controller] == "home" and params[:action] != "new_repository")) or params[:controller] == "articles" %>
 <%= image_tag("/images/navi_communtuon.png", :border => '0', :alt=>t(:navigation_communtu),:title=>t(:navigation_communtu))  %>

 		<div class="navi_drei">	<%= t(:view_layouts_application_25) %></div>
		</a>
  <% else %>
<%= image_tag("/images/navi_communtu.png", :border => '0', :alt=>t(:navigation_communtu),:title=>t(:navigation_communtu))  %>	
 			<div class="navi_drei"><%= t(:view_layouts_application_25) %></div>
		</a>
<% end %>
		
	<!-- user -->
<% if logged_in? %>
<div id="person">
		<%= link_to current_user.login, user_path(current_user.id), :title=>t(:view_layouts_application_22) %> 
                <%= link_to image_tag("/images/icon_user.png", :border => '0', :alt=>t(:view_layouts_application_22),:title=>t(:view_layouts_application_22)), user_path(current_user.id), :class => 'person' %>
                <%= new_message? ? link_to(image_tag("icon_msg_on.png", :alt=>t(:view_layouts_application_16),:title=>t(:view_layouts_application_16), :border=>"0"), '/inbox') : link_to(image_tag("icon_msg.png", :alt=>t(:view_layouts_application_18),:title=>t(:view_layouts_application_18), :border=>"0"), '/inbox') %>
</div>
<% end %>
</div>
<!-- content -->
<div class="content">
<!--
<% if logged_in? %>
<div align="right">
<font size="-3"><%= link_to t(:view_layouts_application_14), '/home/contact_us' %>&nbsp;&nbsp;&nbsp;<%=t(:view_layouts_application_15)%>
	<%= link_to current_user.login, user_path(current_user.id) %>
	<%= link_to image_tag("16-member.png", :border => '0', :title => current_user.login, :alt => current_user.login), user_path(current_user.id) %>
</font>
	<%= new_message? ? link_to(image_tag("message_rollover.png", :alt=>t(:view_layouts_application_16),:title=>t(:view_layouts_application_16), :border=>"0"), '/inbox') : link_to(image_tag("message.png", :alt=>t(:view_layouts_application_18),:title=>t(:view_layouts_application_18), :border=>"0"), '/inbox') %>
</div>
<% end %>
-->
<% if ((params[:controller] == "home" and params[:action] != "home") and (params[:controller] == "home" and params[:action] != "new_repository")) %>
<%= render(:partial => 'navi_communtu') %>
<div class="content1"> 
<% elsif params[:controller] == "articles" %>
<%= render(:partial => 'home/navi_communtu') %>
<div class="content1">
<% elsif params[:action] == "metapackages" and params[:controller] == "users" %>
<%= render(:partial => 'navi_bundle') %>
<div class="content1">
<% elsif ((params[:controller] == "packages") or (params[:controller] == "users" and params[:action] == "metapackages") or (params[:controller] == "home" and params[:action] == "new_repository") or params[:controller] == "metapackages" or params[:controller] == "distributions" or params[:controller] == "repositories")  %>
<%= render(:partial => 'users/navi_bundle') %>
<div class="content1">
<% elsif ((params[:controller] == "users" and params[:action] != "metapackages" or params[:controller] == "categories" or params[:controller] == "debs" or params[:controller] == "roles") and is_admin?) %>
<%= render(:partial => 'layouts/navi_admin') %>
<div class="content1">
<% elsif params[:controller] == "user_profiles" %>
<%= render(:partial => 'navi_download') %>
<div class="content1">
<% elsif params[:action] == "home" %>
<div class="contentstart">
<% else %>
<div class="content2">
<% div_helper = 0 %>
<% end %>
<% #if cookies[:_communtu_session] == nil 
%>
<% #flash[:error] = t(:no_cookies) 
%>
<!--<div class="flash"><span id="error">
<% flash[:error] %>
</span>
</div>-->
		<%= yield %>
<p></p>
<% if div_helper != 1 %>
</div>
<% end %>
<% ul = Userlog.new %>
<% ul.refferer = request.env['REQUEST_URI'] %>
<% if current_user != "" %>
<% ul.user_id = current_user.id %>
<% end %>
<% ul.save %> 
 </body>
</html>
