<!-- (c) 2008-2010 by Verein Allgemeinbildung e.V., Bremen, Germany  
     use, modification or distribution only with permission of the copyright holder -->

<%= render_flash %>
<span class="headline"><%=t(:change_passwd)%></span>
<div class="inner1">
<% form_tag url_for(:action => "update") do %>
  <p><label for="old_password" class="block"><%=t(:view_accounts_edit_1)%></label><br />
  <%= password_field_tag 'old_password', @old_password, :size => 45 %></p>
 
  <p><label for="password" class="block"><%=t(:new_passwd)%></label><br />
  <%= password_field_tag 'password', {}, :size => 45 %><br />
  <small><%=t(:four_and_fourty_letters)%></small></p>
 
  <p><label for="password_confirmation"  class="block"><%=t(:confirm_new_passwd)%></label><br />
  <%= password_field_tag 'password_confirmation', {}, :size => 45 %></p>
 
  <%= submit_tag (t(:change_passwd)) %>
 </div>
<% end %>